.grey {
  color: grey;
}

.dark-grey{
  color: #585858;
}

.priceTag {
  color: white;
  position: absolute;
  top: 5%;
  padding: 0px 10px 0px 10px;
}


.panel:hover {
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(0px, -4px);
  -webkit-transition: box-shadow 0.3s, transform 0.3s; /* Safari */
  transition: box-shadow 0.3s, transform 0.3s;
}

.panel:not(:hover) {
  transform: translate(0px, 4px);
  -webkit-transition: box-shadow 0.3s, transform 0.3s; /* Safari */
  transition: box-shadow 0.3s, transform 0.3s;
}

.textLimit {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subHeadingTextLimit {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playIcon {
  color: white;
  position: absolute;
  top: 5%;
  right: 0px;
  padding: 0px 20px 0px 10px;
}

.p-r-6px {
  padding-right: 6px;
}