<div class="panel panel-default noPadding noMargin">
  <a class="noPadding noMargin" routerLink="/activity/{{cData?.activity_url | slugify }}" style="transition: 0.3s">
    <div class="position-relative">
      <img *ngIf="cData && cData?.image_path_name" [defaultImage]="'assets/images/lazyloadimg.webp'"
        [lazyLoad]="cloudinaryImageBaseUrl+'w_500,h_270/v1/'+ environment.cloudinaryServer +'/'+cData?.image_path_name"
        alt="{{cData?.city_name}}" class="city-image" onerror="this.src='../assets/images/altImage.webp';"
        alt="ttd activity">
      <div class="priceTag grey">
        <i class="fa fa-map-marker p-b-5px p-r-6px" area-hidden="true"></i>
        <small>{{cData?.city_name}}</small>
      </div>
      <div class="playIcon" *ngIf="cData?.activity_videos==1">
        <i class="fa fa-play-circle fa-2x" area-hidden="true"></i>
      </div>
    </div>
    <div class="marLeft10">
      <h6 class="textLimit m-b-0">
        <b>{{cData?.name}}</b>
      </h6>
      <i class="fa fa-star orange"></i>
      <i class="fa fa-star orange"></i>
      <i class="fa fa-star orange"></i>
      <i class="fa fa-star orange"></i>
      <i class="fa fa-star grey"></i>
      <h6 class="m-b-3px f12 marTop5">
        <span class="dark-grey"
          *ngIf="cData?.min_default_original_price > 0 && cData?.min_default_original_price != cData?.min_default_discounted_price">
          <del>{{cData?.request_currency}} {{cData?.min_default_original_price | number : '1.2-2'}}</del>
        </span>&nbsp;
      </h6>
      <h6 class="m-0 p-b-1">
        <b>{{cData?.request_currency}} {{cData?.min_default_discounted_price | number : '1.2-2'}}
        </b><i class="fa fa-flash appColor" area-hidden="true"></i>
      </h6>
    </div>
  </a>
</div>