<div class="mobile_navbar">
    <div class="m_left">
        <a (click)="toggleMenu()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <a style="padding: 0;" *ngIf="!showKidzappLogo" [routerLink]="['/']">
            <img [lazyLoad]="cloudinaryImageBaseUrl + 'h_30,w_140/v1/'+ environment.cloudinaryServer + '/t/ttdlogo.png'"
                style="cursor: pointer;" alt="TicketsToDo Logo">
        </a>
        <a style="padding: 0;" *ngIf="showKidzappLogo" [routerLink]="['']">
            <img [lazyLoad]="cloudinaryImageBaseUrl + 'h_38,w_132/v1/'+ environment.cloudinaryServer + '/k/kidzapp-logo2.png'"
                alt="Kidzapp logo">
        </a>
    </div>
    <div class="m_right_menu">
        <a routerLink="/search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>
        <a [routerLink]="['/shoppingcart']">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge white" style="vertical-align: top;position: absolute;" *ngIf="cartCount && user">{{cartCount}}</span>
        </a>
        <a (click)="openRightMenu()">
            <i class="fa fa-user-o" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div style="height: 48px;"></div>
<div class="side_menu_shadow" (click)="closeRightMenu()"></div>
<div class="side_menu">
    <div *ngIf="isOpenMenu">
            <ul class="nav ">
                    <li class="active"><a data-toggle="pill" href="#destinations_menu">Destinations</a></li>
                    <li><a data-toggle="pill" href="#categories_menu">All Categories</a></li>
                  </ul>
                  
                  <div class="tab-content">
                    <div id="destinations_menu" class="tab-pane fade in active">
                      <div class="col-xs-12 p-t-0 p-b-0"><h2 class="title-text m-b-0">Top Destinations</h2><span id="destinationToggleBtn" class="view_more" (click)="destinationToggle()">View more</span></div>
                      <div class="col-xs-12 p-0" id="destination_list">
                            <app-city-card class="col-xs-6" [city]="destination" *ngFor="let destination of homeData?.popularDestinations" ></app-city-card>
                          </div>
                     </div>
                    <div id="categories_menu" class="tab-pane fade">
                        <div class="col-xs-12">
                      <h2 class="title-text m-b-0">Categories</h2>
                    
                      <p></p>
                    </div>
                    </div>
                  </div>
    </div>
  

</div>
<div class="right_side_menu">
    <div *ngIf="isRightMenuOpen" class="menu_header">
        <a *ngIf="user" [routerLink]="['/home']">
            <span class="user-avatar">
                <img *ngIf="user?.image" class="img-circle" src="{{user?.image}}" alt="{{user?.firstname}}" ttd="profile image">
                <img *ngIf="!user?.image && user?.image_url" class="img-circle" [lazyLoad]="user?.image_url"
                            ttd="profile image" alt="{{user?.firstname}}">
                <img *ngIf="!user?.image && !user?.image_url"  src='assets/images/avatar.png' class="img-circle" alt="avatar">

            </span>
            <span class="user-name">
                {{user?.firstname }}
            </span>
        </a>
        <a *ngIf="!user" [routerLink]="['/login']">
            <span class="user-avatar">
                <img src='assets/images/avatar.png' class="img-circle" alt="avatar">
            </span>
            <span class="user-name">
                Login/SignUp
            </span>
        </a>
    </div>
    <div *ngIf="isRightMenuOpen" class="menu_body_login">
            <a *ngIf="user" [routerLink]="['/home']">
                <i class="fa fa-user"></i> My account
            </a>
            <a *ngIf="user" [routerLink]="['/home/bookings']">
                <i class="fa fa-list-alt"></i> Bookings
            </a>
            <a *ngIf="user" (click)="logout()">
                <span>
                    <i class="fa fa-sign-out"></i> Log out</span>
            </a>
            <a href="https://support.ticketstodo.com/hc/en-us/" rel="nofollow">
                <i class="fa fa-question-circle" aria-hidden="true"></i> Help
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.dcm.ttd&hl=en">
                <i class="fa fa-android" aria-hidden="true"></i> Download App
            </a>
            <a [routerLink]=" ['/contact']">
                <i class="fa fa-phone" aria-hidden="true"></i> Contact Us</a>
            <a class="whatsapp_badge" rel="nofollow noopener" href="{{'https://api.whatsapp.com/send?phone=' + whatsapp.number +'&amp;text='+whatsapp.text}}" target="_blank" aria-label="Chat on WhatsApp">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 39"><path fill="#00E676" d="M10.7 32.8l.6.3c2.5 1.5 5.3 2.2 8.1 2.2 8.8 0 16-7.2 16-16 0-4.2-1.7-8.3-4.7-11.3s-7-4.7-11.3-4.7c-8.8 0-16 7.2-15.9 16.1 0 3 .9 5.9 2.4 8.4l.4.6-1.6 5.9 6-1.5z"></path><path fill="#FFF" d="M32.4 6.4C29 2.9 24.3 1 19.5 1 9.3 1 1.1 9.3 1.2 19.4c0 3.2.9 6.3 2.4 9.1L1 38l9.7-2.5c2.7 1.5 5.7 2.2 8.7 2.2 10.1 0 18.3-8.3 18.3-18.4 0-4.9-1.9-9.5-5.3-12.9zM19.5 34.6c-2.7 0-5.4-.7-7.7-2.1l-.6-.3-5.8 1.5L6.9 28l-.4-.6c-4.4-7.1-2.3-16.5 4.9-20.9s16.5-2.3 20.9 4.9 2.3 16.5-4.9 20.9c-2.3 1.5-5.1 2.3-7.9 2.3zm8.8-11.1l-1.1-.5s-1.6-.7-2.6-1.2c-.1 0-.2-.1-.3-.1-.3 0-.5.1-.7.2 0 0-.1.1-1.5 1.7-.1.2-.3.3-.5.3h-.1c-.1 0-.3-.1-.4-.2l-.5-.2c-1.1-.5-2.1-1.1-2.9-1.9-.2-.2-.5-.4-.7-.6-.7-.7-1.4-1.5-1.9-2.4l-.1-.2c-.1-.1-.1-.2-.2-.4 0-.2 0-.4.1-.5 0 0 .4-.5.7-.8.2-.2.3-.5.5-.7.2-.3.3-.7.2-1-.1-.5-1.3-3.2-1.6-3.8-.2-.3-.4-.4-.7-.5h-1.1c-.2 0-.4.1-.6.1l-.1.1c-.2.1-.4.3-.6.4-.2.2-.3.4-.5.6-.7.9-1.1 2-1.1 3.1 0 .8.2 1.6.5 2.3l.1.3c.9 1.9 2.1 3.6 3.7 5.1l.4.4c.3.3.6.5.8.8 2.1 1.8 4.5 3.1 7.2 3.8.3.1.7.1 1 .2h1c.5 0 1.1-.2 1.5-.4.3-.2.5-.2.7-.4l.2-.2c.2-.2.4-.3.6-.5s.4-.4.5-.6c.2-.4.3-.9.4-1.4v-.7s-.1-.1-.3-.2z"></path></svg>
                <h6 class="whatsapp_title" style="margin: 0;">WhatsApp</h6></a>

                <a class="telegram_badge" rel="nofollow noopener" href="{{'https://telegram.me/' + telegram.number}}" target="_blank" aria-label="Chat on telegram">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 48 48"
                    style=" fill:#000000;"><path fill="#29b6f6" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z"></path><path fill="#fff" d="M33.95,15l-3.746,19.126c0,0-0.161,0.874-1.245,0.874c-0.576,0-0.873-0.274-0.873-0.274l-8.114-6.733 l-3.97-2.001l-5.095-1.355c0,0-0.907-0.262-0.907-1.012c0-0.625,0.933-0.923,0.933-0.923l21.316-8.468 c-0.001-0.001,0.651-0.235,1.126-0.234C33.667,14,34,14.125,34,14.5C34,14.75,33.95,15,33.95,15z"></path><path fill="#b0bec5" d="M23,30.505l-3.426,3.374c0,0-0.149,0.115-0.348,0.12c-0.069,0.002-0.143-0.009-0.219-0.043 l0.964-5.965L23,30.505z"></path><path fill="#cfd8dc" d="M29.897,18.196c-0.169-0.22-0.481-0.26-0.701-0.093L16,26c0,0,2.106,5.892,2.427,6.912 c0.322,1.021,0.58,1.045,0.58,1.045l0.964-5.965l9.832-9.096C30.023,18.729,30.064,18.416,29.897,18.196z"></path></svg>
                    <h6 class="telegram_title" style="margin: 0;">Telegram</h6></a>
                
    </div>
</div>