@media (max-width: 768px) {
    .mobile_navbar{
        position: fixed;
        top: 0;
        z-index: 9999;
        display: flex;
        width: 100vw;
        height: 48px;
        background-color: white;
        box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    }
    .navbar{
        display: none;
    }
    .m_left{
        flex-grow: 1;
    }
    .m_left a{
        padding: 0 8px;
        font-size: 24px;
        -webkit-text-stroke: 1px white
    }
    .m_left a:active,.m_right_menu a:active{
        background-color: #eee;
    }
    .m_right_menu{
        flex-grow: 1;
        float: right;
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
        
    }
    .m_right_menu a{
        padding: 0 10px;
        font-size: 24px;
        -webkit-text-stroke: 1px white
    }
    .sidenav {
        height: auto;
        padding: 15px;
      }

    .whatsapp_badge svg {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    .whatsapp_badge .whatsapp_title{
        display: inline-block !important;
    }
    .telegram_badge svg {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    .telegram_badge .telegram_title{
        display: inline-block !important;
    }
      .row.content {
        height: auto;
      }
      .side_menu_shadow{
          background-color: rgba(0,0,0,0);
          display: none;
          height: 100%;
          overflow: hidden;
          position: fixed;
          top: 0;
          width:100vw;
          z-index: 99999;
      }
      .side_menu{
          background-color: #fff;
          height: 100%;
          font-size: 16px;
          outline: none;
          overflow-y: scroll;
          position: fixed;
          transform: translateY(120%);
          transition: 0.5s;
          width: 100%;
          border-top: 1px solid rgba(0,0,0,0.12);
          /* box-shadow: 0 2px 2px rgba(0,0,0,0.12); */
          z-index: 99;
      }
      .side_menu_header{
        display: flex;
        justify-content: flex-end;
      }
      .side_menu_header a{
        padding-right: 15px;
        font-size: 24px;
        /* text-stroke: 1px white; */
        -webkit-text-stroke: 1px white
    }
    .side_menu_footer{
        position:absolute;
        bottom: 0;
        height: 250px;
        width: 100%;
        padding: 20px;

    }

    .side_menu_footer .side_menu_footer_links{
        display: flex;
        justify-content: space-between;
    }
    .side_menu_footer_links a:active{
        background-color: #eee;
    }
    .side_menu_footer_links a{
        padding: 0 20px;
    }
    .side_menu_footer select{
        padding: 0 10px;
        margin:  0 10px;
        width: 100%;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    }
    .side_menu .nav>li{
        font-weight: bold;
        display: block;
        width: 50%;
        float: left;
        text-align: center;
    }
    .side_menu .nav>li.active{
        background-color: white;
        border-bottom: 2px solid #ef1223; 
    }
    .side_menu .nav>li>a:hover{
        background:none;
    }
    .side_menu .nav{
        border-bottom: 1px solid rgba(0,0,0,0.12);
    }
    .title-text{
        font-size: 24px;
        line-height: 29px;
        font-weight: bold;
        color: rgba(0,0,0,0.87);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }

    #destinations_menu div:first-child{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .view_more{
        font-size: 14px;
        line-height: 18px;
        padding-top: 10px;
        color: #00699e;
        white-space: nowrap;
    }

    #destination_list{
        height: 240px;
        overflow: hidden;
    }
    .right_side_menu{
        background-color: #fff;
          height: 100%;
          font-size: 16px;
          outline: none;
          overflow-y: scroll;
          position: fixed;
          right: -80%;
          transition: 0.5s;
          max-width: 90%;
          min-width: 65%;
          top: 0;
          border-top: 1px solid rgba(0,0,0,0.12);
          z-index: 99999;
    }
    .right_side_menu .menu_header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    height: 104px;
    color: #fff;
    background-image: -webkit-linear-gradient(333deg, #ef2837, #ef1222);
    background-image: linear-gradient(117deg, #ef2837, #ef1222);
    }
    .user-avatar{
        align-self: center;
        width: 48px;
        height: 48px;
        min-width: 48px;
        margin-right: 10px;
        border: 2px solid rgba(255,255,255,0.4);
        border-radius: 50%;
        overflow: hidden;
    }
    .user-avatar img{
        width: 48px;
        height: 48px;
    }

    .right_side_menu .menu_header a{
        padding: 30px 0;
        display: flex;
    }
    .user-name{
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
        align-self: center;
    font-weight: bold;
    font-weight: 600;
    color: white;
    }

    .menu_body_login{
        
        display: flex;
        flex-flow: column;
    }

    .menu_body_login a{
        padding: 8px 0;
        padding-left: 20px;
        color: #444444cf;
    }
    .menu_body_login a i{
        width: 24px;
        height: 24px;
    }
    .menu_body_login a:active{
        background-color: #f5f5f5;
    }
}






