<div class="tab">
  <button *ngFor="let region of regions;let i=index" class="tablinks2" (mouseenter)="openCity(region?.region_id)">
    <div class="regionTop"><b>{{region?.name}}</b></div>
    <div class="regionBottom">
      <span *ngFor="let country of region?.countries">
        <span *ngFor="let city of filterPopularCities(country?.cities)">
          <span class="popularCity">{{city.displayname}}</span>
        </span>
      </span>
    </div>
  </button>
</div>

<div *ngFor="let region of regions" class="col-md-12" id="{{region?.region_id}}" class="tabcontent2">
  <div class="col-md-12" *ngFor="let country of region?.countries;let j=index">
    <div class="col-md-4 text-left">
      <h6 class="m-0"><b>{{country?.name | uppercase}}</b></h6>
    </div>
    <div class="col-md-8 padTop5 text-left">
      <span class="darkGrey p-r-2 clickable noOutline" *ngFor="let city of country?.cities"
        (click)="goTo('city' + '/' + city?.city_url)">
        {{city?.displayname | titlecase}}
      </span>
    </div>
  </div>
</div>