        <app-header class="bottomMenu" name="Child"></app-header>
        <app-header-mobile-nav></app-header-mobile-nav>
    <div class="">
        <div class="col-xs-12 helpbanner">
            <h1 class="white text-center p-0-xs f30-xs p-1">
                <b>Hello. How can we help you?</b>
            </h1>
        </div>
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="panel panel-default greyBackground">
                    <div class="panel-body">
                        <h4 class="appColor">Ask TicketsToDo</h4>
                        <hr>
                        <form [formGroup]="contactUsForm.getForm()" (ngSubmit)="onSubmit()">
                            <div formGroupName='ticket'>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                    <label for="subject">Type of question
                                        <span class="appColor"> *</span>
                                    </label>
                                    <select class="form__field-small" formControlName="subject" placeholder="Please">
                                        <option value="service">Amend a booking</option>
                                        <option value="cancel_booking">Cancel a Booking</option>
                                        <option value="status_existing_booking">Check Status of Existing Booking
                                        </option>
                                        <option value="general_inquiry">General Inquiry</option>
                                        <option value="web_problem">Report Website Problem </option>
                                    </select>
                                    <span class="help-block has-error"
                                        *ngIf="contactUsForm.getChildGroup('ticket').getError('subject')">
                                        {{ contactUsForm.getChildGroup('ticket').getError('subject') }}
                                    </span>
                                </div>
                                <div formArrayName='custom_fields'>
                                    <div class="col-xs-12 col-sm-12 col-md-6" formGroupName="0">
                                        <div class="form-group">
                                            <label for="name">Name
                                                <span class="appColor"> * </span>
                                            </label>
                                            <input type="" class="form__field-small" name="name" formControlName="value"
                                                placeholder="Name">
                                            <span class="help-block has-error"
                                                *ngIf="contactUsForm.getChildGroup('ticket').getChildGroup('custom_fields',0).hasError('value')">
                                                {{
                                                contactUsForm.getChildGroup('ticket').getChildGroup('custom_fields',0).getError('value')
                                                }}
                                            </span>
                                        </div>
                                    </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6" formGroupName="1">
                                            <div class="">
                                                <label for="subject">Email
                                                    <span class="appColor"> * </span>
                                                </label>
                                                <input type="" class="form__field-small" name="email"
                                                    formControlName="value" placeholder="Email">
                                                <span class="help-block has-error"
                                                    *ngIf="contactUsForm.getChildGroup('ticket').getChildGroup('custom_fields',1).hasError('value')">
                                                    {{
                                                    contactUsForm.getChildGroup('ticket').getChildGroup('custom_fields',1).getError('value')
                                                    }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6" formGroupName="2">
                                            <div class="form-group">
                                                <label for="optional">Order number
                                                    <span class="appColor"> </span>
                                                </label>
                                                <input type="" class="form__field-small" name="optional"
                                                    formControlName="value" placeholder="Optional">
                                                <span class="help-block has-error"
                                                    *ngIf="contactUsForm.getChildGroup('ticket').getChildGroup('custom_fields',2).hasError('value')">
                                                    {{
                                                    contactUsForm.getChildGroup('ticket').getChildGroup('custom_fields',2).getError('value')
                                                    }}
                                                </span>
                                            </div>
                                        </div>

                                    <div class="col-xs-12" formGroupName="3">
                                        <div class="form-group">
                                            <label for="Destination">Destination
                                                <span class="appColor"> * </span>
                                            </label>
                                            <app-city-selector [defaultCityValue]="defaultCityValue"
                                                (city)="setCity($event)"></app-city-selector>
                                            <span class="help-block has-error"
                                                *ngIf="contactUsForm.getChildGroup('ticket').getChildGroup('custom_fields',3).hasError('value')">
                                                {{
                                                contactUsForm.getChildGroup('ticket').getChildGroup('custom_fields',3).getError('value')
                                                }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" formGroupName='comment'>
                                    <div class="form-group">
                                        <label for="body">Your Question
                                            <span class="appColor"> * </span>
                                        </label>
                                        <textarea class="form__field-small" rows="5" formControlName="body"
                                            placeholder="Please enter your question, your booking number (if you have it) and the name of the activity you're enquiring about">
                                    </textarea>
                                        <span class="help-block has-error"
                                            *ngIf="contactUsForm.getChildGroup('ticket').getChildGroup('comment').getError('body')">
                                            {{
                                            contactUsForm.getChildGroup('ticket').getChildGroup('comment').getError('body')
                                            }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-danger btn-lg" #loginButton>SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p-2">
                <legend>
                    <i class="	fa fa-globe"></i> Our office</legend>
                <address>
                    <strong>Digital Conversions Media DMCC</strong>
                    <br> 2501 Platinum Tower
                    <br> Po Box 938899, Dubai
                    <br> United Arab Emirates
                    <br>
                    <abbr title="Phone">P :</abbr> +97144425058
                </address>
            </div>
        </div>
    </div>
    <app-footer-desktop></app-footer-desktop>
    <app-footer-mobile></app-footer-mobile>