<app-header [text]="text" class="bottomMenu" name="Child"></app-header>
<app-header-mobile-nav>
</app-header-mobile-nav>
<div id="aboutus" [innerHTML]='pageContent'></div>
<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>