.loader {
  position: absolute;
			  left: 50%;
			  z-index: 1;
			  width: 150px;
			  height: 150px;
			  border: 10px solid #f3f3f3;
			  border-radius: 50%;
			  border-top: 10px solid black;
			  width: 80px;
			  height: 80px;
			  -webkit-animation: spin 2s linear infinite;
			  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}