<app-header class="bottomMenu" name="Child"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>
<div class="col-xs-12 col-md-12 greyBackground">

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 bhoechie-tab-menu p-0">
    <div class="list-group">
      <a class=" col-xs-6 col-sm-6 col-md-12 list-group-item active text-center" [routerLink]="['/home']">
        <i class="fa fa-id-card-o" aria-hidden="true"></i><br />My Account
      </a>
      <a class="col-xs-6 col-sm-6 col-md-12 list-group-item text-center" [routerLink]="['/home/bookings']">
        <i class="fa fa-list-alt" aria-hidden="true"></i><br />Bookings
      </a>
    </div>
  </div>
  <div class="panel panel-default col-xs-12 col-sm-12 col-md-8 ">
    <div class="panel-body">
      <div class="col-xs-6 col-md-6">
        <h3 class="appColor m-t-0 f20-xs">My Account</h3>
      </div>
      <div class="col-xs-6 col-md-6 text-right">
          <button (click)="logOut()" class="btn btn-danger">
            <i class="fa fa-power-off" aria-hidden="true"> </i>
            Log Out
          </button>
        </div>
      <hr>
      <div class="col-md-12 col-xs-12">
        <div class=" col-xs-12 col-sm-12 col-md-12 text-center p-b-0">
          <img *ngIf="user.image && !userProfileForm.getValue('image_url')" src="{{user.image}}" class="profileImage"
            alt="{{user?.name}}">
          <img *ngIf="userProfileForm.getValue('image_url')" [src]="userProfileForm.getValue('image_url')" class="profileImage"
            alt="{{user?.name}}">
          <i *ngIf="!user?.image && !userProfileForm.getValue('image_url')" class="fa fa-user-circle fa-5x grey"
            aria-hidden="true"></i>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center p-t-0">
          <h4>{{user?.name}}</h4>
          <form action="" method="post" enctype="multipart/form-data" id="myform">
            <label for="fileToUpload" class="custom-file-upload">
              Change Avatar
            </label>
            <div *ngIf="uploadingImage">
              <h5><i class="fa fa-circle-o-notch fa-spin"></i> Uploading...
              </h5>
            </div>
            <input id="fileToUpload" (change)="uploadImage()" type="file" />
          </form>
        </div>
        
        <div class="col-xs-12">
          <form [formGroup]="userProfileForm.getForm()" (ngSubmit)="editShopperdata()">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <div class="form-group">
                <label for="title">Title <span class="appColor"> *</span></label>
                <select class="form__field-small" formControlName="title">
                  <option value="MR">MR</option>
                  <option value="MRS">MRS</option>
                  <option value="MISS">MISS</option>
                </select>
                <span class="help-block has-error" *ngIf="userProfileForm.hasError('title')">
                  {{ userProfileForm.getError('title') }}
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="form-group">
                <label for="firstname">First name <span class="appColor"> *</span></label>
                <input type="" class="form__field-small" id="firstname" formControlName="firstname">
                <span class="help-block has-error" *ngIf="userProfileForm.hasError('firstname')">
                  {{ userProfileForm.getError('firstname') }}
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="form-group">
                <label for="middlename">Middle name</label>
                <input type="" class="form__field-small" id="middlename" formControlName="middlename">
                <span class="help-block has-error" *ngIf="userProfileForm.hasError('middlename')">
                  {{ userProfileForm.getError('middlename') }}
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="form-group">
                <label for="lastname">Last name <span class="appColor"> *</span></label>
                <input type="" class="form__field-small" id="lastname" formControlName="lastname">
                <span class="help-block has-error" *ngIf="userProfileForm.hasError('lastname')">
                  {{ userProfileForm.getError('lastname') }}
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="form-group" [ngClass]="userProfileForm.hasError('email') ? 'has-error': ''">
                <label for="lastname">Email:</label>
                <input type="" class="form__field-small" id="email" formControlName="email">
                <span class="help-block has-error" *ngIf="userProfileForm.hasError('email')">
                  {{ userProfileForm.getError('email') }}
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="form-group" [ngClass]="userProfileForm.hasError('phone') ? 'has-error': ''">
                <label for="phone">Phone:</label>
                <input type="" class="form__field-small" id="phone" formControlName="phone">
                <span class="help-block has-error" *ngIf="userProfileForm.hasError('phone')">
                  {{ userProfileForm.getError('phone') }}
                </span>
              </div>
            </div>
            <div class="col-xs-12">
              <button class="btn btn-danger btn-lg" type="submit"> Save</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer-desktop></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>