.profileImage {
    height: 8em;
    width: 8em;
    border-radius: 50%
  }
  
  input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    cursor: pointer;
    color: #EF1223;
  }
  
  /*  bhoechie tab */
  div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
  }
  
  div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  
  div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
  }
  
  div.bhoechie-tab-menu div.list-group > a {
    margin-bottom: 0;
  }
  
  div.bhoechie-tab-menu div.list-group > a .glyphicon,
  div.bhoechie-tab-menu div.list-group > a .fa {
    color: #EF1223;
  }
  
  div.bhoechie-tab-menu div.list-group > a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
  }
  
  div.bhoechie-tab-menu div.list-group > a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
  }
  
  div.bhoechie-tab-menu div.list-group > a.active,
  div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
  div.bhoechie-tab-menu div.list-group > a.active .fa {
    background-color: #EF1223;
    background-image: #EF1223;
    color: #ffffff;
  }
  
  div.bhoechie-tab-menu div.list-group > a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #EF1223;
  }
  
  div.bhoechie-tab-content {
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
  }
  
  @media (max-width: 768px) { 
    div.bhoechie-tab-menu div.list-group > a.active:after
    {
      display: none;
    }
  }
  