<app-header [requestedCurrency]="currency" (currency)="currencyChanged($event)" class="bottomMenu"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>
<div class="col-xs-12 col-md-12 greyBackground">
  <div class="container">
    <div clas="col-xs-12">
      <h5>Added to shopping Cart!</h5>
      <img class="col-xs-6 col-sm-3 col-md-2" src="{{cartData?.cart_details?.data[0]?.activity_image}}" height="110">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
        <h6 class=""
          *ngIf="cartData?.cart_details && cartData?.cart_details?.data[0] && cartData?.cart_details?.data[0].booking_activity_time">
          <b>Time: </b> <span>{{cartData?.cart_details?.data[0].booking_activity_time}}</span></h6>
        <h6 class=""><b>Date: </b> <span>{{cartData?.cart_details?.data[0].booking_activity_date}}</span></h6>
        <h6 class=""><b>Unit:</b>
          <span *ngFor="let unit of cartData?.cart_details?.data[0].group_price_details">
            {{unit?.quantity}} x {{unit?.age_group_name}}</span>
        </h6>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1">
        <h6 class=""><b>Subtotal: </b> <span>{{cartData?.cart_details?.data[0].req_currency}}
            {{cartData?.cart_details?.package_total_cost}}</span>
        </h6>
        <button class="btn btn-default" (click)="goBack()">Keep Looking</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" [routerLink]="['/shoppingcart']">Checkout</button>
      </div>
    </div>

    <div class="col-xs-12 m-t-9">
      <h5 class="bold">Check out more fun things to do nearby</h5>
      <card class="col-xs-12 col-sm-6 col-md-3" [cData]="cartData?.recommended_activity[0]"></card>
      <card class="col-xs-12 col-sm-6 col-md-3" [cData]="cartData?.recommended_activity[1]"></card>
      <card class="col-xs-12 col-sm-6 col-md-3" [cData]="cartData?.recommended_activity[2]"></card>
      <card class="col-xs-12 col-sm-6 col-md-3" [cData]="cartData?.recommended_activity[3]"></card>
    </div>
  </div>
</div>
<app-footer-desktop></app-footer-desktop>
<app-footer-mobile (currency)="currencyChanged($event)"></app-footer-mobile>
