<app-header class="bottomMenu activityPageHeader" [noOfItem]="noOfItem"
  [requestedCurrency]="activityData[0]?.request_currency" [cityName]="cityName" [cityId]="cityId"
  (currency)="currencyChanged($event)">
</app-header>
<app-header-mobile-nav>
</app-header-mobile-nav>

<!--<app-search-desktop-header class="activityPageSearch"></app-search-desktop-header>-->
<div class="activity_nav_sections">
  <div class="container">
    <div class="activity_nav_container" id="activity_nav_container">
      <a class="activity_nav active" href="#packageOptions">Package Options</a>
      <a class="activity_nav " href="#what-to-expect">What To Expect</a>
      <a class="activity_nav " href="#activity-information">Activity Information</a>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0 bg-white" data-spy="scroll" data-target=".navbar"
  data-offset="50">
  <!--Video player-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div *ngIf="!play">
          <div class="activity-img position-relative">
            <img
              src="{{cloudinaryImageBaseUrl + imgWidth+',e_blur:3000/v1/'+environment.cloudinaryServer+'/' +  optimizeImage(activityData[0]?.thumbnail_image_path_name)}}"
              [lazyLoad]="afterinit ? cloudinaryImageBaseUrl + imgWidth +'/v1/'+environment.cloudinaryServer+'/' +  optimizeImage(activityData[0]?.thumbnail_image_path_name) : ''"
              class="activity-thumbnail-image" alt="{{activityData[0]?.name}}"
              onerror="this.src='../assets/images/lazyloadimg.webp';">
            <div *ngIf="activityData[0]?.videos[0]?.video_url" class="playButton" (click)="playVideo()">
              <i class="fa fa-play-circle fa-5x white" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div [hidden]="!play" class="video-wrapper">
          <div class="col-xs-2 m-0-xs p-0-xs"></div>
          <video id="myVideo" width="100%" height="550px" controls>
            <source src="{{activityData[0]?.videos[0]?.video_url}}" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="container-fluid" id="stickyContainer">
    <div class="row">
      <div class="container p-0-xs">
        <div class="col-xs-12 col-md-8">
          <ol class="breadcrumb m-b-0">
            <li>
              <a [routerLink]="['']">Home</a>
            </li>
            <li>
              <a [routerLink]="['/city', activityData[0]?.city_url]">{{activityData[0]?.city_name}}</a>
            </li>
            <li class="active">{{activityData[0]?.name}}</li>
          </ol>
          <div class="col-md-12 col-xs-12">
            <h1 class="marTop15 f32 bold">
              {{activityData[0]?.name}}
            </h1>
            <h2 class="marTop15 f14 lineHeight22">{{activityData[0]?.activity_description}}</h2>
            <hr class="p-b-0 m-b-0">
          </div>

          <div class="col-xs-12 darkGrey noPadding noMargin">
            <div class="col-xs-12 noPadding noMargin">
              <ul class="quickInfo">
                <li *ngIf="activityData[0]?.refund_cancel_policy_status == 1">
                  <label class="width35px m-0 "><img [defaultImage]="'assets/images/lazyloadimg.webp'"
                      [lazyLoad]="'assets/images/refund-icon.png'" height="28" alt="ttd logo"></label>
                  <div class="icon-div">
                    <div class="t_v_mid">{{activityData[0]?.refund_cancel_policy}}</div>
                  </div>
                </li>
                <li *ngIf="activityData[0]?.ticket_date_type_status == 1">
                  <i class="fa fa-calendar fa-2x width35px vertical-align-middle"></i>
                  <div class="icon-div">
                    <div class="t_v_mid">{{activityData[0]?.ticket_date_type}}</div>
                  </div>
                </li>
                <li *ngIf="activityData[0]?.print_show_policy_status == 1">
                  <i class="fa fa-print fa-2x width35px vertical-align-middle"></i>
                  <div class="icon-div">
                    <div class="t_v_mid">{{activityData[0]?.print_show_policy}}</div>
                  </div>
                </li>
                <li *ngIf="activityData[0]?.ticket_voucher_rule_status == 1">
                  <i class="fa fa-ticket fa-2x width35px vertical-align-middle"></i>
                  <div class="icon-div">
                    <div class="t_v_mid">{{activityData[0]?.ticket_voucher_rule}}</div>
                  </div>
                </li>
                <li *ngIf="activityData[0]?.transport_option_status == 1">
                  <i class="fa fa-taxi fa-2x width35px vertical-align-middle"></i>
                  <div class="icon-div">
                    <div class="t_v_mid">{{activityData[0]?.transport_option}}</div>
                  </div>
                </li>
                <li *ngIf="activityData[0]?.persons_allowed_status == 1">
                  <i class="fa fa-user-o fa-2x width35px vertical-align-middle"></i>
                  <div class="icon-div">
                    <div class="t_v_mid">{{activityData[0]?.persons_allowed}}</div>
                  </div>
                </li>
                <li *ngIf="activityData[0]?.activity_duration_status == 1">
                  <i class="fa fa-clock-o fa-2x width35px vertical-align-middle"></i>
                  <div class="icon-div">
                    <div class="t_v_mid">{{activityData[0]?.activity_duration}}</div>
                  </div>
                </li>
                <li *ngIf="activityData[0]?.available_language_status == 1">
                  <i class="fa fa-globe fa-2x width35px vertical-align-middle"></i>
                  <div class="icon-div">
                    <div class="t_v_mid">{{activityData[0]?.available_language}}</div>
                  </div>
                </li>
              </ul>
              <div class="col-xs-12">
                <hr class="p-0 m-0">
              </div>
            </div>
          </div>
          <div class="col-xs-12 highlightsList" *ngIf="activityData[0]?.activity_highlights">
            <div [innerHTML]="activityData[0]?.activity_highlights"></div>
          </div>
        </div>

        <!--Scroll fix-->
        <div class="col-md-4 hide-xs" *ngIf="!canAddToCart && !hideBookFixedDiv">
          <div class="noMargin noPadding scrollFix" id="stickyBox">
            <div class="col-xs-12 panel panel-default">
              <p class="t_gray padLeft10">TicketsToDo Price Guaranteed
                <i class="fa fa-exclamation-circle marLeft5 tooltip1"><span class="tooltiptext1">
                  <b>TicketsToDo Price Guarantee</b><br><br>
                  Find a cheaper ticket, tour or activity and we'll refund DOUBLE the difference! (T&Cs apply)
                </span></i>
              </p>
              <h4 class="padLeft10">
                <b>{{activityData[0]?.request_currency}}
                  {{activityData[0]?.min_default_discounted_price | number : '1.2-2'}}</b>
                <h6 class="noMargin marLeft10 display-inline-block">
                  <s class="p-b-0"
                    *ngIf="activityData[0]?.min_default_original_price > 0 && activityData[0]?.min_default_original_price != activityData[0]?.min_default_discounted_price">
                    {{activityData[0].request_currency}}
                    {{activityData[0]?.min_default_original_price | number : '1.2-2'}}
                  </s>
                </h6>
              </h4>
              <div class="col-xs-12 p-b-1">
                <button class='btn btn-danger btn-md btn-lg btn-block' id="book" (click)="clickBookFixedDiv()">
                  <span class="white">
                    <i class="fa fa-bolt marRight5" aria-hidden="true"></i>
                    <b>BOOK</b>
                  </span>
                </button>
              </div>
              <div class="col-xs-12 noMargin noPadding">
                <p class="padLeft10 marBtm3"
                  *ngIf="avail_conf && avail_conf.availability !== undefined">
                  <i class="fa fa-clock-o grey width22px"></i>
                  {{avail_conf.availability}}</p>
                <p class="padLeft10 marBtm10"
                  *ngIf="avail_conf && avail_conf.confirmation !== undefined">
                  <i class="fa fa-bolt appColor width22px"></i>
                  {{avail_conf.confirmation}}</p>
                <hr class="m-0">
              </div>
            </div>
          </div>
        </div>

        <!--Add To cart summary-->
        <div class="col-xs-4 col-lg-4 col-md-4" *ngIf="canAddToCart && addToCartForm.isValid()">
          <div class="noMargin noPadding" id="stickyBox">
            <div class="col-xs-11 panel panel-default p-b-0 stickyBox_booking_details">
              <h5>Booking Details</h5>
              <div class="col-xs-12">
                <div class="row borderBottom">
                  <div class="col-xs-12" [ngClass]="{'p-b-0': addToCartForm.getValue('booking_activity_time')}">Date :
                    <span
                      class="pull-right">{{addToCartForm.getValue('booking_activity_date') | date : 'EEEE dd-MMM-yyyy'}}</span>
                  </div>
                  <div class="col-xs-12" *ngIf="addToCartForm.getValue('booking_activity_time')">Time
                    :
                    <span class="pull-right">{{addToCartForm.getValue('booking_activity_time')}}</span>
                  </div>
                </div>
                <div class="row borderBottom">
                  <div class="col-xs-12 p-b-0">
                    Total Participants :
                    <span class="pull-right">{{addToCartForm.getValue('total_participants')}}</span>
                  </div>
                  <div class="col-xs-12">
                    Total Amount :
                    <span class="pull-right">{{addToCartForm.getValue('currency')}}
                      {{ addToCartForm.getValue('total_amount') | number : '1.2-2' }}</span>
                  </div>
                </div>

                <div class="col-xs-12 p-0 marTop5">
                  <div class="col-6">
                    <button class="btn btn-danger btn-block summaryBtn" (click)="addToCart()" #addToCartButton><i
                        class="fa fa-cart-plus fa-lg"></i>&nbsp;ADD TO CART
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-warning btn-block summaryBtn" (click)="addToCart(1)" #addToCartButton>BOOK
                      NOW
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 greyBackground" #packages id="packageOptions">

        <div class="container packageContainer p-0-xs">
          <div class="checkingAvailability" *ngIf="checkingAvailability">
            <app-loading></app-loading>
            <h6 class="loadingText">Checking availability...</h6>
          </div>
          <div id="packages" (scroll)="onScroll($event)">
            <h2 class="marTop15 f24 bold">
              <b>Package Options</b>
            </h2>
            <br>
            <div class="m-b-20px">
              <label>Please select a participation date</label>
              <div class="row" #calender>
                <div class="col-xs-8">
                 <app-full-calendar *ngIf="!isServer && shouldShowCalender" calendarId="participationCalendar"
                    inputId="participationInput" [events]="[]">
                  </app-full-calendar>
                </div>
              </div>
            </div>

            <div class="col-xs-12 p-0" *ngFor="let package of activityData[0]?.package_details;let i = index">

              <!--Affiliated package-->
              <div class="packageBox col-xs-12 col-md-8"
                *ngIf="(package?.is_affiliate == 1) && package?.affiliate_url;else addToCartPanel">
                <div class="col-xs-7 col-md-8 p-0">
                  <label class="name">{{package?.package_name}}</label>
                  <p class="detail m-0" data-toggle="collapse" attr.data-target="#demo{{package?.package_id}}">
                    Package Details
                    <i class="fa fa-fw fa-chevron-down"></i>
                  </p>
                </div>
                <div class="col-xs-5 col-md-4 p-0">
                  <div class="pull-right">
                    <a *ngIf="package.affiliate_url" href="{{package?.affiliate_url}}" target="_blank">
                      <button class="btn btn-danger">BOOK</button>
                    </a>
                  </div>
                  <div class="pull-right m-r-1 m-0-xs" *ngIf="package.price_details">
                    <label class="pull-right price-primary text-nowrap">{{activityData[0]?.request_currency}}
                      {{package.price_details[0]?.package_default_discounted_price | number : '1.2-2'}}
                    </label>
                    <br>
                    <label class="pull-right price-secondary"
                      *ngIf="package.price_details[0]?.package_default_original_price && package.price_details[0]?.package_default_original_price > 0  && package.price_details[0]?.package_default_original_price != package.price_details[0]?.package_default_discounted_price">
                      <del>{{activityData[0]?.request_currency}}
                        {{package?.price_details[0]?.package_default_original_price | number : '1.2-2'}}
                      </del>
                    </label>
                  </div>
                </div>
                <div class="col-xs-12 col-md-8">
                  <div id="demo{{package?.package_id}}" class="collapse col-xs-12 p-0">
                    <ul class="col-xs-12" *ngIf="package?.package_details">
                      <li>{{package?.package_details}}</li>
                      <li *ngIf="package?.package_more_details">{{package?.package_more_details}}
                      </li>
                    </ul>

                    <div class="col-xs-12 p-0" *ngIf="package?.package_terms_conditions">
                      <h5 class="m-b-0">Terms and conditions :</h5>
                      <p>{{package?.package_terms_conditions}}</p>
                    </div>

                    <div class="col-xs-12 p-0"
                      *ngIf="package?.booking_details && package?.booking_details[0] && package?.booking_details[0].inclusions">
                      <h5 class="m-b-1">Inclusions :</h5>
                      <p class="alignList" [innerHTML]="package?.booking_details[0].inclusions">
                      </p>
                    </div>

                    <div class="col-xs-12 p-0"
                      *ngIf="package?.booking_details && package?.booking_details[0] && package?.booking_details[0].exclusions">
                      <h5 class="m-b-1">Exclusions :</h5>
                      <p class="alignList" [innerHTML]="package?.booking_details[0].exclusions">
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!--Non affiliate packge-->
              <ng-template #addToCartPanel>
                <div class="packageBox col-xs-12 col-md-8" id="element{{package?.package_id}}">
                  <div class="col-xs-7 col-md-8 p-0">
                    <label class="name">{{package?.package_name}}</label>
                    <p class="detail m-0" data-toggle="collapse" attr.data-target="#demo{{package?.package_id}}">
                      Package Details
                      <i class="fa fa-fw fa-chevron-down"></i>
                    </p>
                  </div>
                  <div class="col-xs-5 col-md-4 p-0">
                    <div class="pull-right m-l-1 m-b-1">
                      <button class="btn mbtn-select" *ngIf="!package.affiliate_url"
                        (click)="setDate(package, 'element'+package?.package_id, i)"
                        [ngClass]="package.package_id==selectedPackageId ? 'mbtn-selected' : ''"
                        [innerHtml]="package.package_id==selectedPackageId ? 'SELECTED':'SELECT'"></button>
                    </div>
                    <div class="pull-right" *ngIf="package.price_details">
                      <label class="pull-right price-primary text-nowrap">{{activityData[0]?.request_currency}}
                        {{package.price_details[0]?.package_default_discounted_price | number : '1.2-2'}}
                      </label>
                      <br>
                      <label class="pull-right price-secondary"
                        *ngIf="package.price_details[0]?.package_default_original_price && package.price_details[0]?.package_default_original_price > 0  && package.price_details[0]?.package_default_original_price != package.price_details[0]?.package_default_discounted_price">
                        <del>{{activityData[0]?.request_currency}}
                          {{package?.price_details[0]?.package_default_original_price | number : '1.2-2'}}
                        </del>
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-12 p-0">
                    <div id="demo{{package.package_id}}" class="collapse col-xs-12 p-0">
                      <ul class="col-xs-12" *ngIf="package?.package_details">
                        <li>{{package?.package_details}}</li>
                        <li *ngIf="package?.package_more_details">
                          {{package?.package_more_details}}
                        </li>
                      </ul>
                      <div class="col-xs-12 p-0" *ngIf="package?.package_terms_conditions">
                        <h5 class="m-b-0">Terms and conditions :</h5>
                        <p>{{package?.package_terms_conditions}}</p>
                      </div>
                      <div class="col-xs-12 p-0"
                        *ngIf="package?.booking_details && package?.booking_details[0] && package?.booking_details[0].inclusions">
                        <h5 class="m-b-1">Inclusions :</h5>
                        <p class=" alignList" [innerHTML]="package?.booking_details[0].inclusions"></p>
                      </div>
                      <div class="col-xs-12 p-0"
                        *ngIf="package?.booking_details && package?.booking_details[0] && package?.booking_details[0].exclusions">
                        <h5 class="m-b-1">Exclusions :</h5>
                        <p class="alignList" [innerHTML]="package?.booking_details[0].exclusions"></p>
                      </div>
                    </div>
                  </div>
                  <div id="addTocart{{package?.package_id}}" class="panel-collapse col-xs-12 p-0"
                    [class.collapse]='current != i'>
                    <div class="col-xs-12 p-0">
                      <form [formGroup]="addToCartForm.getForm()" (ngSubmit)="onFormSubmit(package)">
                        <div class="col-xs-9 p-l-0" style="z-index:9">
                          <div class="form-group"
                            [ngClass]="addToCartForm.hasError('booking_activity_date') ? 'has-error': ''">
                            <h6 class="">Select Date</h6>
                            <span class="">
                              <app-full-calendar *ngIf="!isServer  && shouldShowCalender"
                                (selectedPacksageId)="selectedCalenderPackage($event)"
                                packageId="{{package?.package_id}}"
                                calendarId="activityCalendar-{{package?.package_id}}"
                                inputId="activityInput-{{package?.package_id}}"
                                [dateRangeStart]="package.schedule_details[0]?.activity_startdate"
                                [dateRangeEnd]="package.schedule_details[0]?.activity_enddate"
                                [events]="jsonParse(package.schedule_details[0]?.events)">
                              </app-full-calendar>
                            </span>
                          </div>
                        </div>
                        <div class="col-xs-5 p-r-0" *ngIf="canSelectTime">
                          <div class="form-group"
                            [ngClass]="addToCartForm.hasError('booking_activity_time') ? 'has-error': ''">
                            <h6 class="">Select Time</h6>
                            <select class="form-control select-dropdown" id="select"
                              formControlName="booking_activity_time" (change)="loadPackageGroups($event.target.value)">
                              <option *ngFor="let slot of timeSlots" value="{{slot}}">
                                {{slot}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-9 p-0" formArrayName="group_price_details" *ngIf="canSelectGroup">
                          <h6 class="">Package Quantity</h6>
                          <div class="col-xs-12 p-0" *ngFor="let group of packageGroups;let i=index">
                            <div class="packageGroupList" *ngIf="group?.status == 1" id="{{group?.group_price_id}}"
                              [formGroupName]="i">
                              <div class="left">
                                <p class="m-0">{{group?.age_group_name}}</p>
                              </div>
                              <div class="right">
                                <div class="package-price">
                                  <del class="del-price"
                                    *ngIf="group?.original_price > 0 && group?.original_price != group?.discounted_price">
                                    {{activityData[0]?.request_currency}}
                                    {{group?.original_price | number : '1.2-2'}}
                                  </del>
                                  <span>{{activityData[0]?.request_currency}}
                                    {{group?.discounted_price | number : '1.2-2'}}</span>
                                </div>
                                <span class="select m_radius_box">
                                  <i class="fa fa-minus float-left"
                                    [ngClass]="getQuantityValue(i) <= group?.min_quantity ? 'quantity-disabled': ''"
                                    aria-hidden="true" (click)="removeQuantity(i, group?.min_quantity)"></i>
                                  <input type="text" class="float-left cursor f14" name="quantity"
                                    formControlName="quantity" readonly>
                                  <i class="fa fa-plus float-left"
                                    [ngClass]="getQuantityValue(i) >= group?.max_quantity ? 'quantity-disabled': ''"
                                    aria-hidden="true" (click)="addQuantity(i, group?.max_quantity)"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 p-0 d-flex">

                          <div class="col-xs-12 col-sm-6 p-0 p-t-1">
                            <div *ngIf="totalPrice && canSelectGroup">
                              <div id="amount-detail">Amount Details <i class="fa fa-fw fa-chevron-down"></i></div>
                              <div id="amount-detail-card">
                                <div class="d-flex space-between">
                                  <span>Date
                                  </span><span>{{addToCartForm.getValue('booking_activity_date') | date : 'EEEE dd-MMM-yyyy'}}</span>
                                </div>
                                <hr />
                                <div class="d-flex space-between" *ngFor="let group of packageGroups;let k=index">
                                  <span>{{group?.age_group_name}}
                                  </span><span>{{addToCartForm.getValue('group_price_details')[k]['quantity']}}
                                    x</span><span>{{activityData[0]?.request_currency}}
                                    {{group?.discounted_price}}</span>
                                </div>
                              </div>
                              <span class="activity-total-price">{{activityData[0]?.request_currency}}
                                {{totalPrice}}</span>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 p-0 p-t-1" style="position: relative;min-height: 55px;">
                            <button class="btn btn-default m-r-1" style="position: absolute;bottom: 0;right: 55px;"
                              (click)="cancelAddToCart(package)">
                              Cancel
                            </button>
                            <button class="btn btn-danger" style="position: absolute;bottom: 0;right: 0px;"
                              type="submit"> OK</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </ng-template>

            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="col-xs-12" id='what-to-expect'>
        <div class="container p-0-xs">
          <div class="col-xs-12 col-md-8">
            <h2 class="marTop15 f24 bold">
              <b>What To Expect</b>
            </h2>
            <div [innerHTML]="activityData[0]?.whatToExpect"></div>
            <br>
            <ng-container *ngFor="let activityImage of activityData[0]?.images">
              <img *ngIf="activityImage.status" [defaultImage]="'assets/images/lazyloadimg.webp'"
                [lazyLoad]="cloudinaryImageBaseUrl +'v1/'+environment.cloudinaryServer+'/' + activityImage?.image_path_name"
                alt="What to expect" width="100%">
              <p *ngIf="activityImage.status" class="marTop5"><i class="fa f18 fa-caret-up" aria-hidden="true"></i><span
                  class="marLeft10">{{activityImage?.description}}</span>
              </p>
            </ng-container>
            <hr class="m-b-0">
          </div>
        </div>
      </div>

      <div class="col-xs-12" id="activity-information">
        <div class="container p-0-xs">
          <div class="col-xs-12 col-md-8">
            <h2 class="marTop15 f24 bold">
              <b>Activity Information</b>
            </h2>
            <div class="extra-content p-b-0 m-t-2"
              *ngIf="activityData && activityData[0] && activityData[0]?.confirmation">
              <h4>Confirmation:</h4>
              <div class="" [innerHTML]="activityData[0]?.confirmation"></div>
            </div>
          </div>

          <div class="col-xs-12 col-md-8 extra-content p-b-0"
            *ngIf="activityData && (activityData[0] && activityData[0]?.insider_tips || activityData[0]?.package_additional_information)">
            <div class="additional_div">
              <div class="p-b-2" *ngIf="activityData && activityData[0] && activityData[0]?.insider_tips">
                <h4>Insider Tips:</h4>
                <div class="" [innerHTML]="activityData[0]?.insider_tips"></div>
              </div>
              <div *ngIf="activityData && activityData[0] && activityData[0]?.package_additional_information">
                <h4>Additional Information:</h4>
                <ul>
                  <div *ngFor="let info of activityData[0]?.package_additional_information">
                    <li *ngIf="info?.description">
                      {{info?.description}}
                    </li>
                    <li *ngIf="info?.more_description">
                      {{info?.more_description}}
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-12 p-b-0" *ngIf="activityData && activityData[0] && activityData[0]?.venue_location">
        <div class="container p-0-xs">
          <div class="col-xs-12 col-md-8 extra-content p-b-0">
            <h2 class="marTop15 f24 bold">Know Before You Go:</h2>
            <div class="" [innerHTML]="activityData[0]?.venue_location"></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 p-b-0" *ngIf="activityData && activityData[0] && activityData[0]?.how_to_use">
        <div class="container p-0-xs">
          <div class="col-xs-12 col-md-8 extra-content p-b-0">
            <h2 class="marTop15 f24 bold">How To Use:</h2>
            <div class="" [innerHTML]="activityData[0]?.how_to_use"></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 p-b-0" *ngIf="activityData && activityData[0] && activityData[0]?.address">
        <div class="container p-0-xs">
          <div class="col-xs-12 col-md-8 extra-content p-b-0">
            <h2 class="marTop15 f24 bold">Address:</h2>
            <ul>
              <li *ngIf="activityData[0]?.neighborhood">{{activityData[0]?.neighborhood}}</li>
              <li>{{activityData[0]?.address}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 p-b-0" *ngIf="activityData && activityData[0] && activityData[0]?.venue_direction">
        <div class="container p-0-xs">
          <div class="col-xs-12 col-md-8 extra-content p-b-0">
            <h2 class="marTop15 f24 bold">How To Get There:</h2>
            <div class="" [innerHTML]="activityData[0]?.venue_direction"></div>
          </div>
        </div>
      </div>

      <!-- map -->
      <div class="col-xs-12 m-b-2 p-t-0" #mymap>
        <div class="container p-0-xs">
          <div class="col-xs-12 col-md-8">
            <ng-container *ngIf="!isServer && activityData && activityData.length > 0 && shouldShow">
              <agm-map [zoom]="15" [latitude]="activityData[0]?.package_details[0]?.booking_details[0]?.start_latitude"
                [longitude]="activityData[0]?.package_details[0]?.booking_details[0]?.start_longitude">
                <agm-marker [latitude]="activityData[0]?.package_details[0]?.booking_details[0]?.start_latitude"
                  [longitude]="activityData[0]?.package_details[0]?.booking_details[0]?.start_longitude">
                </agm-marker>
              </agm-map>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container mobile-book-btn" *ngIf="!hideBookFixedDiv">
  <div class="row">
    <div class="col-xs-12 p-b-1">
      <button class='btn btn-danger btn-md btn-lg btn-block' id="book" (click)="clickBookFixedDiv()">
        <span class="white">
          <i class="fa fa-bolt marRight5" aria-hidden="true"></i>
          <b>BOOK</b>
        </span>
      </button>
    </div>
  </div>
</div>

<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile class="mobile_footer_bottom_space" [requestedCurrency]="activityData[0]?.request_currency" (currency)="currencyChanged($event)">
</app-footer-mobile>