.activityPageHeader {
  position: fixed;
  top: 0em;
  z-index: 99;
  width: 100%;
  display: flex;
}

.fa {
  cursor: pointer;
}

#map {
  height: 400px;
  width: 100%;
}

.affix {
  top: 20px;
  z-index: 9 !important;
}

.sticky-nav {
  position: fixed;
  top: 6em;
  z-index: 9;
}

.sticky-nav-cart {
  position: fixed;
  top: 6em;
  z-index: 9;
  width: 325px;
}

.activityPageSearch {
  position: fixed;
  z-index: 9;
  margin-left: 20em;
}

.noPadding {
  padding: 0;
}

.scrollFix {
  padding-left: 3em;
  width: 325px;
}

.modal {
  top: 80px;
  z-index: 9999;
}

.center {
  text-align: center
}

.borderBottom {
  border-bottom: 1px dotted black;
}

mgl-map {
  height: 300px;
}

.loadingText {
  position: relative;
  left: -40px;
}

#stickyBox {
  z-index: 9 !important;
}

.inner-wrapper-sticky {
  padding-left: 20px !important;
}

.stickyBox_booking_details {
  width: 315px !important;
}

.panel {
  margin-bottom: 0px !important;
}



.fa-play-circle:hover {
  color: #d9d9d9;
  opacity: 0.4;
  transition: 0.3s;
}

agm-map {
  height: 300px;
}

.select-dropdown {
  padding-left: 10px !important;
}

.packageGroupList {
  background: #fff;
  border: 1px solid #dfe3e9;
  padding: 20px 20px;
  list-style: none;
  margin: 0;
  color: #333;
  min-height: 72px;
  box-sizing: border-box;
  display: table;
  font-size: 14px;
  position: relative;
  width: 100%;
}

.packageGroupList .left {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.packageGroupList .right {
  float: right;
}

.packageGroupList .select {
  display: inline-block;
  height: 33px;
  width: 104px;
  overflow: hidden;
  position: relative;
  margin-bottom: -10px;
  margin-left: 10px;
  border: 1px solid #dcd8d8;
  box-sizing: border-box;
  background: #fafafa;
}

.m_radius_box {
  border-radius: 2px;
}

.packageGroupList .select i {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 33px;
  background: #fafafa;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  line-height: 32px;
}

.packageGroupList .select i.fa-plus {
  border-left: 1px solid #dcd8d8;
}

.packageGroupList .select i.fa-minus {
  border-right: 1px solid #dcd8d8;
}

.packageGroupList .select input {
  width: 36px;
  height: 31px;
  border: none;
  display: inline-block;
  text-align: center;
  border-radius: 0;
}

.del-price {
  color: #888;
  margin-right: 8px;
}

.mbtn-select {
  color: #EF1223;
  background-color: #ffffff;
  border: 1px solid #EF1223;
  box-shadow: none;
  font-size: 14px;
  padding: 3px 16px;
  border-radius: 2px;
  font-weight: 500;
}

.mbtn-select:hover {
  background: #EF1223;
  color: #ffffff;
}

.mbtn-selected {
  background: #EF1223;
  color: #ffffff;
}

.quantity-disabled {
  color: lightgray;
  cursor: not-allowed !important;
}

.summaryBtn {
  padding: 6px 6px;
}

.activity_nav_sections {
  position: fixed;
  display: none;
  top: 64px;
  z-index: 98;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.activity_nav_container {
  display: table-cell;
  vertical-align: middle;
}

.activity_nav {
  color: #666;
  padding-bottom: 13px !important;
  padding: 0 20px;
  line-height: 45px;
  font-size: 14px;
}

.activity_nav.active {
  color: #ef1223;
  font-weight: bold;
  border-bottom: 3px solid #ef1223;
}

.activity_nav:hover {
  color: #ef1223;
}

  #myCarousel {
    margin-top: 48px;
  }


@media only screen and (min-width: 768px) {

  app-footer-mobile {
    display: none;

  }

  .activity-img {
    height: 570px;
    background-color: #c3c3c3;
  }

  .packageGroupList .right {
    display: table-cell;
    padding-left: 30px;
    white-space: nowrap;
    float: right;
  }

  .activity-thumbnail-image {
    width: 100%;
    height: 570px;
  }

  .playButton {
    position: absolute;
    top: 40%;
    left: 45%
  }

  .mobile-book-btn {
    display: none;
  }

 

  .package-price {
    display: inline;
  }
}

@media (max-width: 768px) {

  .activity-img {
    min-height: 135px;
    background-color: #c3c3c3;
  }
  .activity-img img{
    max-height: 200px;
  }


  #element213 {
    width: 100%;
  }

  #myCarousel {
    margin-top: 0px;
  }

  #myVideo {
    height: auto;
    width: 100%;
  }

  .activity-thumbnail-image {
    height: auto;
    width: 100%;
    min-height: 135px;
  }

  .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-book-btn {
    display: block;
    position: fixed;
    z-index: 9;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, .12);
  }

  app-header-mobile-nav {
    display: block;
  }

  .packageGroupList {
    display: flex !important;
    white-space: unset;
    justify-content: space-between;
  }

  .packageGroupList .right {
    display: unset;
    padding-left: 10px;
    text-align: end;
    white-space: unset;

  }

  .package-price {
    display: inline-flex;
    padding-bottom: 5px;
    line-height: normal;
  }

  .quickInfo li{
    display: flex !important;
  }
  .quickInfo li .fa
  {
    padding-right: 35px !important;
  }
  #amount-detail-card{
    left: -19px;
  }

}

.packageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.checkingAvailability {
  position: absolute;
  left: 36%;
  top: 25%;
  width: 100%;
  height: 100%;
}

.activity-total-price{
  font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #ef1223;
}
#amount-detail-card{
  position:absolute;
  width:300px;
  z-index: 9;
  display: none;
  padding: 20px;
  bottom: 55px;
  background-color:white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
}
#amount-detail{
  cursor: pointer;
}

#amount-detail:hover + #amount-detail-card,#amount-detail-card:hover{
  display: block;
}



.tooltip1 {
  position: relative;
  display: inline-block;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 251px;
  background-color: #fff;
  color: #888;
  text-align: center;
  padding: 16px;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: -415px;
  margin-left: -60px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  top: 15%;
  left: 100%;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.12);
 
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}