.bottomMenu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.bottomMenu li a {
  color: grey;
}

.container {
  top: 20%
}

.affix {
  top: 50px;
}

font {
  font-size: 13px;
}

div.relative {
  position: relative;
  padding: 0px
}

div.absolute {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.activityCard {
  height: 15em;
  border-radius: 5px;
}
.city-swiper-wrapper{
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
}
.cityImage {
  height: 20em;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.sticky-nav-cart {
  position: fixed;
  top: 6em;
  width: 355px;
}

.app-header {
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.swiper-container {
  z-index: 0 !important;
}

.swip-containter {
  margin: -16px -16px -16px 0;
  padding: 16px 16px 16px 0;
  position: sticky;
  overflow: hidden;
}

.swiper-button-prev {
  z-index: 0;
  left: -30px;
  top: 58%;
}

.swiper-button-next {
  right: -30px;
  z-index: 0;
  top: 58%;
}

.swiper-container {
  margin: -16px -16px -16px 0;
  padding: 16px 16px 16px 10px;
  position: static;
  overflow: hidden;
}

.article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

app-article-card{
  width: 305px;
  padding-bottom: 5px;
}

.pos-rel {
  position: relative;
}

.panel:hover {
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(0px, -4px);
  -webkit-transition: box-shadow 0.3s, transform 0.3s;
  /* Safari */
  transition: box-shadow 0.3s, transform 0.3s;
}

.panel:not(:hover) {
  transform: translate(0px, 4px);
  -webkit-transition: box-shadow 0.3s, transform 0.3s;
  /* Safari */
  transition: box-shadow 0.3s, transform 0.3s;
}

.text-right {
  text-align: right;
  padding: 5px;
}

.content-box {
  /* white-space: normal; */
  padding: 5px 10px;
}

.content-box h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-box h6 {
  line-height: 1.5em;
}

.thumb-image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 2px 2px 0 0;
}

.height400 {
  height: 400px;
}

.cityImageBlock {
  position: relative;
  margin-bottom: 1%;
}

.cityImageBlockName {
  position: absolute;
  top: 37%;
}

.browseCategory {
  position: sticky;
  top: 70px;
}

.zindex-0 {
  z-index: 0;
}

.cityHead{
  text-align: right;
}

.p-t-64px {
  padding-top: 64px;
}

.btn .caret {
  margin-left: 5px;
}
@media (max-width: 800px) {
  .p-t-64px {
    padding-top: 0px;
  }

  .cityImage {
    height: 19em;
  }

  .cityImageBlockName {
    top: 19%;
  }

  .findBtn{
    text-align: center;
    padding-bottom: 0px;
  }
  
  .cityHead{
    text-align: center;
  }
  
  .dropdown-menu {
    left: 25%;
  }
  
  .xs-p-0 {
    padding: 0;
  }
  
  .thingsToDo h1 {
    font-size: 26pt !important;
  }
  
  .browseCategory {
    display: none;
  }
  
  .xs-plr-0{
    padding-left: 0;
    padding-right: 0;
  }

  .marTop15{
    margin-top: 5px !important;
  }

  .xs-pagination {
    text-align: center;
  }

  .swiper-button-prev {
    left: -15px;
  }
  
  .swiper-button-next {
    right: -15px;
  }

  .swiper-button-next, .swiper-button-prev {
    height: 35px;
    top: 62%;
  }
  
  .featured{
    margin-top: 0;
    font-size: 25px;
  }
  .city-swiper-wrapper{
    display: flex;
    overflow: auto;  
  }
  .city-swiper-wrapper::-webkit-scrollbar { display:none !important }
  app-article-card{
    width: 70%;
  }
  
}

