

<app-header [text]="text" [requestedCurrency]="currency" (currency)="currencyChanged($event)" class="bottomMenu" name="Child" [cityName]="cityName" [cityId]="cityId"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>
<div *ngIf="!cityData" class="height400">
</div>
<div *ngIf="cityData" class="p-t-64px">
  <div class="cityImageBlock">
    <div class="cityImage" *ngIf="cityData?.largeimage_path_name"
      [ngStyle]="{'background-image': 'url(' + cloudinaryImageBaseUrl +'v1/'+environment.cloudinaryServer+'/' + cityData?.largeimage_path_name + '), url(../assets/images/altImage.webp)'}">
    </div>
    <div class="cityImage" *ngIf="!cityData?.largeimage_path_name"
      [ngStyle]="{'background-image': 'url(' + cityData?.imageurl + '), url(../assets/images/altImage.webp)'}">
    </div>
    <div class="col-xs-12 container cityImageBlockName">
      <div class="col-xs-12 col-md-4">
        <h1 class="white noMargin cityHead">
          <b>{{ cityData?.name }}</b>
        </h1>
      </div>

      <div class="col-xs-12 col-md-4 findBtn">
        <div class="m-1 dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span id="selectcityheader" > Find an Activity </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a (click)="loadCategoryActivities('',$event)">Browse All</a>
            </li>
            <li *ngFor="let category of categories">
              <a (click)="loadCategoryActivities(category , $event)" >{{category?.name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="white col-xs-12 col-md-4 xs-p-0">
        <h5 class="white text-shadow">{{ cityData?.date }} &nbsp;&nbsp;
          <span>
            <img src="{{cityData?.weather_icon_url}}">
          </span> {{ cityData?.temprature }}&deg;C</h5>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="cityData.Cityactivities;else noActivitiesFound">
    <div class="col-xs-12 text-center xs-p-0 thingsToDo">
      <h2 class="f50">Things To Do In {{cityData?.name}}</h2>
    </div>
    <div class="col-xs-12 p-b-0">
      <div class="col-xs-12 col-md-3 p-0 browseCategory">
        <div *ngIf="cityData?.first_block_text" style="margin-top: 48px;"></div>
        <div class="list-group panel panel-default">
          <a class="list-group-item" (click)="loadCategoryActivities('')">
            <span class="flaticon-menu"></span>
            <h6 class="noMargin noPadding display-inline">Browse All</h6>
          </a>
          <a *ngFor="let category of categories" class="list-group-item" (click)="loadCategoryActivities(category)">
            <h6 class="noMargin noPadding display-inline">{{category?.name}}</h6>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-1 p-t-0 xs-plr-0">
        <div *ngIf="cityData?.first_block_text" class="text-center" [innerHtml]="cityData?.first_block_text"></div>
        <div *ngFor="let activity of cityActivitiesPaged">
          <card class="col-xs-12 col-sm-6 col-md-6 m-b-1 p-t-0" [cData]="activity"></card>
        </div>
        <div *ngIf="cityData?.second_block_text" class="text-center" [innerHtml]="cityData?.second_block_text"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 p-t-0" *ngIf="cityActivities">
    <div class="container text-right xs-pagination">
      <pagination class="paginationBtn" [totalItems]="cityActivities?.length" [itemsPerPage]="itemsPerPage"
        (pageChanged)="pageChanged($event)" [rotate]="rotate" [maxSize]="maxSize" [boundaryLinks]="showBoundaryLinks"
        [directionLinks]="showDirectionLinks" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;"></pagination>
    </div>
  </div>

  <ng-template #noActivitiesFound>
    <div class="text-center m-t-5 m-b-10">
      <i class="fa fa-exclamation-triangle appColor fa-5x"></i>
      <h3>
        <b>No activities available</b>
      </h3>
    </div>
  </ng-template>
  <div class="container width1600" *ngIf="articleData.length > 0">
    <div class="col-xs-12 col-md-12 col-lg-12 hide_mobile">
      <div>
        <h3 class="padLeft23 featured text-center" >
          <b> FEATURED CONTENT & GUIDES</b>
        </h3>
      </div>
      <div class="col-md-1 text-right">
        <i *ngIf="articleItemCount > 0" class="fa fa-chevron-left fa-2x p-t-4 cursor" (click)="prev()"></i>
      </div>
      <div class="m-0 col-md-10">
         
        <div class="city-swiper-wrapper zindex-0">
          <app-article-card class="p-l-1 p-r-1 swiper-slide" *ngFor="let data of articleData;" [aData]="data">
          </app-article-card>
        </div>
       
      </div>
      <div class="col-md-1">
        <i  *ngIf="articleItemCount < articleData.length - this.totalItemToShow"class="fa fa-chevron-right fa-2x p-t-4 cursor" (click)="next()"></i>
      </div>
    </div>

    <!-- on mobile slide -->
    <div class="col-xs-12 col-md-12 col-lg-12 hide_desk">
      <div>
        <h3 class="padLeft23 featured text-center" >
          <b> FEATURED CONTENT & GUIDES</b>
        </h3>
      </div>
      <div class="m-0 p-0 col-xs-12 col-sm-12 col-md-12">
        <div class="city-swiper-wrapper zindex-0">
          <app-article-card class="col-xs-12 col-sm-12 col-md-12 swiper-slide" *ngFor="let data of articleData;" [aData]="data">
          </app-article-card>
        </div>
       
      </div>
    </div>

    <!-- end mobile slide -->

  </div>
</div>

<app-footer-desktop></app-footer-desktop>
<app-footer-mobile (currency)="currencyChanged($event)">
</app-footer-mobile>
