.header{
    transition: all .3s ease-in;
}

.header ul {
    list-style-type: none;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 9;
}

.header li h6 {
    color: white;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.padding {
    padding: 1em;
}

span {
    cursor: pointer;
}

li {
    cursor: pointer;
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -268px;
    background-color: white;
    min-width: 700px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5em;
    height: 350px;
    overflow-y: scroll;
    z-index: 99999999999;
}

.dropdown-content h6 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hide {
    display: none;
}

.dropbtnP {
    border: none;
    cursor: pointer;
}

.mar_2_0 {
    margin: 2px 0px;
}

.mar_5_0 {
    margin: 5px 0px;
}

.dropdownP {
    position: relative;
    display: inline-block;
}

.dropdown-contentP {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5em;
}

.dropdown-contentP a {
    color: black;
    padding: 0.5em;
    text-decoration: none;
    display: block;
}

.dropdown-contentP a:hover {
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 0.5em;
}

.dropdownP:hover .dropdown-contentP {
    display: block;
}

.currencyFont {
    font-size: 12px;
}

.currencyHeading {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    line-height: 0px;
    margin-bottom: 15px;
}

.currencyHeading b {
    background: #fff;
    padding-top: 0px;
}

a {
    text-decoration: none;
}

.profileImage {
    height: 35px;
    width: 35px;
    border-radius: 50%
}

.t_header ul {
    padding: 0 10px 0 30px;
}

.t_header ul>li {
    padding: 2px 20px;
}

.t_header>a {
    top: 0;
    left: 0;
    float: left;
    padding: 16px 0px 5px 30px;
    position: absolute;
}

.popover__wrapper {
    position: relative;
    display: inline-block;
}

.popover__content {
    opacity: 0;
    display: none;
    position: absolute;
    transform: translate(0, 10px);
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 350px;
    right: -90px !important;
    margin-top: 5px;
    color: black;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(40% - 30px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content,
.popover__wrapper:hover .recent_activity {
    z-index: 10;
    opacity: 1;
    display: block;
}

.popover__message {
    min-height: 100px;
}

.white {
    color: white !important;
}

.popover__title {
    color: white;
}


.header li h6 .popover__title {
    vertical-align: middle;
    line-height: 18px;
}

.recent_activity {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 380px;
    opacity: 0;
    display: none;
    position: absolute;
    /* transform: translate(0, 0px); */
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    right: -90px !important;
    color: black;
}

.recent_activity:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(50% - 30px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.recent_activity_item {
    width: 352px;
    margin-left: 20px;
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    color: #999;
    background-color: white;
}

.recent_activity_item img {
    width: 100%;
    padding: 0;
    border-radius: 2px;
    margin-right: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.recent_activity_item .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #333;
    margin-bottom: 4px;
}

.discounted_price {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 5px;
    margin-bottom: 4px;
}

.recent_activity_item hr {
    flex-grow: 1;
}

.ttd-logo {
    padding-left: 0px !important;
    padding-right: 0px !important;
    line-height: 40px;
}

.kidzapp-logo {
    line-height: 40px;
}
.whatsapp_badge svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.whatsapp_badge .whatsapp_title{
    display: inline-block !important;
}

.m-r-3px{
    margin-right: 3px;
}

/* dropdown more */
.dropdown-more{
    position: relative;
}
.dropdown-more .fa-ellipsis-h{
    font-size: 25px;
    line-height: 18px;
}
.dropdown-more .dropdown-menu{
    padding: 0;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.dropdown-more .dropdown-menu::after{
    /* content: ''; */
    position: absolute;
    display: block;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown-more .dropdown-menu li{
    padding: 0;
}
.dropdown-more .dropdown-menu li h6{
    color: inherit;
}
.dropdown-more:hover .dropdown-menu {
    display: block;
}

/* search */
app-search-desktop-header{
    display: none;
    position: relative;
    margin-left: 10px;
    margin-top: 3px;
}

/* white-nav */
.white-nav {
    display: block;
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 7px;
    z-index: 12;
    background-color: white;
    margin-bottom: 0px;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    border-radius: 0;
}
.white-nav ul {
    top: auto;
    z-index: auto;
    position: relative;
}
.white-nav li h6,.white-nav li h6 .popover__title {
    color: #444;
}
.white-nav app-search-desktop-header{
    display: block;
}

@media(min-width:769px) and (max-width:1326px)
{
    .hide-name{
        display: none!important;
    }

  
    .t_header ul>li {
        padding: 2px 10px;
    }
}
@media(min-width:1327px)
{
    .hide-name-extralargescreen{
        display: none;
    }
}
