﻿﻿<nav class="header t_header" [ngClass]="{'white-nav': whiteNav}">
    <ul>
        <!-- logo -->
        <li *ngIf="!showKidzappLogo" class="float-left ttd-logo">
            <a [routerLink]="['']">
                <img src="{{cloudinaryImageBaseUrl + 'h_30,w_140/v1/'+ environment.cloudinaryServer + '/t/ttdlogo.png'}}"
                    alt="Book tickets online with Tickets To Do">
            </a>
        </li>
        <li *ngIf="showKidzappLogo" class="float-left kidzapp-logo" [ngClass]="{ 'p-l-0': showKidzappLogo }">
            <img src="{{cloudinaryImageBaseUrl + 'h_38,w_132/v1/'+ environment.cloudinaryServer + '/k/kidzapp-logo2.png'}}"
                alt="Kidzapp logo">
        </li>

        <!-- search -->
        <li>
            <div class="searchBox float-left">
                <app-search-desktop-header [cityName]="cityName" [cityId]="cityId"></app-search-desktop-header>
            </div>
        </li>

        <!-- menu -->
        <li *ngIf="user" class="float-right">
            <div class="dropdownP">
                <h6 class="dropbtnP" [ngClass]="{'mar_2_0': user?.image, 'mar_5_0': !user?.image}">
                    <span class="vertical-align-middle m-r-3px hide-name">{{user?.firstname }}</span>
                    <img class="profileImage" *ngIf="user?.image" src="{{user?.image}}" ttd="profile image"
                        alt="{{user?.firstname}}">
                    <img class="profileImage" *ngIf="!user?.image && user?.image_url" src="{{user?.image_url}}"
                        ttd="profile image" alt="{{user?.firstname}}">
                    <i *ngIf="!user?.image && !user?.image_url" class="fa fa-user-circle fa-2x vertical-align-middle"
                        aria-hidden="true"></i>
                </h6>
                <div class="dropdown-contentP">
                    <a [routerLink]="['/home']">
                        <i class="fa fa-user"></i> My account
                    </a>
                    <a [routerLink]="['/home/bookings']">
                        <i class="fa fa-list-alt"></i> Bookings
                    </a>
                    <a>
                        <span (click)="logout()">
                            <i class="fa fa-sign-out"></i> Log out</span>
                    </a>
                </div>
            </div>

        <li *ngIf="!user" [routerLink]="['/signup']" class="float-right">
            <h6>Sign Up</h6>
        </li>

        <li *ngIf="!user" [routerLink]="['/login']" class="float-right">
            <h6>Log In</h6>
        </li>


        <li *ngIf="!user" class="float-right cart-nav">
            <h6 [routerLink]="['/shoppingcart']">
                <span>
                    <i class="fa fa-shopping-cart cart-icon"></i>
                </span>
            </h6>
        </li>
        <li *ngIf="user" class="popover__wrapper float-right  cart-nav">
            <h6>
                <a [routerLink]="['/shoppingcart']" class="popover__title" (mouseenter)="loadCart()">
                    <i class="fa fa-shopping-cart cart-icon"></i>
                    <!-- <span class="hide-name">&nbsp;Cart&nbsp;</span> -->
                    <span class="badge cart-count" *ngIf="cartCount && user">{{cartCount}}</span>
                </a>
                <div class="push popover__content">
                    <div class="popover__message" *ngIf='!loadingCart;else loading'>
                        <div *ngIf='cartItems;else cartEmpty'>
                            <div class="row" *ngFor="let item of cartItems?.data; let i=index">
                                <img class="col-lg-4" *ngIf="item?.activity_image" [src]="item?.activity_image"
                                    alt="{{item?.activity_name}}">
                                <div class="col-xs-8">
                                    <div class=" bold"><b>{{item?.activity_name}}</b></div>
                                    <div>{{item?.package_name}}</div>
                                    <div class="p-t-1" *ngIf="item?.booking_activity_date">
                                        {{item?.booking_activity_date}}
                                    </div>
                                    <div class="" *ngIf="item?.booking_activity_time">
                                        {{item?.booking_activity_time}}
                                    </div>
                                    <h6 class="bold">
                                        {{currencyType}} {{item?.package_cost}}
                                    </h6>
                                </div>
                                <hr class="m-0">
                            </div>
                            <div class="">
                                <div class="col-lg-6 p-b-0">
                                    <div>Subtotal ({{cartItems?.item_counts}} item)</div>
                                    <b class="appColor ">{{currencyType}} {{cartItems?.total_cost}}</b>
                                </div>
                                <div class="col-lg-6 p-l-0 p-r-0 p-b-0">
                                    <a class="btn btn-danger btn-block white" [routerLink]="['/shoppingcart']"><i
                                            class="fa fa-shopping-cart"></i>&nbsp;
                                        Go to cart</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </h6>
        </li>


        <li *ngIf="recentActivity.length" class="popover__wrapper float-right">
            <h6 class="popover__title" (mouseenter)="loadRecentActivityCard()">

                <span>
                    Recently Viewed&nbsp;
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </span>

            </h6>
            <div class="push recent_activity">
                <div class="popover__message">
                    <div *ngIf='recentActivity;else cartEmpty'>
                        <ng-container *ngFor="let item of recentActivity; let i=index">
                            <a [routerLink]="[item?.url]">
                                <div class="row recent_activity_item">
                                    <div class="col-lg-4 p-0">
                                        <img *ngIf="item?.thumbnail_image_path_name" src="{{cloudinaryImageBaseUrl+'/w_115,h_70/v1/'+environment.cloudinaryServer+'/' + item?.thumbnail_image_path_name }}" alt="{{item?.name}}">
                                    </div>
                                    <div class="col-xs-8 p-l-1 p-t-0 p-r-0 p-b-0">
                                        <div class="title"><b>{{item?.name}}</b></div>
                                        <div>
                                            <span class="orange">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                            </span> | <span class="text-muted">1K Booked</span>
                                        </div>
                                        <s class="text-muted p-b-0 f12"
                                            *ngIf="item?.min_default_original_price > 0 && item?.min_default_original_price != item?.min_default_discounted_price">
                                            {{item.request_currency}} {{item?.min_default_original_price}}
                                        </s>
                                        <div class="discounted_price p-0">
                                            <b>{{item?.request_currency}} {{item?.min_default_discounted_price}}</b>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <hr class="m-0">
                        </ng-container>
                    </div>

                </div>
            </div>

        </li>

        <li class="float-right">
            <div class="dropdown">
                <h6 *ngIf="(requestedCurrency && requestedCurrency != 'UNDEFINED') || (currencyType && currencyType != '')"
                    class="dropbtn" (mouseenter)="hideCurrencies=false;loadCurrencies()">
                    {{requestedCurrency ? requestedCurrency : currencyType}}
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </h6>
                <div class="col-md-12 dropdown-content" [ngClass]="hideCurrencies ? 'hide' : 'dropdown-content'">
                    <div *ngIf='currencies;else loading'>
                        <div class="col-xs-12">
                            <h6 class="noPadding currencyHeading">
                                <b class="black">Recommended Currencies&nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </h6>
                            <div *ngFor="let currency of currencies | slice:0:8; let i = index">
                                <button class="col-md-3 btn btn-link text-left pad5 border-none"
                                    (click)="updateCurrency(currency?.currency_code);hideCurrencies=true">
                                    <span class="darkGrey currencyFont marRight8">{{currency?.currency_code}}</span>
                                    <span class="currencyFont">{{currency?.currency_name}}</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h6 class="noPadding currencyHeading">
                                <b class="black">Other Currencies &nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </h6>
                            <div *ngFor="let currency of currencies | slice:8:currencies.length; let i = index">
                                <button class="col-md-3 btn btn-link text-left pad5 border-none"
                                    (click)="updateCurrency(currency?.currency_code);hideCurrencies=true">
                                    <span class="darkGrey currencyFont marRight8">{{currency?.currency_code}}</span>
                                    <span class="currencyFont">{{currency?.currency_name}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ng-template #loading>
                        <div class="text-center">
                            <app-loading></app-loading>
                            <p>Loading...</p>
                        </div>
                    </ng-template>
                    <ng-template #cartEmpty>
                        <div class="text-center">
                            <div class="text-center p-t-1">
                                <i class="appColor fa fa-exclamation-triangle fa-2x"></i>
                                <p class="text-center p-t-1">Cart is empty</p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </li>

        <li class="float-right whatsapp_badge">
            <a rel="nofollow noopener"
                href="{{'https://api.whatsapp.com/send?phone=' + whatsapp.number +'&amp;text='+whatsapp.text}}"
                target="_blank" aria-label="Chat on WhatsApp">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 39">
                    <path fill="#00E676"
                        d="M10.7 32.8l.6.3c2.5 1.5 5.3 2.2 8.1 2.2 8.8 0 16-7.2 16-16 0-4.2-1.7-8.3-4.7-11.3s-7-4.7-11.3-4.7c-8.8 0-16 7.2-15.9 16.1 0 3 .9 5.9 2.4 8.4l.4.6-1.6 5.9 6-1.5z">
                    </path>
                    <path fill="#FFF"
                        d="M32.4 6.4C29 2.9 24.3 1 19.5 1 9.3 1 1.1 9.3 1.2 19.4c0 3.2.9 6.3 2.4 9.1L1 38l9.7-2.5c2.7 1.5 5.7 2.2 8.7 2.2 10.1 0 18.3-8.3 18.3-18.4 0-4.9-1.9-9.5-5.3-12.9zM19.5 34.6c-2.7 0-5.4-.7-7.7-2.1l-.6-.3-5.8 1.5L6.9 28l-.4-.6c-4.4-7.1-2.3-16.5 4.9-20.9s16.5-2.3 20.9 4.9 2.3 16.5-4.9 20.9c-2.3 1.5-5.1 2.3-7.9 2.3zm8.8-11.1l-1.1-.5s-1.6-.7-2.6-1.2c-.1 0-.2-.1-.3-.1-.3 0-.5.1-.7.2 0 0-.1.1-1.5 1.7-.1.2-.3.3-.5.3h-.1c-.1 0-.3-.1-.4-.2l-.5-.2c-1.1-.5-2.1-1.1-2.9-1.9-.2-.2-.5-.4-.7-.6-.7-.7-1.4-1.5-1.9-2.4l-.1-.2c-.1-.1-.1-.2-.2-.4 0-.2 0-.4.1-.5 0 0 .4-.5.7-.8.2-.2.3-.5.5-.7.2-.3.3-.7.2-1-.1-.5-1.3-3.2-1.6-3.8-.2-.3-.4-.4-.7-.5h-1.1c-.2 0-.4.1-.6.1l-.1.1c-.2.1-.4.3-.6.4-.2.2-.3.4-.5.6-.7.9-1.1 2-1.1 3.1 0 .8.2 1.6.5 2.3l.1.3c.9 1.9 2.1 3.6 3.7 5.1l.4.4c.3.3.6.5.8.8 2.1 1.8 4.5 3.1 7.2 3.8.3.1.7.1 1 .2h1c.5 0 1.1-.2 1.5-.4.3-.2.5-.2.7-.4l.2-.2c.2-.2.4-.3.6-.5s.4-.4.5-.6c.2-.4.3-.9.4-1.4v-.7s-.1-.1-.3-.2z">
                    </path>
                </svg>
                <h6 class="whatsapp_title" title="WhatsApp"><span class="hide-name">WhatsApp</span></h6>
            </a>

        </li>

        <li class="float-right hide-name">
            <a href="{{blogUrl}}" rel="nofollow" target="_blank">
                <h6>Blog</h6>
            </a>
        </li>

        <li class="float-right dropdown-more">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <h6>
                    <i class="fa fa-ellipsis-h"></i>
                </h6>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.dcm.ttd&hl=en">
                        <h6>Download App</h6>
                    </a>
                </li>
                <li>
                    <a href="https://support.ticketstodo.com/hc/en-us/" rel="nofollow">
                        <h6>Help</h6>
                    </a>
                </li>
                <li class="hide-name-extralargescreen">
                    <a href="{{blogUrl}}" rel="nofollow" target="_blank">
                        <h6>Blog</h6>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</nav>

<div *ngIf="navFor != 'home'" style="height: 64px;"></div>