.title-white {
  color: white;
  padding: 7px;
  font-weight: 500;
}

.article-image {
  width: 100%;
  height: 575px;
}

/* .main-content {
    margin: 0% 5% 1%;
    width: 90%;
} */

/* .main-content img {
    width: 100%;
} */

.nav_breadcrumb {
  padding-bottom: 8px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 45px;
}

.nav_breadcrumb i {
  font-weight: bold;
  position: relative;
  top: -2px;
}

.t10 {
  font-size: 10px;
}

i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

.arrow {
  margin: 3px;
}

.panel:hover {
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(0px, -4px);
  -webkit-transition: box-shadow 0.3s, transform 0.3s;
  /* Safari */
  transition: box-shadow 0.3s, transform 0.3s;
}


.panel:not(:hover) {
  transform: translate(0px, 4px);
  -webkit-transition: box-shadow 0.3s, transform 0.3s;
  /* Safari */
  transition: box-shadow 0.3s, transform 0.3s;
}

.text-right {
  text-align: right;
  padding: 5px;
}

.m_b_30 {
  margin-bottom: 30px;
}

.content-box {
  /* white-space: normal; */
  padding: 5px 10px;
}


.content-box h6 {
  line-height: 1.5em;
}

.thumb-image {
  width: 213px;
  height: 142px;
  float: left;
}

.width764 {
  width: 764px;
  height: 142px;
  position: relative;
}

.desc_box {
  padding: 16px 20px;
  float: right;
  width: 550px;
}

.t18 {
  font-size: 18px;
}

.p_t_30 {
  padding-top: 30px;
  padding-right: 15px;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.line {
  height: 12px;
  background: #fafafa;
}

.o_a {
  padding: 45px 0px;
  background-color: #fafafa;
}

.share {
  padding: 60px 0px;
}

.heading {
  font-size: 32px;
  line-height: 1.44;
  padding-bottom: 30px;
  color: #4f4f4f;
}

.share_icon {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.facebook {
  display: inline-block;
  background-size: contain;
  background-image: url('http://res.cloudinary.com/dcm/image/upload/v1557495404/prod/f/facebook.png');
}

.facebook:hover {
  display: inline-block;
  background-image: url('http://res.cloudinary.com/dcm/image/upload/v1557495404/prod/f/facebook.png');
}

.twitter {
  display: inline-block;
  background-size: contain;
  background-image: url('http://res.cloudinary.com/dcm/image/upload/v1557495422/prod/t/twitter.png');
  margin-left: 30px;
}

.twitter:hover {
  display: inline-block;
  background-image: url('http://res.cloudinary.com/dcm/image/upload/v1557495422/prod/t/twitter.png');
  margin-left: 30px;
}

.insta {
  display: inline-block;
  background-size: contain;
  background-image: url(/src/assets/images/insta.png);
  margin-left: 30px;
}

.insta:hover {
  display: inline-block;
  background-image: url(/src/assets/images/insta1.png);
  margin-left: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mb60 {
  margin-bottom: 60px;
}

.pLR11 {
  padding: 0% 11%;
}

.moreArticle h3 {
  line-height: 1.44;
}

@media only screen and (max-width: 770px) {
  .desktopview {
    display: none;
  }

  .article-image {
    width: 100%;
    height: 200px;
  }

  .aboutus-center h1 {
    font-size: 22px;
    font-weight: 400;
  }

  .aboutus-center h4 {
    font-size: 15px;
    font-weight: 400;
  }
}

@media only screen and (min-width: 771px) {
  .mobileview {
    display: none;
  }
}


@media only screen and (max-width: 769px) {
  .desktopview {
    display: none;
  }

  .article-image {
    width: 100%;
    height: 200px;
    opacity: 0.8;
  }

  .aboutus-center h1 {
    font-size: 22px;
    font-weight: 400;
  }

  .aboutus-center h4 {
    font-size: 15px;
    font-weight: 400;
  }

  .mt40 {
    margin-top: 20px;
  }

  .mb60 {
    margin-bottom: 30px;
  }

  .nav_breadcrumb {
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 25px;
  }

  p {
    margin: 0 0 0.5em;
  }

  .pLR11 {
    padding: 0% 4%;
  }

  .o_a {
    padding: 1px 0px 10px;
  }

  .moreArticle h3 {
    font-size: 25px;
    line-height: 1.44;
    margin-top: 15px;
  }

  .share {
    padding: 25px 0px;
  }

  .heading {
    font-size: 26px;
    padding-bottom: 18px;
  }

  .customImg h1 {
    font-size: 30px;
  }

  .width764 {
    width: 65%;
    height: unset;
  }

  .m_b_30 {
    margin-bottom: 18px;
  }

  .thumb-image {
    width: 100%;
    height: 160px;
    float: none;
  }

  .panel {
    margin-bottom: 40px;
  }

  .desc_box {
    padding: 0px 15px;
    float: none;
    width: 100%;
  }

  .desc_box h3 {
    margin-bottom: 5px;
  }

  .bottom-left {
    position: unset;
    bottom: unset;
    right: unset;
  }

  .p_t_30 {
    padding-top: 0px;
  }

}

.articleTitle {
  position: relative;
  width: 100%;
  background-color: rgb(83, 83, 83);
}

@media (max-width: 769px) {

  .aboutus-center {
    top: 220px;
  }
  
  .aboutus-center h1{
    font-size: 20px;
  }

  .article-image {
    height: 350px;
  }

}

@media (max-width: 550px) {
  .article-image {
    height: 250px;
  }

  .aboutus-center {
    top: 160px;
  }

  .width764 {
    width: 85%;
  }
}
