
<app-header class="bottomMenu" name="Child"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>

<div class="articleTitle">
  <img [src]="selectedArticle?.large_image" alt="{{selectedArticle?.title}}" class="article-image"
    onerror="src='../assets/images/altImage.webp';">
  <div class="aboutus-center">
    <h1 class="title-white">{{selectedArticle?.title}}</h1>
    <h4 class="title-white">{{selectedArticle?.created_at | date: 'dd-MM-yyyy'}}</h4>
  </div>
</div>

<div class="container mt40 mb60">
  <nav class="nav_breadcrumb">
    <span class="arrow"><b><a href="/">Home</a></b></span>
    <span class="arrow"><i class="right"></i></span>
    <span class=arrow><b><a
          href="/city/{{selectedArticle?.city_id}}-{{selectedArticle?.city_name}}">{{selectedArticle?.city_name}}</a></b></span>
    <span class="arrow"><i class="right"></i></span>
    <span class="arrow">{{selectedArticle?.title}}</span>
  </nav>
  <div class="customImg pLR11 articleContent" [innerHTML]='selectedArticle?.description'></div>
</div>

<div class="line"></div>

<div class="share" align="center">
  <div class="heading">Share This Post</div>
  <div>
    <a class="share_icon facebook" href="http://www.facebook.com/sharer.php?u=http://www.ticketstodo.com{{shareLink}}"
      target="_blank"></a>
    <a class="share_icon twitter" href="https://twitter.com/share?url=http://www.ticketstodo.com{{shareLink}}"
      target="_blank"></a>
  </div>
</div>

<div class="o_a" align="center" *ngIf="articleData && articleData.length > 0">
  <div class="text-center m_b_30">
    <h3 style="line-height: 1.44;">See other articles</h3>
  </div>
  <div class="panel panel-default width764" *ngFor="let aData of articleData;">
    <a class="" (click)="moreArticle(aData?.article_id, aData?.title, aData?.city_id)">
      <div class="text-left">
        <img class="thumb-image" [src]="aData?.thumb_image" alt="{{aData?.title}}"
          onerror="this.src='./assets/images/altImage.webp';">
        <div class="desc_box">
          <h3 class="t18">{{aData?.title}}</h3>
        </div>
        <div class="text-right p_t_30 bottom-left">{{aData?.updated_at | date: 'dd-MM-yyyy'}}</div>
      </div>
    </a>
  </div>
</div>
<!-- Desktop View end-->
<!-- <app-footer-desktop class="desktopview"></app-footer-desktop>
<app-footer-mobile class="mobileview"></app-footer-mobile> -->
<app-footer-desktop></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>