<div class="dropdown">
  <div class="input-group dropdown-toggle inner-addon right-addon width156" data-toggle="dropdown">
    <input class="grey form-control form__field-small"
      placeholder="{{cityName ? 'Search activities in ' + cityName : 'Search by destination, activity or attraction'}}"
      (ngModelChange)="loadSearchData($event)" (focus)="showInitialDropdown=true;loadCities=true"
      (focusout)="showInitialDropdown=false" [(ngModel)]="searchKeyword">
    <i class="fa fa-search"></i>
  </div>

  <div *ngIf="regions && !searchData" [hidden]="!((showInitialDropdown || showCities) && !searchData)"
    (mouseenter)="showCities=true" (mouseleave)="showCities=false"
    class="searchResultBox1 noMargin noPadding dropdown-menu">
    <app-search-desktop-regions-header [loadCities]="loadCities"></app-search-desktop-regions-header>
  </div>

  <div class="dropdown" *ngIf="searchData && searchData.length > 0 && (showInitialDropdown || showSearchList)"
    class="searchResultBox2 col-xs-12 noMargin noPadding dropdown-menu" (mouseenter)="showSearchList=true"
    (mouseleave)="showSearchList=false">

    <div *ngFor="let result of searchData; let i=index">
      <div *ngIf="i<5" class="col-xs-12 searchFeild">
        <p class="noMargin noPadding" *ngIf="result?.search_type=='city'"
          (click)="goTo('/' + result?.search_type + '/' + result?.url)">
          <i class="fa fa-map-marker lightGrey m-r-12px f18" aria-hidden="true"></i>
          <span class="">{{ result?.name }}</span>
        </p>
        <p class="noMargin noPadding" *ngIf="result?.search_type=='activity'"
          (click)="goTo('/' + result?.search_type +'/'+result?.url)">
          <span>{{ result?.name }}</span>
          <span class="pull-right color666">{{ result?.city_name }}</span>
        </p>
        <p class="noMargin noPadding" *ngIf="result?.merchant_id" (click)="goTo('/activity'+'/'+result?.activity_url)">
          <span>{{ result?.name }}</span>
          <span class="pull-right color666">{{ result?.city_name }}</span>
        </p>
      </div>
    </div>

  </div>

</div>