.searchResultBox1 {
  background-color: #fff;
  color: #000;
  z-index: 999;
  overflow-x: hidden;
  padding: 0em;
  height: 25em;
  position: absolute;
  width: 400%;
}

.searchResultBox2 {
  background-color: #fff;
  color: #000;
  z-index: 999;
  overflow-x: hidden;
  padding: 0em;
  position: absolute;
  width: 400%;
}

[class^=ais-] {
  font-size: 3rem !important;
  color: red !important;
}

.searchFeild {
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 11px 20px;
}

.searchFeild:hover {
  background-color: rgba(211, 211, 211, 0.39);
}

.searchButton {
  width: 3.3em;
}

.searchButton2 {}

:root {
  background: #f5f6fa;
  color: #9c9c9c;
  font: 1rem "PT Sans", sans-serif;
}

html,
body,
.container {
  height: 100%;
}

a {
  color: inherit;
}

a:hover {
  color: #7f8ff4;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn--primary {
  background: #7f8ff4;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}

.btn--primary:hover {
  background: #6c7ff2;
}

.btn--primary:active {
  background: #7f8ff4;
  -webkit-box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
  margin-left: -96px;
}

.dropdown-menu {
  position: absolute !important;
}

.inner-addon {
  position: relative !important;
}

.inner-addon .fa {
  position: absolute !important;
  padding: 11px !important;
  pointer-events: none !important;
  z-index: 2;
}

.left-addon .fa {
  left: 0px !important;
}

.right-addon .fa {
  right: 0px !important;
}

/* add padding  */
.left-addon input {
  padding-left: 30px !important;
}

.right-addon input {
  padding-right: 30px !important;
}

.grey:not(focus) {
  background-color: #f5f5f5 !important;
  border: 1px solid #fff !important;
  color: lightgrey;
}

.grey:focus {
  border: 1px solid #ff5722 !important;
  outline-width: 0;
  background: #fff !important;
  z-index: 2;
  color: #000;
}

.form__field:hover,
.form__field:focus {
  border: 1px solid #EF1223;
}

.homeSearchBox .form__field {
  height: 48px;
}

.width170 {
  width: 170%;
}
.width156 {
  width: 156%;
}
@media (min-width: 768px) and (max-width: 1024px) 
{
  .width170 {
    width: 100%;
  }
  .width156 {
    width: 106%;
  }
}