/*  bhoechie tab */
div.bhoechie-tab-container {
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group > a {
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
  color: #EF1223;
}

div.bhoechie-tab-menu div.list-group > a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group > a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
  background-color: #EF1223;
  background-image: #EF1223;
  color: #ffffff;
}

div.bhoechie-tab-menu div.list-group > a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #EF1223;
}

div.bhoechie-tab-content {
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}

.orderbox {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  min-height: 40px;

}

.orderdetail {
  background-color: #f3f3f3;
  padding: 15px;
  cursor: pointer;
}

.itemdetail {
  background-color: #fff;
  padding: 15px;
}

.orderbox .name {
  line-height: 24px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.orderbox .price-primary {
  line-height: 24px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.orderbox .price-secondary {
  line-height: 18px;
  color: #888;
  font-size: 14px;
}

.orderbox .detail {
  color: #888;
  font-size: 14px;
  cursor: pointer;
}

.paid {
  color: #24b985;
}

.unpaid {
  color: #EF1223;
}

.actImage {
  height: 70px;
  width: 70px;
}

.viewVoucherBtn {
  color: #EF1223;
  border: 1px solid #EF1223;
  box-shadow: none !important;
  font-weight: bold;
  padding: 4px 14px;
}

.downloadVoucher {
  color: #2196f3;
}

.cancelBookingBtn {
  color: #EF1223;
  border: 1px solid #EF1223;
  box-shadow: none !important;
  font-weight: bold;
  padding: 4px 14px;
  background-color: #fafafa;
}
@media (max-width: 768px){
div.bhoechie-tab-menu div.list-group > a.active:after
{
  display: none;
}

.cancle_button_booking{
  margin-top: 10px !important;
  text-align: left !important;
}
.icon_booking_left_mobile{
  text-align: left;
}
}