<app-header class="bottomMenu" name="Child"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>
<div class="col-xs-12 col-md-12 greyBackground">

  <div class="  col-xs-12 col-sm-12 col-md-2 col-lg-2 bhoechie-tab-menu  p-0">
    <div class="list-group">
      <a class="col-xs-6 col-sm-6 col-md-12 list-group-item text-center" [routerLink]="['/home']">
        <i class="fa fa-id-card-o" aria-hidden="true"></i><br />My Account
      </a>
      <a class=" col-xs-6 col-sm-6 col-md-12 list-group-item text-center active" [routerLink]="['/home/bookings']">
        <i class="fa fa-list-alt" aria-hidden="true"></i><br />Bookings
      </a>
    </div>
  </div>
  <div class="panel panel-default col-xs-12 col-sm-12 col-md-8 ">
    <div class="panel-body">
      <h3 class="appColor m-t-0 f20-xs">My Bookings</h3>
      <hr>
      <div class="col-xs-12 mybooking p-0" *ngIf="bookings;else loadingBooking">
        <div *ngIf="bookings.length > 0; else noBooking">
          <div class="col-xs-12 orderbox p-0" *ngFor="let booking of bookings">
            <div class="col-xs-12 orderdetail" data-toggle="collapse" attr.data-target="#order{{booking?.order_id}}">
              <div class="col-xs-9 p-0 text-left">
                <span class="m-r-2 black f13">Order No: {{booking?.order_id}}</span>
                <span class="black f13">Booking Date: {{booking?.booking_date | date: 'd MMM y, h:mm a'}}</span>
              </div>
              <div class="col-xs-3 p-0 text-right">
                <span class="paid bold" *ngIf="booking?.order_payment_status == 'S'">Paid</span>
                <span class="unpaid bold" *ngIf="booking?.order_payment_status != 'S'">Unpaid</span>
              </div>
              <div class="col-xs-9 p-0 text-left">
                <span class="black"><span class="f13">Actual Payment: </span><strong>{{booking?.currency}}
                    {{booking?.order_total}}</strong></span>
              </div>
              <div class="col-xs-9 p-0 text-left">
                <span class="black"><span class="f13">Booking Status: </span>
                  <strong *ngIf="booking?.order_approval_state == 0">Pending</strong>
                  <strong *ngIf="booking?.order_approval_state == 1">Confirmed</strong>
                  <strong *ngIf="booking?.order_approval_state == 2">Cancelled</strong>
                </span>
                <br>
                <span class="black f13" *ngIf="booking?.order_approval_state == 2 && booking?.cancel_reason">Cancel
                  Reason:
                  {{booking?.cancel_reason}}
                </span>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 p-0 text-right marTop15-minus cancle_button_booking"
                *ngIf="booking?.order_approval_state != 2">
                <a class="btn cancelBookingBtn" data-toggle="modal" (click)="orderId=booking?.order_id"
                  data-target="#myModal">
                  Cancel Order</a>
              </div>
            </div>
            <div id="order{{booking?.order_id}}" class="collapse">
              <div class="col-xs-12 itemdetail" *ngFor="let item of booking?.Transactions">
                <div class="col-xs-9 p-0 text-left">
                  <span class="col-xs-12 col-sm-12 col-md-2 p-0">
                    <img class="actImage" *ngIf="item?.images && item?.images[0]?.image_url"
                      [src]="item?.images[0]?.image_url" ttd="activity image" alt="{{item?.activity_name}}">
                  </span>
                  <span class="col-xs-12 col-sm-12 col-md-10 p-0 p-t-1-xs">
                    <h6 class="bold m-t-0">{{item?.activity_name}}</h6>
                    <h6 class="f13 darkGrey">Participation Date: {{item?.booking_activity_date }}
                      <span *ngIf="item?.booking_activity_time">{{item?.booking_activity_time}}</span></h6>
                    <h6 class="f13 m-b-0 darkGrey">Package: {{item?.package_name}}</h6>
                    <h6 class="f13 m-b-0 darkGrey"
                      *ngIf="booking?.order_approval_state != 2 && item?.transaction_state == 2">Cancel
                      Reason: {{item?.remarks}}</h6>
                  </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 p-0 text-right icon_booking_left_mobile">
                  <h6 *ngIf="item?.transaction_state == 0" class="black f13 m-t-0">Awaiting Confirmation</h6>
                  <h6 *ngIf="item?.transaction_state == 1" class="black f13 m-t-0">Confirmed</h6>
                  <h6 *ngIf="item?.transaction_state == 2 && item?.transaction_reverse == 'R'" class="black f13 m-t-0">
                    User
                    Cancelled</h6>
                  <h6 *ngIf="item?.transaction_state == 2 && item?.transaction_reverse != 'R'" class="black f13 m-t-0">
                    Booking
                    Failed
                  </h6>
                  <a *ngIf="item?.transaction_state != 2" class="btn viewVoucherBtn" title="View Voucher"
                    target="_blank" href="{{'/voucher/'+item?.order_id+'?transaction_id='+item?.transaction_id}}">
                    <i class="fa fa-lg fa-eye"></i></a>
                  <a *ngIf="item?.transaction_state != 2" class="btn viewVoucherBtn marLeft10" title="Download Voucher"
                    target="_blank"
                    href="{{apiBaseUrl+'/voucher_pdf/'+item?.order_id+'/'+item?.transaction_id+'?action=download'}}">
                    <i class="fa fa-lg fa-download"></i>
                  </a>
                  <a *ngIf="item?.transaction_state != 2 && item?.booking_id" class="btn viewVoucherBtn marLeft10"
                    title="Cancel Booking" data-toggle="modal"
                    (click)="dropItem(booking?.order_id, item?.booking_id, booking?.Transactions)"
                    data-target="#cancelBooking">
                    <i class="fa fa-lg fa-trash"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noBooking>
        <div class="p-4 text-center">
          <i class="appColor fa fa-exclamation-triangle fa-5x"></i>
          <h6 class="text-center">No bookings found</h6>
        </div>
      </ng-template>

      <ng-template #loadingBooking>
        <div class="p-4 text-center">
          <app-loading></app-loading>
          <h6 class="text-center">Loading bookings...</h6>
        </div>
      </ng-template>

    </div>
  </div>
</div>


<!-- Modal -->
<!-- Cancel Order -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cancel Order</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="cancelOrderForm.getForm()">
          <div class="form-group">
            <label for="reason">Reason:</label>
            <textarea class="form-control" rows="5" id="reason" formControlName="reason"></textarea>
            <span class="help-block has-error" *ngIf="cancelOrderForm.hasError('reason')">
              {{ cancelOrderForm.getError('reason') }}
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" type="submit" class="btn btn-danger" (click)="cancelOrder()" #cancelButton>Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- Cancel Booking -->
<div class="modal fade" id="cancelBooking" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cancel Booking</h4>
      </div>
      <div class="modal-body">
        <h6 class="bold">Packages to be cancelled with this booking:</h6>
        <div class="m-b-10px">
          <h6 *ngFor="let package of cancelPackages">
            <span class="black">{{package.activity_name}}</span> - <span
              class="darkGrey">{{package.package_name}}</span>
          </h6>
        </div>
        <form [formGroup]="cancelBookingForm.getForm()">
          <div class="form-group">
            <label for="reason">Reason:</label>
            <textarea class="form-control" rows="5" id="reason" formControlName="reason"></textarea>
            <span class="help-block has-error" *ngIf="cancelBookingForm.hasError('reason')">
              {{ cancelBookingForm.getError('reason') }}
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" type="submit" class="btn btn-danger" (click)="cancelBooking()" #cancelBookingButton>Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="transactions" role="dialog">
  <div class="modal-dialog  modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Order transactions</h4>
      </div>
      <div class="modal-body">
        <div class="text-center" *ngIf="loadingTransactions;else transactions">
          <app-loading></app-loading>
        </div>
        <ng-template #transactions>
          <div class="panel panel-default height" *ngFor="let transaction of orderTransactions">
            <div class="panel-heading">
              <div class="pull-right">
                <a class="btn btn-primary btn-round btn-sm" title="Preview voucher" target="_blank"
                  href="{{apiBaseUrl+'/voucher_pdf/'+transaction?.order_id+'/'+transaction?.transaction_id}}">
                  <i class="fa fa-eye white"> </i>
                </a>
                <a class="btn btn-primary btn-round btn-sm" title="Download voucher" target="_blank"
                  href="{{apiBaseUrl+'/voucher_pdf/'+transaction?.order_id+'/'+transaction?.transaction_id+'?action=download'}}">
                  <i class="fa fa-download white"> </i>
                </a>
              </div>
              <strong>Transaction id:</strong>
              {{transaction?.transaction_id}}<br>
              <strong>Activity date:</strong>
              {{transaction?.booking_activity_date}}<br>
              <span *ngIf="transaction?.booking_activity_time">
                <strong>Activity time:</strong>
                {{transaction?.booking_activity_time}}<br></span>
              <strong>Price:</strong>
              <span class="appColor">{{orderTransactions[0]?.cost_price}}</span>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<app-footer-desktop></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>