
<app-header class="bottomMenu" name="Child"></app-header>
<app-header-mobile-nav ></app-header-mobile-nav>
<br>
<div style="margin: 1em;padding-top: 0px">
  <div class="input-group">
    <input placeholder="Search by destination, activity or attraction" class="form__field input-lg"
           (ngModelChange)="loadSearchData($event)" [(ngModel)]="searchKeyword" ngModel>
    <span class="input-group-addon appBackColor"  (click)="goToSearchPage()">
            <i class="fa fa-search fa-2x white"></i>
  </span>
  </div>
  <br>
  <div *ngIf="!searchData" class="col-md-12 noMargin noPadding">
    <div>
      <p class="col-xs-12">Popular Destinations</p>
      <span *ngFor="let city of popularCities">
      <a style="margin: 0.5em" class="btn btn-default" [routerLink]="['/city',city?.city_url]">
        {{city?.displayname}}
      </a>
    </span>
    </div>
  </div>

  <div *ngIf="searchData" class="col-md-12 noMargin noPadding">
    <p>Suggestions</p>
    <div *ngFor="let result of searchData; let i=index">
      <div id="searchList" *ngIf="i<5" class="col-md-12">
        <a [routerLink]="['/city',result?.url]" class="noMargin noPadding searchList"
           *ngIf="result?.search_type=='city'">
          <i class="fa fa-globe darkGrey" aria-hidden="true"> </i> {{ result?.name }}</a>
        <a [routerLink]="['/activity',result?.url]" class="noMargin noPadding searchList"
           *ngIf="result?.search_type=='activity'">
          <i class="fa fa-map-marker darkGrey" aria-hidden="true"></i> {{ result?.name }}</a>
        <a [routerLink]="['/activity',result?.activity_url]" class="noMargin noPadding searchList"
           *ngIf="result?.merchant_id">
          <i class="fa fa-map-marker darkGrey" aria-hidden="true"> </i> {{ result?.name }}</a>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer-desktop></app-footer-desktop>
<app-footer-mobile></app-footer-mobile> -->