.searchresultbox {
  background-color: #fff;
  color: #000;
  z-index: 999;
  overflow-x: hidden;
  position: relative;
}

[class^=ais-] {
  font-size: 3rem !important;
  color: red !important;
}

.searchList {
outline: none;
}
