﻿
<app-header class="bottomMenu"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>
<div id="login" class="col-xs-12 col-md-12 greyBackground">
  <div class=" panel panel-default col-xs-12 col-md-4 col-md-offset-4" *ngIf="!isServer">
    <div class="panel-body">
      <button class="btn btn-primary btn-lg btn-block" (click)="signIn('facebook')">
        <i class="fa fa-facebook"></i> Log In with Facebook
      </button>
      <br>
      <button class="btn btn-warning btn-lg btn-block" (click)="signIn('google')">
        <i class="fa fa-google"></i> Log In with Google
      </button>
      <br>
      <p class="col-md-12 col-xs-12 text-center">or</p>

      <form [formGroup]="loginForm.getForm()" (ngSubmit)="directLogin()">

        <div class="form-group" [ngClass]="loginForm.hasError('email') ? 'has-error' : ''">
          <input type="text" class="form-control" name="username" formControlName="email" placeholder="Email">
          <span class="help-block" *ngIf="loginForm.hasError('email')">
            {{ loginForm.getError('email') }}
          </span>
        </div>

        <div class="form-group" [ngClass]="loginForm.hasError('password') ? 'has-error' : ''">
          <input type="password" class="form-control" name="password" formControlName="password" placeholder="password">
          <span class="help-block" *ngIf="loginForm.hasError('password')">
            {{ loginForm.getError('password') }}
          </span>
          <span class="help-block" class="has-error" *ngIf="failMessage">{{failMessage}}</span>
        </div>
        <div class="col-xs-12 text-right">
          <a [routerLink]="['/forgetpwd']">Forgot Password?</a>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-danger btn-block" #loginButton>Log In</button>
        </div>
      </form>
      <hr>
      <div class="col-md-12">
        <a  (click)="signUpClick()" class="btn btn-default pull-right">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 m-t-2" *ngIf="isServer">
    <div class="text-center height100vh">
      <app-loading></app-loading>
    </div>
  </div>
</div>
<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>
