<app-header-mobile-nav></app-header-mobile-nav>
<app-header [text]="text" class="bottomMenu"></app-header>
<div class=" panel panel-default col-xs-12 col-md-4 col-md-offset-4 col-md-offset-4 m-t-2">
  <div class="panel-body">
    <h4>Reset Password</h4>

    <form [formGroup]="changepwdForm.getForm()" (ngSubmit)="submitChangepwd()">

      <label for="new_password">New Password:</label>
      <div class="form-group" [ngClass]="changepwdForm.hasError('new_password') ? 'has-error' : ''">
        <input type="password" id="new_password" class="form-control lg" name="new_password" formControlName="new_password"
          placeholder="Please enter new password">
        <span class="help-block" *ngIf="changepwdForm.hasError('new_password')">
          {{ changepwdForm.getError('new_password') }}
        </span>
      </div>

      <label for="confirm_new_password">Confirm new password:</label>
      <div class="form-group" [ngClass]="changepwdForm.hasError('confirm_new_password') ? 'has-error' : ''">
        <input type="password" id="confirm_new_password" class="form-control lg" name="confirm_new_password"
          formControlName="confirm_new_password" placeholder="Please confirm your password">
        <span class="help-block has-error" *ngIf="changepwdForm.hasError('confirm_new_password')">
          {{ changepwdForm.getError('confirm_new_password') }}
        </span>
      </div>

      <span class="help-block has-error" *ngIf="errors">{{ errors }}</span>

      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-block btn-lg" [disabled]="this.changepwdForm.hasError('new_password') || this.changepwdForm.hasError('confirm_new_password')"
          #submitButton>Confirm
        </button>
      </div>

    </form>

  </div>
</div>
<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>