<app-header class="bottomMenu activityPageHeader" [text]="text" [requestedCurrency]="currency"
  [noOfItem]="noOfItem" (currency)="currencyChanged($event)">
</app-header>
<app-header-mobile-nav></app-header-mobile-nav>
<div class="container">
  <h4 class="col-xs-12 bold m-b-0 m-t-1">
    <i class="fa fa-shopping-cart appColor"></i>&nbsp;&nbsp;&nbsp;Shopping Cart</h4>
  <div class="col-xs-12 shoppingCart" *ngIf="cartData?.data || expiredItems || loading;else cartEmpty">
    <div *ngIf="cartData?.data || expiredItems;else loadingCart">
      <div class="col-xs-12 text-center well p-t-0 p-b-0 hide_mobile">
        <span class="col-xs-2 text-left">
          <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll()"
            [checked]="selectedAll" />&nbsp;&nbsp;All
        </span>
        <span class="col-xs-3 text-left p-l-0">
          Activity Description
        </span>
        <span class="col-xs-2 text-left">
          Date
        </span>
        <span class="col-xs-3 text-left">
          Units
        </span>
        <span class="col-xs-2 text-right">
          Subtotal
        </span>
      </div>
      <div class="panel panel-default">
        <div class="panel-body p-0">
          <div class="col-xs-12 text-center" *ngFor="let item of cartData?.data; let i=index">
            <span class="col-xs-12 col-sm-12 col-md-2 text-left shopping_cart_text-center-xs shoppingCart_position_relative-xs">
              <input type="checkbox" class="vertical-align-top shoppingCart_position_absolute_left-xs" [(ngModel)]="item.selected"
                (change)="checkIfAllSelected()">
              <img class="activityImage m-l-0-xs" *ngIf="item?.activity_image" [src]="item?.activity_image" ttd="activity image"
                alt="{{item?.activity_name}}">
            </span>
            <span class="col-xs-12 col-sm-12 col-md-3 p-l-1 ">
              <h6 class="text-left shoppingcart_text_center-xs bold m-t-0">{{item?.activity_name}}</h6>
              <h6 class="text-left shoppingcart_text_center-xs">{{item?.package_name}}</h6>
            </span>

            <span class="col-xs-12 col-sm-12 col-md-2 text-left shoppingcart_text_center-xs">
              <span *ngIf="item?.booking_activity_date">
                <h6 class="m-t-0">{{item?.booking_activity_date}}</h6>
              </span>
              <span *ngIf="item?.booking_activity_time">
                <h6>{{item?.booking_activity_time}}</h6>
              </span>
            </span>

            <div class="col-xs-12 col-sm-12 col-md-3 text-left">
              <div class="col-xs-12 p-l-0 p-t-0 cartGroupList" *ngFor="let group of item?.group_price_details">
                <div class="left">
                  <span>{{group?.age_group_name}}</span>
                </div>
                <div class="right">
                  <span class="select m_radius_box">
                    <i class="fa fa-minus float-left"
                      [ngClass]="(group?.quantity <= group?.min_quantity) || item.total_participants <= 1 ? 'quantity-disabled': ''" aria-hidden="true"
                      (click)="removeQty(group, item)"></i>
                    <input id="{{item.package_id+'_'+group.group_price_id}}" type="text" class="float-left f14" value="{{group?.quantity}}" readonly>
                    <i class="fa fa-plus float-left"
                      [ngClass]="group?.quantity >= group?.max_quantity ? 'quantity-disabled': ''" aria-hidden="true"
                      (click)="addQty(group, item)"></i>
                  </span>
                </div>
              </div>
            </div>
            <span class="col-xs-12 col-sm-12 col-md-2 text-right shoppingcart_text_center-xs">
              <h6 class="m-t-0 bold">{{currency}} {{item?.package_cost}}</h6>
            </span>
            <div class="col-xs-12 borderBottom text-left">
              <div class="col-xs-6 col-sm-6 col-md-2 text-left">
                <a class="deleteBtn" (click)="deleteItem(item)">
                  <i class="fa fa-trash-o deleteicon"></i>&nbsp;&nbsp;&nbsp;Delete</a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2 text-left">
                <a class="deleteBtn" (click)="onEditClick(item)">
                  <i class="fa fa-pencil-square-o deleteicon"></i>&nbsp;&nbsp;&nbsp;Edit</a>
              </div>
            </div>

          </div>
          <div class="col-xs-12 text-right p-t-0">
            <h6 *ngIf="cartData?.VAT_amount" class="bold p-r-10px">VAT amount - {{currency}} {{cartData?.VAT_amount}}
            </h6>
          </div>
        </div>

        <!-- Expired Items -->

        <div class="panel-body p-0" *ngIf="expiredItems && expiredItems.length > 0">
          <h5 class="col-xs-12 bold p-l-1 m-t-0 well m-b-10px">Expired</h5>
          <div class="col-xs-12 text-center" *ngFor="let item of expiredItems; let i=index">
            <span class="col-xs-12 col-sm-12 col-md-2 text-left shoppingcart_text_center-xs">
              <img class="expiredActivityImage m-l-0-xs" *ngIf="item?.activity_image" [src]="item?.activity_image"
                ttd="activity image" alt="{{item?.activity_name}}">
            </span>
            <span class="col-xs-12 col-sm-12 col-md-3 p-l-0">
              <h6 class="text-left shoppingcart_text_center-xs bold m-t-0">{{item?.activity_name}}</h6>
              <h6 class="text-left shoppingcart_text_center-xs">{{item?.package_name}}</h6>
            </span>
            <span class="col-xs-12 col-sm-12 col-md-2 text-left shoppingcart_text_center-xs">
              <span *ngIf="item?.booking_activity_date">
                <h6 class="m-t-0">{{item?.booking_activity_date}}</h6>
              </span>
              <span *ngIf="item?.booking_activity_time">
                <h6>{{item?.booking_activity_time}}</h6>
              </span>
            </span>
            <div class="col-xs-12 col-sm-12 col-md-3 text-left">
              <span *ngFor="let group of item?.group_price_details">
                <div class="col-xs-12 p-t-0 p-b-0">
                  <h6 class="col-xs-8 p-0 m-t-0">{{group?.age_group_name}}</h6>
                  <h6 class="col-xs-4 p-0 m-t-0 text-right"> {{group?.quantity}}</h6>
                </div>
              </span>
            </div>
            <span class="col-xs-12 col-sm-12 col-md-2 text-right shoppingcart_text_center-xs">
              <h6 class="m-t-0 bold">{{currency}} {{item?.package_cost}}</h6>
            </span>
            <div class="col-xs-12 borderBottom text-left"
              [ngClass]="(i < cartData?.data?.length-1) ? 'borderBottom': ''">
              <div class="col-xs-6 col-sm-6 col-md-2 text-left">
                <a class="deleteBtn" (click)="deleteItem(item, true, i)">
                  <i class="fa fa-trash-o deleteicon"></i>&nbsp;&nbsp;&nbsp;Delete</a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2 text-left">
                <a class="deleteBtn" (click)="onEditClick(item)">
                  <i class="fa fa-pencil-square-o deleteicon"></i>&nbsp;&nbsp;&nbsp;Edit</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 text-left shoppingcart_text_center-xs">
                <span class="text-danger m-l-4 m-l-0-xs">This date is not available, please rebook</span>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 p-t-1">
          <div class="col-xs-12 col-sm-12 col-md-7">
            <div class="pull-left col-xs-12 col-sm-12 col-md-12">
              <span class="col-xs-12 col-sm-12 col-md-2 text-left shopping_cart_text-center-xs">
                <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll()" />&nbsp;&nbsp;All
              </span>
              <a class=" col-xs-12 col-sm-12 col-md-4 m-l-2 m-l-0-xs color666 shopping_cart_text-center-xs" (click)="deleteSelectItems()">Delete Selected Activity</a>
              <a *ngIf="expiredItems && expiredItems.length > 0" class="col-xs-12 col-sm-12 col-md-4 m-l-1 m-l-0-xs color666 shopping_cart_text-center-xs"
                (click)="clearExpiredItems()">Clear
                Expired Activities</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5">
          <span class="col-xs-12 col-md-6 shopping_cart_text-center-xs col-md-push-6"><button class=" btn btn-lg paynowBtn" (click)="payNow()">Pay Now</button></span>
          <span class="col-xs-12 col-md-6 shopping_cart_text-center-xs col-md-pull-6"><div class="">
            <h4 class="appColor totalcss p-t-10px m-0 p-r-1">
              <span class="textColor">Total - </span>
              {{currency}} {{cartData?.total_cost}}</h4>
          </div>
        </span>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #cartEmpty>
  <div class="p-4 text-center">
    <img src="assets/images/empty-cart.webp" height="185" alt="ttd logo">
    <h5 class="text-center font-weight500">Your Shopping Cart is empty.</h5>
    <h6 class="text-center">Check out our top recommendations for you</h6>
  </div>
  <div class="col-xs-12">
    <h5 class="font-weight500 popular-destination marLeft10">Popular Destinations</h5>
    <div class="col-xs-12 p-0 cityBlocks">
      <app-city-card class="col-xs-12 col-sm-6 col-md-3" [city]="destination" *ngFor="let destination of popularDestinations">
      </app-city-card>
    </div>
    <div class="col-xs-12 col-lg-12 text-center m-0 p-0">
      <button class="btn exploreMoreBtn" [routerLink]="['']">Explore More
      </button>
    </div>
  </div>

</ng-template>

<ng-template #loadingCart>
  <div class="p-4 text-center">
    <app-loading></app-loading>
    <h4 class="text-center">Loading cart...</h4>
  </div>
</ng-template>

<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>