﻿@import "~swiper/dist/css/swiper.min.css";
body {
    font-size: 14px;
    font-display: swap;
}

.noUi-connect {
    background: #EF1223;
}

a:hover,
a:visited,
a:link,
a:active {
    color: #444444;
    text-decoration: none;
}

.btn {
    text-transform: none;
}

* {
    outline: none !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a {
    cursor: pointer;
    color: #444444;
}

.help-block {
    font-size: 12px;
}

.app {
    background-color: #f5f5f5;
}

.grey {
    color: lightgrey;
}

.darkGrey {
    color: grey;
}

.lightGrey {
    color: lightgrey;
}

.greyBackground {
    background-color: #f5f5f5 !important;
}

.appColor {
    color: #EF1223;
}

.orange {
    color: #ffc70b;
}

.appBackColor {
    background-color: #EF1223;
    margin-top: -19px;
}

.cart-nav{
    padding-left: 5px!important;
    padding-right: 2px!important;
}

.cart-nav .cart-icon{
    font-size: 24px;
    position: relative;
    top: -5px;
}
.cart-nav .cart-count{
    font-size: 10px;
    position: relative;
    left: -8px;
    top: -8px;
    background-color: #EF1223;
    margin-top: -19px;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

.mobileHeaderColor {
    background-color: #EF1223 !important;
}

.textColor {
    color: #444444;
}

.black {
    color: #000 !important;
}

.noMargin {
    margin: 0px !important;
}

.noPadding {
    padding: 0px !important;
}

.tile:hover {
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(0px, -5px);
}

.red {
    color: red;
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}

.cursor {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.noOutline {
    outline: none;
}

* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

[hidden] {
    display: none;
}


/* . {
  display: block;
  width: 56px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
  z-index: 999;
  font-size: 12px;
  color: #758694;
  padding: 21px 0;

} */

.section {
    background-color: white;
}

.package {
    background-color: #fafafa;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.has-error {
    color: #EF1223;
}

.has-error-white {
    color: white;
}

.form__field {
    width: 100%;
    background: #fff;
    color: black;
    font: inherit;
    border: 1px solid black;
    border-color: rgba(0, 0, 0, 0.33);
    outline: 1px;
    padding: 10px;
    border-radius: 3px;
}

.form__field-small {
    width: 100% !important;
    padding: 5px !important;
    border: 1px solid #dadada !important;
    -webkit-border-radius: 5px !important;
    border-radius: 3px !important;
}

.shadow {
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.36);
}

.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}

.handPointer {
    cursor: pointer
}

.btn-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

textarea {
    border: 1px solid #dfe3e9 !important;
    outline: 0 none !important;
}

input[type=number] {
    border: 1px solid #dfe3e9 !important;
}

select {
    border: 1px solid #dfe3e9 !important;
}

.loadingTable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.3;
}

.textWrap {
    white-space: pre-wrap;
}

.paginationBtn .pagination>.active>a,
.paginationBtn .pagination>.active>span,
.paginationBtn .pagination>.active>a:hover,
.paginationBtn .pagination>.active>span:hover,
.paginationBtn .pagination>.active>a:focus,
.paginationBtn .pagination>.active>span:focus {
    background-color: #EF1223;
    border-color: #EF1223;
    color: #ffffff;
    z-index: 0;
}

.paginationBtn .pagination>li>a:hover,
.paginationBtn .pagination>li>span:hover,
.paginationBtn .pagination>li>a:focus,
.paginationBtn .pagination>li>span:focus {
    background-color: #EF1223;
    border-color: #EF1223;
    color: #ffffff;
    z-index: 0;
}

.paginationBtn .pagination>li>a,
.paginationBtn .pagination>li>span {
    color: #333333;
    margin-left: 5px;
    padding: 4px 13px;
}

.paginationBtn .pagination>.disabled>span,
.paginationBtn .pagination>.disabled>span:hover,
.paginationBtn .pagination>.disabled>span:focus,
.paginationBtn .pagination>.disabled>a,
.paginationBtn .pagination>.disabled>a:hover,
.paginationBtn .pagination>.disabled>a:focus {
    color: #bbbbbb;
    background-color: #ffffff;
    border-color: #dddddd;
}

.padTop5 {
    padding-top: 5px;
}

.alignList ol,
.alignList ul {
    padding: 0px 15px;
    margin: -10px 0px;
}

.highlightsList ol,
.highlightsList ul {
    padding: 0px 15px;
    margin: 4px 0px;
    color: #333;
}

.mHighlightsList ol,
.mHighlightsList ul {
    padding: 0px 0px 0px 15px;
    margin: 4px 0px;
    color: #333;
}

.shoppingCart input[type="checkbox"]:checked:after,
.shoppingCart .checkbox input[type="checkbox"]:checked:after,
.shoppingCart .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #EF1223 !important;
    border-color: #EF1223 !important;
}

.shoppingCart input[type="checkbox"]:focus:after,
.shoppingCart .checkbox input[type="checkbox"]:focus:after,
.shoppingCart .checkbox-inline input[type="checkbox"]:focus:after {
    border-color: #666666;
}

.shoppingCart .mfooter {
    border-top: 1px solid #eee;
}

.cartGroupList {
    margin: 0;
    color: #333;
    display: table;
    font-size: 14px;
    position: relative;
    width: 100%;
}

.cartGroupList .left {
    display: table-cell;
    vertical-align: top;
}

.cartGroupList .mleft {
    display: table-cell;
    vertical-align: middle;
}

.cartGroupList .right {
    display: table-cell;
    padding-left: 30px;
    white-space: nowrap;
    float: right;
}

.cartGroupList .mright {
    display: table-cell;
    padding-left: 20px;
    white-space: nowrap;
    float: right;
}

.cartGroupList .select {
    display: inline-block;
    height: 30px;
    width: 100px;
    overflow: hidden;
    position: relative;
    margin-bottom: -5px;
    margin-left: 10px;
    border: 1px solid #dcd8d8;
    box-sizing: border-box;
    background: #fafafa;
}

.m_radius_box {
    border-radius: 2px;
}

.cartGroupList .select i {
    display: inline-block;
    position: relative;
    width: 31px;
    height: 31px;
    background: #fafafa;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    line-height: 31px;
}

.cartGroupList .select i.fa-plus {
    border-left: 1px solid #dcd8d8;
}

.cartGroupList .select i.fa-minus {
    border-right: 1px solid #dcd8d8;
}

.cartGroupList .select input {
    width: 36px;
    height: 29px;
    border: none;
    display: inline-block;
    text-align: center;
    border-radius: 0;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.m-t-minus-5 {
    margin-top: -5px;
}

.activityImage {
    height: 90px;
    width: 90px;
    margin-left: 20px;
}

.mActivityImage {
    height: 64px;
    width: 64px;
    margin-left: 10px;
}

.borderBottom {
    border-bottom: 1px solid #ddd;
}

.deleteBtn {
    margin-left: 45px;
    color: #666666;
}

.deleteicon {
    font-size: 18px !important;
    color: #999;
}

.p-r-10px {
    padding-right: 10px;
}

.p-r-5px {
    padding-right: 5px;
}

.p-t-10px {
    padding-top: 10px;
}

.p-t-50px {
    padding-top: 50px;
}

.paynowBtn {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #EF1223;
}

.app-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.expiredActivityImage {
    height: 90px;
    width: 90px;
    margin-left: 44px;
}

.m-b-3px {
    margin-bottom: 3px;
}

.m-b-10px {
    margin-bottom: 10px;
}

.m-b-15px {
    margin-bottom: 15px;
}

.m-b-20px {
    margin-bottom: 20px;
}

.m-b-30px {
    margin-bottom: 30px;
}

.color666 {
    color: #666666;
}

.m-r-12px {
    margin-right: 12px;
}

.f15 {
    font-size: 15px !important;
}

.f16 {
    font-size: 16px !important;
}

.f18 {
    font-size: 18px !important;
}

.f13 {
    font-size: 13px !important;
}

.f12 {
    font-size: 12px !important;
}

.f14 {
    font-size: 14px !important;
}

.f20 {
    font-size: 20px !important;
}

.f24 {
    font-size: 24px !important;
}

.f30 {
    font-size: 30px !important;
}

.f32 {
    font-size: 32px !important;
}

.f36 {
    font-size: 36px !important;
}

.f50 {
    font-size: 50px !important;
}

.f60 {
    font-size: 60px !important;
}

.pad10 {
    padding: 10px !important;
}

.mSelectDropdown {
    background-color: rgb(80, 80, 80);
    color: lightgrey;
    border-color: rgb(80, 80, 80);
    height: 44px;
    border: none !important;
    /* box-shadow: none; */
    background-size: 20px;
}

.width35px {
    width: 35px !important;
}

.extra-content {
    color: #333;
}

.extra-content h4 {
    font-size: 18px !important;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
}

.extra-content ul {
    padding: 0px 20px;
    margin-bottom: 0px;
}

.m-extra-content {
    color: #333;
}

.m-extra-content h4 {
    font-size: 18px !important;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
}

.m-extra-content ul {
    padding: 0px 10px 0px 15px;
    margin-bottom: 0px;
}

.additional_div {
    border-radius: 2px;
    padding: 20px;
    background-color: #fffae5;
}

.additional_div_m {
    border-radius: 2px;
    padding: 15px;
    background-color: #fffbf2;
    border: solid 1px #ffe6c2;
}

.fontNormal {
    font-weight: normal !important;
}

.m_panel {
    margin-bottom: 8px !important;
}

.lineHeight0 {
    line-height: 0;
}

.packageBox {
    padding: 16px 20px;
    background: #fff;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.packageBox .name {
    line-height: 24px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.packageBox li,
p {
}

.packageBox .price-primary {
    line-height: 24px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.packageBox .price-secondary {
    line-height: 18px;
    color: #888;
    font-size: 14px;
}

.packageBox .detail {
    color: #888;
    font-size: 14px;
    cursor: pointer;
}

.marLeft10 {
    margin-left: 10px !important;
}

.marLeft5 {
    margin-left: 5px !important;
}

.quickInfo {
    padding: 0px 10px 18px 10px;
    overflow: hidden;
    margin: 0;
}

.quickInfo li {
    display: inline-block;
    padding-top: 18px;
    margin-right: 35px;
    list-style: none;
}

.marTop5 {
    margin-top: 5px !important;
}

.marTop9 {
    margin-top: 9px !important;
}

.marTop10 {
    margin-top: 10px !important;
}

.marTop14 {
    margin-top: 14px !important;
}

.marTop15 {
    margin-top: 15px !important;
}

.marTop20 {
    margin-top: 20px !important;
}

.marTop40 {
    margin-top: 40px !important;
}

.lineHeight22 {
    line-height: 22px !important;
}

.icon-div {
    line-height: 1.5;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    max-width: 635px;
}

.t_v_mid {
    display: block;
}

.t_gray {
    color: #888;
}

.padLeft5 {
    padding-left: 5px;
}

.padLeft7 {
    padding-left: 7px;
}

.padLeft10 {
    padding-left: 10px;
}

.padLeft15 {
    padding-left: 15px;
}

.padLeft23 {
    padding-left: 23px;
}

.marBtm10 {
    margin-bottom: 10px;
}

.marRight5 {
    margin-right: 5px;
}

.marRight8 {
    margin-right: 8px;
}

.marRight20 {
    margin-right: 20px !important;
}

.marBtm3 {
    margin-bottom: 3px;
}

.marBtm5 {
    margin-bottom: 5px;
}

.width22px {
    width: 22px;
}

.theme-red a{
    color: #EF1223;
}

.pad5 {
    padding: 5px;
}

.ttd-icon-top {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #EF1223;
    right: 25px;
    bottom: 65px;
    cursor: pointer;
    font-size: 50px;
    z-index: 10;
    background: none;
    border: none;
    line-height: 0;
}

.copyright {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

.today-class {
    background-color: #a4a9b1;
    color: #fff;
}

.footer-btn {
    padding: 6px 6px;
    border-radius: 2px;
    border: 1px solid #888;
    box-sizing: border-box;
    outline: none;
}

.footer-btn:hover {
    border-color: #fff;
    color: #fff;
}

.footer-span {
    padding: 6px 8px;
}

.selectLanguage {
    color: grey !important;
    border-radius: 2px !important;
    border: 1px solid #888 !important;
    padding: 6px 8px !important;
    background-size: 14px;
    background-color: rgb(51, 51, 51);
    font-size: 14px;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.btn-danger {
    background: #EF1223;
    border-radius: 2px;
}

.btn-default {
    border-radius: 2px;
}

.font-weight500 {
    font-weight: 500;
}

.popular-destination:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 20px;
    background-color: #EF1223;
    border-radius: 2px;
    position: absolute;
    left: 0;
}

.popular-destination {
    padding-left: 15px;
    position: relative;
}

.exploreMoreBtn {
    box-sizing: border-box;
    padding: 4px 100px;
    margin: 30px 0px 40px 0px;
    color: #EF1223;
    border: 1px solid #EF1223;
    font-size: 18px;
    border-radius: 2px;
    background-color: #ffffff;
}

.exploreMoreBtn:hover {
    color: #ffffff;
    background-color: #EF1223;
}

.quantity-disabled {
    color: lightgray;
    cursor: not-allowed !important;
}


/* =========================================== margin =========================================== */

.m-0 {
    margin: 0 !important
}

.m-1 {
    margin: 1em !important
}

.m-2 {
    margin: 2em !important
}

.m-3 {
    margin: 3em !important
}

.m-4 {
    margin: 4em !important
}

.m-5 {
    margin: 5em !important
}

.m-6 {
    margin: 6em !important
}

.m-7 {
    margin: 7em !important
}

.m-8 {
    margin: 8em !important
}

.m-9 {
    margin: 9em !important
}

.m-10 {
    margin: 10em !important
}

.m-15 {
    margin: 15em !important
}

.m-20 {
    margin: 20em !important
}

.m-25 {
    margin: 25em !important
}

.m-30 {
    margin: 30em !important
}

.m-40 {
    margin: 40em !important
}

.m-50 {
    margin: 50em !important
}

.m-60 {
    margin: 60em !important
}

.m-70 {
    margin: 70em !important
}

.m-80 {
    margin: 80em !important
}

.m-90 {
    margin: 90em !important
}

.m-100 {
    margin: 100em !important
}


/*Margin-top*/

.m-t-0 {
    margin-top: 0 !important
}

.m-t-1 {
    margin-top: 1em !important
}

.m-t-2 {
    margin-top: 2em !important
}

.m-t-3 {
    margin-top: 3em !important
}

.m-t-4 {
    margin-top: 4em !important
}

.m-t-5 {
    margin-top: 5em !important
}

.m-t-6 {
    margin-top: 6em !important
}

.m-t-7 {
    margin-top: 7em !important
}

.m-t-8 {
    margin-top: 8em !important
}

.m-t-9 {
    margin-top: 9em !important
}

.m-t-10 {
    margin-top: 10em !important
}

.m-t-15 {
    margin-top: 15em !important
}

.m-t-20 {
    margin-top: 20em !important
}

.m-t-25 {
    margin-top: 25em !important
}

.m-t-30 {
    margin-top: 30em !important
}

.m-t-40 {
    margin-top: 40em !important
}

.m-t-50 {
    margin-top: 50em !important
}

.m-t-60 {
    margin-top: 60em !important
}

.m-t-70 {
    margin-top: 70em !important
}

.m-t-80 {
    margin-top: 80em !important
}

.m-t-90 {
    margin-top: 90em !important
}

.m-t-100 {
    margin-top: 100em !important
}


/*Margin-bottom*/

.m-b-0 {
    margin-bottom: 0px !important
}

.m-b-1 {
    margin-bottom: 1em !important
}

.m-b-2 {
    margin-bottom: 2em !important
}

.m-b-3 {
    margin-bottom: 3em !important
}

.m-b-4 {
    margin-bottom: 4em !important
}

.m-b-5 {
    margin-bottom: 5em !important
}

.m-b-6 {
    margin-bottom: 6em !important
}

.m-b-7 {
    margin-bottom: 7em !important
}

.m-b-8 {
    margin-bottom: 8em !important
}

.m-b-9 {
    margin-bottom: 9em !important
}

.m-b-10 {
    margin-bottom: 10em !important
}

.m-b-15 {
    margin-bottom: 15em !important
}

.m-b-20 {
    margin-bottom: 20em !important
}

.m-b-25 {
    margin-bottom: 25em !important
}

.m-b-30 {
    margin-bottom: 30em !important
}

.m-b-40 {
    margin-bottom: 40em !important
}

.m-b-50 {
    margin-bottom: 50em !important
}

.m-b-60 {
    margin-bottom: 60em !important
}

.m-b-70 {
    margin-bottom: 70em !important
}

.m-b-80 {
    margin-bottom: 80em !important
}

.m-b-90 {
    margin-bottom: 90em !important
}

.m-b-100 {
    margin-bottom: 100em !important
}


/*Margin-right*/

.m-r-0 {
    margin-right: 0 !important
}

.m-r-1 {
    margin-right: 1em !important
}

.m-r-2 {
    margin-right: 2em !important
}

.m-r-3 {
    margin-right: 3em !important
}

.m-r-4 {
    margin-right: 4em !important
}

.m-r-5 {
    margin-right: 5em !important
}

.m-r-6 {
    margin-right: 6em !important
}

.m-r-7 {
    margin-right: 7em !important
}

.m-r-8 {
    margin-right: 8em !important
}

.m-r-9 {
    margin-right: 9em !important
}

.m-r-10 {
    margin-right: 10em !important
}

.m-r-15 {
    margin-right: 15em !important
}

.m-r-20 {
    margin-right: 20em !important
}

.m-r-25 {
    margin-right: 25em !important
}

.m-r-30 {
    margin-right: 30em !important
}

.m-r-40 {
    margin-right: 40em !important
}

.m-r-50 {
    margin-right: 50em !important
}

.m-r-60 {
    margin-right: 60em !important
}

.m-r-70 {
    margin-right: 70em !important
}

.m-r-80 {
    margin-right: 80em !important
}

.m-r-90 {
    margin-right: 90em !important
}

.m-r-100 {
    margin-right: 100em !important
}


/*Margin-left*/

.m-l-0 {
    margin-left: 0 !important
}

.m-l-1 {
    margin-left: 1em !important
}

.m-l-2 {
    margin-left: 2em !important
}

.m-l-3 {
    margin-left: 3em !important
}

.m-l-4 {
    margin-left: 4em !important
}

.m-l-5 {
    margin-left: 5em !important
}

.m-l-6 {
    margin-left: 6em !important
}

.m-l-7 {
    margin-left: 7em !important
}

.m-l-8 {
    margin-left: 8em !important
}

.m-l-9 {
    margin-left: 9em !important
}

.m-l-10 {
    margin-left: 10em !important
}

.m-l-15 {
    margin-left: 15em !important
}

.m-l-20 {
    margin-left: 20em !important
}

.m-l-25 {
    margin-left: 25em !important
}

.m-l-30 {
    margin-left: 30em !important
}

.m-l-40 {
    margin-left: 40em !important
}

.m-l-50 {
    margin-left: 50em !important
}

.m-l-60 {
    margin-left: 60em !important
}

.m-l-70 {
    margin-left: 70em !important
}

.m-l-80 {
    margin-left: 80em !important
}

.m-l-90 {
    margin-left: 90em !important
}

.m-l-100 {
    margin-left: 100em !important
}


/* =========================================== padding =========================================== */

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 1em !important;
}

.p-2 {
    padding: 2em !important;
}

.p-3 {
    padding: 3em !important;
}

.p-4 {
    padding: 4em !important;
}

.p-5 {
    padding: 5em !important;
}

.p-6 {
    padding: 6em !important;
}

.p-7 {
    padding: 7em !important;
}

.p-8 {
    padding: 8em !important;
}

.p-9 {
    padding: 9em !important;
}

.p-10 {
    padding: 10em !important;
}

.p-15 {
    padding: 15em !important;
}

.p-20 {
    padding: 20em !important;
}

.p-25 {
    padding: 25em !important;
}

.p-30 {
    padding: 30em !important;
}

.p-40 {
    padding: 40em !important;
}

.p-50 {
    padding: 50em !important;
}

.p-60 {
    padding: 60em !important;
}

.p-70 {
    padding: 70em !important;
}

.p-80 {
    padding: 80em !important;
}

.p-90 {
    padding: 90em !important;
}

.p-100 {
    padding: 100em !important;
}


/*padding-top*/

.p-t-0 {
    padding-top: 0 !important;
}

.p-t-1 {
    padding-top: 1em !important;
}

.p-t-2 {
    padding-top: 2em !important;
}

.p-t-3 {
    padding-top: 3em !important;
}

.p-t-4 {
    padding-top: 4em !important;
}

.p-t-5 {
    padding-top: 5em !important;
}

.p-t-6 {
    padding-top: 6em !important;
}

.p-t-7 {
    padding-top: 7em !important;
}

.p-t-8 {
    padding-top: 8em !important;
}

.p-t-9 {
    padding-top: 9em !important;
}

.p-t-10 {
    padding-top: 10em !important;
}

.p-t-15 {
    padding-top: 15em !important;
}

.p-t-20 {
    padding-top: 20em !important;
}

.p-t-25 {
    padding-top: 25em !important;
}

.p-t-30 {
    padding-top: 30em !important;
}

.p-t-40 {
    padding-top: 40em !important;
}

.p-t-50 {
    padding-top: 50em !important;
}

.p-t-60 {
    padding-top: 60em !important;
}

.p-t-70 {
    padding-top: 70em !important;
}

.p-t-80 {
    padding-top: 80em !important;
}

.p-t-90 {
    padding-top: 90em !important;
}

.p-t-100 {
    padding-top: 100em !important;
}


/*padding-bottom*/

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-b-1 {
    padding-bottom: 1em !important;
}

.p-b-2 {
    padding-bottom: 2em !important;
}

.p-b-3 {
    padding-bottom: 3em !important;
}

.p-b-4 {
    padding-bottom: 4em !important;
}

.p-b-5 {
    padding-bottom: 5em !important;
}

.p-b-6 {
    padding-bottom: 6em !important;
}

.p-b-7 {
    padding-bottom: 7em !important;
}

.p-b-8 {
    padding-bottom: 8em !important;
}

.p-b-9 {
    padding-bottom: 9em !important;
}

.p-b-10 {
    padding-bottom: 10em !important;
}

.p-b-15 {
    padding-bottom: 15em !important;
}

.p-b-20 {
    padding-bottom: 20em !important;
}

.p-b-25 {
    padding-bottom: 25em !important;
}

.p-b-30 {
    padding-bottom: 30em !important;
}

.p-b-40 {
    padding-bottom: 40em !important;
}

.p-b-50 {
    padding-bottom: 50em !important;
}

.p-b-60 {
    padding-bottom: 60em !important;
}

.p-b-70 {
    padding-bottom: 70em !important;
}

.p-b-80 {
    padding-bottom: 80em !important;
}

.p-b-90 {
    padding-bottom: 90em !important;
}

.p-b-100 {
    padding-bottom: 100em !important;
}


/*padding-right*/

.p-r-0 {
    padding-right: 0 !important;
}

.p-r-1 {
    padding-right: 1em !important;
}

.p-r-2 {
    padding-right: 2em !important;
}

.p-r-3 {
    padding-right: 3em !important;
}

.p-r-4 {
    padding-right: 4em !important;
}

.p-r-5 {
    padding-right: 5em !important;
}

.p-r-6 {
    padding-right: 6em !important;
}

.p-r-7 {
    padding-right: 7em !important;
}

.p-r-8 {
    padding-right: 8em !important;
}

.p-r-9 {
    padding-right: 9em !important;
}

.p-r-10 {
    padding-right: 10em !important;
}

.p-r-15 {
    padding-right: 15em !important;
}

.p-r-20 {
    padding-right: 20em !important;
}

.p-r-25 {
    padding-right: 25em !important;
}

.p-r-30 {
    padding-right: 30em !important;
}

.p-r-40 {
    padding-right: 40em !important;
}

.p-r-50 {
    padding-right: 50em !important;
}

.p-r-60 {
    padding-right: 60em !important;
}

.p-r-70 {
    padding-right: 70em !important;
}

.p-r-80 {
    padding-right: 80em !important;
}

.p-r-90 {
    padding-right: 90em !important;
}

.p-r-100 {
    padding-right: 100em !important;
}


/*padding-left*/

.p-l-0 {
    padding-left: 0 !important;
}

.p-l-1 {
    padding-left: 1em !important;
}

.p-l-2 {
    padding-left: 2em !important;
}

.p-l-3 {
    padding-left: 3em !important;
}

.p-l-4 {
    padding-left: 4em !important;
}

.p-l-5 {
    padding-left: 5em !important;
}

.p-l-6 {
    padding-left: 6em !important;
}

.p-l-7 {
    padding-left: 7em !important;
}

.p-l-8 {
    padding-left: 8em !important;
}

.p-l-9 {
    padding-left: 9em !important;
}

.p-l-10 {
    padding-left: 10em !important;
}

.p-l-15 {
    padding-left: 15em !important;
}

.p-l-20 {
    padding-left: 20em !important;
}

.p-l-25 {
    padding-left: 25em !important;
}

.p-l-30 {
    padding-left: 30em !important;
}

.p-l-40 {
    padding-left: 40em !important;
}

.p-l-50 {
    padding-left: 50em !important;
}

.p-l-60 {
    padding-left: 60em !important;
}

.p-l-70 {
    padding-left: 70em !important;
}

.p-l-80 {
    padding-left: 80em !important;
}

.p-l-90 {
    padding-left: 90em !important;
}

.p-l-100 {
    padding-left: 100em !important;
}


.banner_img {
    width: 100% !important;
    height: 530px;
}

.aboutus-content p {
    line-height: 1.56;
}

.aboutus-gray-background {
    background-color: #f5f5f5;
}

.aboutus-content {
    text-align: center;
}

.aboutus-content h2 {
    margin-top: 0px;
    padding: 50px 0px 30px 0px;
}

.aboutus-content h5 {
    padding: 0px 26% 1%;
    line-height: 1.56
}

.aboutus-content h4 {
    padding: 0px 26% 6%;
    line-height: 1.56
}

.aboutus-promise-heading {
    padding: 20px 0% 10px !important;
}

.aboutus-center {
    position: absolute;
    top: 350px;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.aboutus-white {
    color: white;
    padding: 7px;
    font-weight: 600;
}

.customImg img {
    max-width: 100%;
}

/* full calendar customized */

.full-calendar-container {
    width: 340px !important;
    min-height: 380px !important;
    padding: 10px !important;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
}

.full-calendar-container .fc-today-button {
    display: none;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border: none !important;
}

.fc-day-top {
    position: relative;
}

.fc-bg table,
.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
    height: 45px !important;
}

.fc-day-top .fc-day-number {
    position: absolute;
    left: 50%;
    top: 22px;
    transform: translate(-50%, -50%);
}

/* .fc-day.fc-widget-content{
       border-radius: 50%;
   } */

.fc-day.fc-widget-content:hover {
    cursor: pointer;
    background-color: #eee;
}

.fc-content-skeleton {
    pointer-events: none;
}

td.fc-day-top {
    color: #424242;
}

td.fc-day-top.fc-past,
td.fc-day-top.disabled-date {
    color: #999;
}

.fc-day.fc-widget-content.disabled-date:hover,
.fc-day.fc-widget-content.fc-other-month:hover,
.fc-day.fc-widget-content.fc-past:hover {
    cursor: not-allowed;
    background: none;
}

.fc-button-group {
    position: unset !important;
}

.fc-toolbar.fc-header-toolbar {
    position: relative;
}

.fc-left {
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fc-prev-button {
    position: absolute !important;
    left: 0px;
}

.fc-button-primary {
    color: #fff;
    background-color: #ef1223 !important;
    border-color: #ef1223 !important;
}

.fc-event-container {
    position: absolute !important;
    bottom: -44px;
    color: #999;
}

.fc-event {
    color: unset !important;
    font-size: 0.65em !important;
    border: none !important;
    left: 45%;
    transform: translateX(-50%);
    background-color: unset !important;
}

.fc-day.fc-widget-content.full-calendar-selected-date {
    background-color: #ef1223;
}

td.fc-day-top.full-calendar-selected-date {
    color: white;
}

.selected-date-comment {
    color: white !important;
}

.fc-unthemed .fc-disabled-day {
    background: none !important;
}

.fc-unthemed .fc-disabled-day:hover {
    cursor: none;
    pointer-events: none;
}

.full_calendar_wrapper .fc-day.disabled-week-day {
    background: none !important;
    cursor: not-allowed !important;
}

.full_calendar_wrapper .fc-day.disabled-week-day:hover {
    background: none !important;
    cursor: not-allowed !important;
    color: #999 !important;
}

td.fc-day-top.disabled-week-day {
    color: #999 !important;
}

app-header-mobile-nav {
    display: none;
  }
  app-footer-mobile {
    display: none;
  }

  .hide_mobile{
    display: block;
  }

  .hide_desk{
      display: none;
  }

  small, .small {
    padding-left:2px !important;
    }


@media only screen and (min-width: 768px) {
    .video-wrapper {
        background-color: black;
    }
}

@media (max-width: 768px) {
    app-header {
        display: none !important;
      }
    
      app-footer-desktop {
        display: none;
      }
      app-header-mobile-nav {
        display: block;
      }
    
      app-footer-mobile {
        display: block;
      }

      .mobile_footer_bottom_space .booking_button_mobile
  {
    margin-bottom: 65px;
  }
    .f30-xs {
        font-size: 30px !important;
    }
    
    .p-0-xs {
        padding: 0 !important;
    }

    .p-l-0-xs {
        padding-left: 0 !important;
    }

    .p-b-1-xs {
        padding-bottom: 1em !important;
    }

    .m-0-xs {
        margin: 0 !important;
    }

    .hide-xs {
        display: none !important;
    }

    .activity_nav_sections {
        display: none !important;
    }

    .video-wrapper {
        background: none;
    }
    .input-group-addon .search_btn_mob{
        padding:6px 0px !important;
      }
      .p-t-1-xs {
        padding-top: 1em !important;
    }

  
    .m-l-0-xs {
        margin-left: 0 !important
    }
    /* .shoppingcart_alert_margin_left-0-xs{
        margin:0 auto;
    } */

    .shopping_cart_text-center-xs
    {
        text-align: center;
    }

    .shoppingCart_position_relative-xs{
        position: relative;
    }

    .shoppingCart_position_absolute_left-xs{
        position: absolute !important;
        left: 0;
    }

    .shoppingcart_text_center-xs{
        text-align: center;
    }
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.vertical-align-top {
    vertical-align: top !important;
}

.border-none {
    border: none;
}

.border0 {
    border: 0
}

.yoursToExplore {
    position: absolute;
    top: 160px;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.overflow-hidden {
    overflow: hidden;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.travelAltImage {
    border-radius: 2px;
    width: 100%;
    min-height: 240px
}

.position-relative {
    position: relative;
}

.p-b-5px {
    padding-bottom: 5px !important;
}

.city-image {
    width: 100%;
    height: auto;
    border-radius: 2px 2px 0 0;
}

.marTop15-minus {
    margin-top: -15px;
}

.alertStyle {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999999;
    height: 0px;
    transition: height 2s;
    left: 0;
    padding: 10px;
}

.width1600 {
    max-width: 1600px;
}

.cityBlocks {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.width100p {
    width: 100%;
}

.height100vh {
    height: 100vh;
}

.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}



@media (max-width: 768px) {

    .hide_mobile{
        display: none;
      }

      .hide_desk{
          display: block;
      }
    .aboutus-content h2 {
        padding: 30px 0px 18px 0px;
        font-size: 35px;
    }

    .aboutus-content h5 {
        padding: 0px 22px 8px;
        line-height: 1.3;
        font-size: 16px;
    }

    .aboutus-content h4 {
        padding: 0px 22px 22px;
        line-height: 1.3;
        font-size: 19px;
    }

    .aboutus-promise-heading {
        padding: 0px 0% 10px !important;
    }

    #aboutus {
        /* padding-top: 48px; */
    }

    .aboutus-white {
      padding: 0px;
    }
  
    .aboutus-center {
      top: 225px;
    }

    .banner_img {
        height: 260px;
    }

    .aboutus-center h1 {
        font-size: 30px;
    }

    .aboutus-center h4 {
        font-size: 20px;
    }

    .articleContent h1{
        font-size: 30px;
    }

    .content .container h2{font-size: 21pt;}
    .content .container ol{padding-left: 15px;}
    .content .container ol ol{padding-left: 0px;}
    .content .container ol ol p{margin-bottom: 0px; padding-bottom: 10px;}
    .content .container ol ol li{padding-bottom: 10px;}
    .content .container ol ol ol{padding-left: 10px;}
    .content .container ol ol ol ol{padding-left: 8px;}

    .f20-xs {
        font-size: 20px !important;
    }
}
