.image {
    height: 10em;
    width: 100%;
    height: 6em;
  }

  .searchResultBox1 {
    background-color: #fff;
    color: #000;
    z-index: 999;
    overflow-x: hidden;
    position: relative;
    padding: 0em;
    height: 25em;
  }
  
  .searchResultBox2 {
    background-color: #fff;
    color: #000;
    z-index: 999;
    overflow-x: hidden;
    position: relative;
    padding: 0em;
  }
  
  [class^=ais-] {
    font-size: 3rem !important;
    color: red !important;
  }
  
  .searchFeild {
    border-bottom: 0.08em solid lightgrey;
    font-size: 1.3em;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding-left: 2em;
  }
  
  .searchFeild:hover {
    background-color: rgba(211, 211, 211, 0.39);
  }
  
  .searchButton {
    width: 4em;
  }
  
  .searchButton2 {
  }
  
  :root {
    background: #f5f6fa;
    color: #9c9c9c;
    font: 1rem "PT Sans", sans-serif;
  }
  
  html,
  body,
  .container {
    height: 100%;
  }
  
  a {
    color: inherit;
  }
  
  a:hover {
    color: #7f8ff4;
  }
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
  
  .btn--primary {
    background: #7f8ff4;
    color: #fff;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
  }
  
  .btn--primary:hover {
    background: #6c7ff2;
  }
  
  .btn--primary:active {
    background: #7f8ff4;
    -webkit-box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }
  
  .btn--inside {
    margin-left: -96px;
  }
  
  
  
  .cityName {
    position: absolute;
    bottom: 5%;
    width: 100%;
  }
  
  .city {
    position: relative;
    outline: none;
    cursor: pointer;
  }
  
  p {
    outline: none;
  }
  
  * {
    box-sizing: border-box
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  /* Style the tab */
  .tab {
    float: left;
    border: 1px solid rgba(204, 204, 204, 0.19);
    width: 25%;
    height: 100%;
    overflow-y: auto;
  
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 12px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #EF1223;
    color: white;
    text-color: white;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #EF1223;
    color: white;
    text-color: white;
  }
  
  /* Style the tab content */
  .tabcontent2 {
    float: left;
    padding: 0px 12px;
    border: 1px solid rgba(204, 204, 204, 0.19);
    width: 75%;
    border-left: none;
    height: 100%;
    overflow-y: auto
  }
  
  ::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
  