<input class="form__field-small" placeholder="Destination" (focus)="showInitialDropdown=true"
  (focusout)="showInitialDropdown=false" [(ngModel)]="searchKeyword" ngModel>

<div *ngIf="regions" [hidden]="!((showInitialDropdown || showCities) && !searchData)" (mouseenter)="showCities=true"
  (mouseleave)="showCities=false" class="searchResultBox1 col-md-12 noMargin noPadding">

  <div class="tab">
    <button *ngFor="let region of regions;let i=index" class="tablinks2" (mouseenter)="openCity(region?.region_id)">
      <b>{{region?.name}}</b>
    </button>
  </div>

  <div *ngFor="let region of regions" class="col-md-12" id="{{region?.region_id}}" class="tabcontent2">
    <div class="col-md-12" *ngFor="let country of region?.countries;let j=index">
      <div class="col-md-4" align="left">
        <h6>
          <b>{{country?.name | uppercase}}</b>
        </h6>
      </div>
      <div class="col-md-8" align="left">
        <span class="darkGrey p-r-1 clickable noOutline" *ngFor="let city of country?.cities"
          (click)="select(city.displayname)">
          {{city?.displayname | titlecase}}
        </span>
      </div>
    </div>
  </div>

</div>