.searchResultBox1 {
  background-color: #fff;
  color: #000;
  z-index: 999;
  overflow-x: hidden;
  position: relative;
  padding: 0em;
  height: 25em;
}

.searchResultBox2 {
  background-color: #fff;
  color: #000;
  z-index: 999;
  overflow-x: hidden;
  position: relative;
  padding: 0em;
}

[class^=ais-] {
  font-size: 3rem !important;
  /* color: #3a4570; */
  color: red !important;
}

.searchFeild {
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 11px 20px;
}

.searchFeild:hover {
  background-color: rgba(211, 211, 211, 0.39);
}

.searchButton {
  width: 3em;
}

.searchButton2 {
}

:root {
  background: #f5f6fa;
  color: #9c9c9c;
  font: 1rem "PT Sans", sans-serif;
}

html,
body,
.container {
  height: 100%;
}

a {
  color: inherit;
}

a:hover {
  color: #7f8ff4;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn--primary {
  background: #7f8ff4;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}

.btn--primary:hover {
  background: #6c7ff2;
}

.btn--primary:active {
  background: #7f8ff4;
  -webkit-box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
  margin-left: -96px;
}

.form__field:hover, .form__field:focus {
  border: 1px solid #EF1223;
}

.homeSearchBox .form__field {
  height: 48px;
}
.mobile_search{
  display: none;
}
.desk_search{
  display: inline-table;
}

.display_containt{
display: contents;
}

@media (max-width: 768px) {
  .mobile_search{
    display: inline-table;
  }
  .desk_search{
    display: none;
  }
  .search_btn_mob{
    padding: 6px 0px !important;
  }

}