<!-- Search box component -->
<div class="input-group homeSearchBox desk_search" *ngIf="!dropDown;else exploreDestinationInput">
    <input class="form__field input-lg" placeholder="Search by destination, activity or attraction"
           (ngModelChange)="loadSearchData($event)"
           (focus)="showInitialDropdown=true;goTop();loadCities=true"
           (focusout)="showInitialDropdown=false"
           [(ngModel)]="searchKeyword"
           (keyup.enter)="goToSearchPage()">
    <span class="input-group-addon appBackColor"
          (click)="goToSearchPage()">
    <i class="fa fa-search fa-2x white searchButton"></i>
  </span>
</div>
<div class="input-group homeSearchBox mobile_search">
        <a class="display_containt" [routerLink]="['/search']"><input class="form__field input-lg" placeholder="Search by destination, activity or attraction">
        <span class="input-group-addon search_btn_mob appBackColor"
             >
        <i class="fa fa-search fa-2x white searchButton"></i>
      </span></a>
    </div>

<!-- Explore All Destinations Popup -->
<ng-template #exploreDestinationInput>
    <div class="input-group">
    <span class="input-group-addon greyBackground" (click)="goToSearchPage()">
      <i class="fa fa-search fa-2x searchButton2"></i>
    </span>
        <input class="form__field input-lg" placeholder="Search by destination, activity or attraction"
               (ngModelChange)="loadSearchData($event)"
               (focus)="showInitialDropdown=true"
               (focusout)="showInitialDropdown=false"
               [(ngModel)]="searchKeyword"
               (keyup.enter)="goToSearchPage()">
    </div>
</ng-template>

<!-- Load Data in search box component -->
<div *ngIf="regions && !dropDown;else showRegions"
     [hidden]="!((showInitialDropdown || showCities) && !searchData)"
     (mouseenter)="showCities=true"
     (mouseleave)="showCities=false"
     class="searchResultBox1 col-md-12 noMargin noPadding">
    <app-search-desktop-regions [loadCities]="loadCities"></app-search-desktop-regions>
</div>

<!-- Load data in Explore All Destinations Popup -->
<ng-template #showRegions>
    <div *ngIf="regions"
         [hidden]="searchData"
         class="searchResultBox1 col-md-12 noMargin noPadding"
         (mouseenter)="showCities=true"
         (mouseleave)="showCities=false">
        <app-explore-desktop-regions [loadCities]="loadRegions"></app-explore-desktop-regions>
    </div>
</ng-template>
<div class="dropdown" *ngIf="searchData && searchData.length > 0 && (showInitialDropdown || showSearchList)" class="searchResultBox2 col-md-12 noMargin noPadding"
    (mouseenter)="showSearchList=true" (mouseleave)="showSearchList=false">

    <div *ngFor="let result of searchData; let i=index">
        <div *ngIf="i<5" class="col-md-12 searchFeild">
            <p class="noMargin noPadding" *ngIf="result?.search_type=='city'" (click)="goTo(result?.search_type + '/' + result?.url)">
                <i class="fa fa-map-marker lightGrey m-r-12px f18" aria-hidden="true"></i>
                <span class="">{{ result?.name }}</span>
            </p>
            <p class="noMargin noPadding" *ngIf="result?.search_type=='activity'" (click)="goTo(result?.search_type+'/'+result?.url)">
                <span>{{ result?.name }}</span>
                <span class="pull-right color666">{{ result?.city_name }}</span>
            </p>
            <p class="noMargin noPadding" *ngIf="result?.merchant_id" (click)="goTo('activity'+'/'+result?.activity_url)">
                <span>{{ result?.name }}</span>
                <span class="pull-right color666">{{ result?.city_name }}</span>
            </p>
        </div>
    </div>

</div>
