<div class="tab">
  <button class="tablinksH" (mouseenter)="openCity('poularDestinationsH')" id="defaultOpen">
    <div class="regionTop"><b>Popular Destinations</b></div>
  </button>
  <button *ngFor="let region of regions;let i=index" class="tablinksH" (mouseenter)="openCity(region?.name)">
    <div class="regionTop"><b>{{region?.name}}</b></div>
    <div class="regionBottom">
      <span *ngFor="let country of region?.countries">
        <span *ngFor="let city of filterPopularCities(country?.cities)">
          <span class="popularCity">{{city.displayname}}</span>
        </span>
      </span>
    </div>
  </button>
</div>

<div id="poularDestinationsH" class="tabcontentH" style="display: block;">
  <div *ngFor="let city of popularCities">
    <a class="col-xs-3 city" routerLink="/city/{{city?.city_url}}">
      <img
        src="{{cloudinaryImageBaseUrl + 'w_200,h_200/v1/'+ environment.cloudinaryServer +'/' + city?.image_path_name}}"
        class="image" alt="{{city?.displayname}}">
      <h6 class="cityName white text-center"><b>
          {{city?.displayname}}
        </b></h6>
    </a>
  </div>
</div>

<div *ngFor="let region of regions" class="col-md-12" id="{{region?.name}}" class="tabcontentH" style="display: none;">
  <div class="col-md-12" *ngFor="let country of region?.countries;let j=index">
    <div class="col-md-4 text-left">
      <h6 class="m-0"><b>{{country?.name | uppercase}}</b></h6>
    </div>
    <div class="col-md-8 padTop5 text-left">
      <a class="darkGrey p-r-2 clickable noOutline wsnowrap" *ngFor="let city of country?.cities"
        routerLink="/city/{{city?.city_url}}">
        {{city?.displayname | titlecase}}
      </a>
    </div>
  </div>
</div>