<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{SUPPLIER}} - {{INTEGRATION_PARTNER}} - {{ORDER_NUMBER}} Pending Confirmation</title>

    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ffffff;
        }

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Arial, Times, serif
        }

        table {
            border-collapse: collapse;
        }

        @media only screen and (max-width: 640px) {
            .deviceWidth {
                width: 440px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }

        @media only screen and (max-width: 479px) {
            .deviceWidth {
                width: 280px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Arial, Times, serif">

    <!-- Wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

                <!-- Start Header-->
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
                    style="margin:0 auto;">
                    <tr>
                        <td width="100%" bgcolor="#ffffff">

                            <!-- Logo -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                                <tr>
                                    <td style="padding:10px 20px 10px 10px" class="center">
                                        <a href="#"><img
                                                src="https://stgimgs.ticketstodo.com/imgs/200-200/t/ttdlogo2.png"
                                                width="158" alt="" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Logo -->

                        </td>
                    </tr>
                </table>
                <!-- End Logo -->

            </td>
        </tr>
    </table>
    <!-- End Header -->

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

    <!-- One Column -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff"
        style="margin:0 auto;">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">

                <table>
                    <tr>
                        <td valign="middle" style="padding:0 10px 10px 0">
                            <a href="#"
                                style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">Dear Team</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Please make the following orders and update the admin system.
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                <ol>
                        <li>Supplier: {{SUPPLIER}}
                        </li>
                        <li>Integration Partner: {{INTEGRATION_PARTNER}}
                        </li>
                        <li>Book From: {{BookFrom_URL}}
                        </li>
                        <li>Activity Name: {{ACTIVITY_NAME}}
                        </li>
                        <li>Package Name: {{PACKAGE_NAME}}
                        </li>
                        <li>Package Price x Quantity: {{PACKAGE_PRICE_QUANTITY}}
                        </li>
                        <li>Supplier Product Name: {{SUPPLIER_PRODUCT_NAME}}
                        </li>
                        <li>Supplier Product Code: {{SUPPLIER_PRODUCT_CODE}}
                        </li>
                        <li>Customer Name: {{CUSTOMER_NAME}}
                        </li>
                        <li>Customer Email Address: {{CUSTOMER_EMAIL_ADDRESS}}
                        </li>
                        <li>Customer Phone Number: {{CUSTOMER_PHONE_NUMBER}}
                        </li>
                        <li>Participation Date: {{PARTICIPATION_DATE}}
                        </li>
                        <li>Participation Time: {{PARTICIPATION_TIME}}
                        </li>
                        <li>Voucher Number: {{VOUCHER_NUMBER}}
                        </li>
                        <li>Booking Number: {{BOOKING_NUMBER}}
                        </li>
                        <li>Total Quantity: {{TOTAL_QUANTITY}}
                        </li>
                        <li>Total Amount: {{TOTAL_AMOUNT}}
                        </li>
                    </ol>
            </td>
        </tr>
    </table>
    <!-- End One Column -->

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Thank you,<br/>TicketsToDo Team
            </td>
        </tr>
        
    </table>

</body>

</html>