<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>TicketsToDo Booking Refund - {{ACTIVITY_NAME}}</title>

    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ffffff;
        }

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Arial, Times, serif
        }

        table {
            border-collapse: collapse;
        }

        @media only screen and (max-width: 640px) {
            .deviceWidth {
                width: 440px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }

        @media only screen and (max-width: 479px) {
            .deviceWidth {
                width: 280px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Arial, Times, serif">

    <!-- Wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

                <!-- Start Header-->
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
                    style="margin:0 auto;">
                    <tr>
                        <td width="100%" bgcolor="#ffffff">

                            <!-- Logo -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                                <tr>
                                    <td style="padding:10px 20px 10px 10px" class="center">
                                        <a href="#"><img src="https://stgimgs.ticketstodo.com/imgs/200-200/t/ttdlogo2.png" width="158" alt="" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Logo -->

                        </td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#ffffff;" style="text-align: center;">

                            <!-- Logo -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                                <tr>
                                    <p
                                        style="padding: 0 40px;margin: 0;color: #000;background-color: #bbf9bb;;font-size: 14px;font-weight: 600;">
                                        Your booking has been cancelled and refund is confirmed.
                                    </p>
                        </td>
                    </tr>
                </table>
                <!-- End Logo -->

            </td>
        </tr>
    </table>
    <!-- End Header -->

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

    <!-- One Column -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff"
        style="margin:0 auto;">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">

                <table>
                    <tr>
                        <td valign="middle" style="padding:0 10px 10px 0">
                            <a href="#"
                                style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">Hi
                                {{CUSTOMER_NAME}}</a>
                        </td>
                    </tr>
                </table>
                Your booking for <span style="font-weight: 600">{{ACTIVITY_NAME}}</span> made on {<span
                    style="font-weight: 600">{BOOKING_DATE_AND_TIME}}</span> has been cancelled and a full
                refund has been issued.
            </td>
        </tr>

    </table>
    <!-- End One Column -->

    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 20px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                <p style="font-weight: 600;">
                    Here are the details of your booking refund:
                </p>
            </td>
        </tr>
    </table>

    <!-- Start hr Line -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed"
        style="margin:0 auto;">
        <tr>
            <td style="height: 1px;"></td>
        </tr>
    </table>
    <!-- End hr Line -->

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->





    <!-- Start Left Right -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td width="100%" bgcolor="#ffffff">

                <!-- Left -->
                <table border="0" cellpadding="0" cellspacing="0" align="left">
                    <tr>
                        <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                            class="center">
                            <a href="#"
                                style="text-decoration: none; color: #272727; font-size: 13px; font-family:Arial, Times, serif;">
                                Booking Number: <span style="color: #959595">{{Booking_NUMBER}}</span>
                            </a>
                        </td>
                    </tr>
                </table>
                <!-- End Left -->

                <!-- Start Right -->
                <table border="0" cellpadding="0" cellspacing="0" align="right">
                    <tr>
                        <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                            class="center">
                            Booking Date: <span style="color: #959595">{{BOOKING_DATE}}</span>
                        </td>
                    </tr>
                </table>
                <!-- End Start -->
            </td>
        </tr>

        <!-- Product -->
        <tr>
            <td width="100%" bgcolor="#ffffff" style="padding: 0 8px;">

                <!-- Left -->
                <table border="0" width="29%" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                    <tr>
                        <td valign="top" align="center" class="center" style="padding-top:10px">
                            <a href="#"><img width="180" src="{{IMAGE_URL}}" alt="" border="0"
                                    style="border-radius: 4px; width: 180px; display: block;" class="deviceWidth" /></a>
                        </td>
                    </tr>
                </table>
                <!-- End Left -->

                <!-- Start Right -->
                <table border="0" width="67%" cellpadding="0" cellspacing="0" align="right" class="deviceWidth">
                    <tr>
                        <td
                            style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 0px 8px">
                            <a href="#"
                                style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">{{ACTIVITY_NAME}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 19px; vertical-align: top; padding:0px 8px 10px 8px"
                            bgcolor="#ffffff">
                            Package: {{PACKAGE_NAME}}
                            <br />
                            Units: {{QUANTITY}} * voucher
                        </td>
                    </tr>
                </table>
                <!-- End Start -->
            </td>
        </tr>
    </table>
    <!-- End  Left Right -->




    

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

    <!-- Start hr Line -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed"
        style="margin:0 auto;">
        <tr>
            <td style="height: 1px;"></td>
        </tr>
    </table>
    <!-- End hr Line -->

    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 14px; vertical-align: top; padding:10px 8px 10px 8px; font-weight: 600"
                bgcolor="#ffffff">
                Refund Details:
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 14px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Refund amount: <span style="font-weight: 600;color: #FF805A">{{REFUND_AMOUNT}}</span>
            </td>
        </tr>
    </table>

    <!-- Start hr Line -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed"
        style="margin:0 auto;">
        <tr>
            <td style="height: 1px;"></td>
        </tr>
    </table>
    <!-- End hr Line -->
    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                We apologize for any inconvenience caused by this process. 
            </td>
        </tr>
        
    </table>
    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Thank you,<br/>TicketsToDo Team
            </td>
        </tr>
        
    </table>


</body>

</html>