<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>TicketsToDo Booking Refund - {{ACTIVITY_NAME}}</title>

    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ffffff;
        }

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Arial, Times, serif
        }

        table {
            border-collapse: collapse;
        }

        @media only screen and (max-width: 640px) {
            .deviceWidth {
                width: 440px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }

        @media only screen and (max-width: 479px) {
            .deviceWidth {
                width: 280px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Arial, Times, serif">

    <!-- Wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

                <!-- Start Header-->
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
                    style="margin:0 auto;">
                    <tr>
                        <td width="100%" bgcolor="#ffffff">

                            <!-- Logo -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                                <tr>
                                    <td style="padding:10px 20px 10px 10px" class="center">
                                        <a href="#"><img
                                                src="https://stgimgs.ticketstodo.com/imgs/200-200/t/ttdlogo2.png"
                                                width="158" alt="" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Logo -->

                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="text-align: center;">
                            <p
                                style="padding: 0 40px;margin: 0;font-size: 23px;font-weight: 500;text-align: center;color: #442626;">
                                Thank you!
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="text-align: center;">
                            <p
                                style="padding: 0 40px;margin: 0;font-size: 23px;font-weight: 500;text-align: center;color: #442626;">
                                Your request has been submitted!
                            </p>
                        </td>
                    </tr>
                </table>
                <!-- End Logo -->

            </td>
        </tr>
    </table>

    <!-- End Header -->

    <!-- One Column -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff"
        style="margin:0 auto;">
        <tr>
            <td valign="top" style="padding:0" bgcolor="#ffffff">
                <a href="#"><img class="deviceWidth"
                        src="https://res.cloudinary.com/dcm/image/upload/v1556532943/prod/b/booking_transaction.jpg"
                        width="580" alt="" border="0" style="display: block; border-radius: 4px;"></a>
            </td>
        </tr>

    </table>
    <!-- End One Column -->

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
    <!-- One Column -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff"
        style="margin:0 auto;">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Thank you! Your request has been submitted!
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Please note that your booking (Order Number: {{ORDER_NUMBER}}) is not confirmed yet.<br /> You'll get a
                response
                from {{MERCHANT_NAME}} soon for immediate bookings and within 72 hours for bookings placed 3 days or
                more in
                advance.
                We have charged you {{TOTAL_AMOUNT}}, but if your booking request expires or is declined you will
                receive a
                full refund.
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Important message notifications about your booking will be sent to <a target="_blank"
                    href="mailto:{CUSTOMER_EMAIL_ADDRESS}}">{{CUSTOMER_EMAIL_ADDRESS}}</a> so please keep
                an eye on your inbox!
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                You can also check your booking details and messages on your dashboard by <a
                    href="https://www.ticketstodo.com/home/bookings" target="_blank">clicking here</a><br />
                Please contact {{MERCHANT_NAME}} through your message dashboard if you have any questions about the
                experience.
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                You can <a href="https://www.ticketstodo.com/home" target="_blank">click here</a> to go to your account
                settings if you need
                to change the email address your notifications are sent to.
            </td>
        </tr>
    </table>
    <!-- End One Column -->

    <!-- Start Left Right -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td width="100%" bgcolor="#ffffff" style="padding: 0 8px;font-size: 19px;font-weight: 600;color: #EE1223;">
                Your Request
            </td>
        </tr>
        <tr>
            <td width="100%" bgcolor="#ffffff" style="padding: 0 8px;border: 1px solid #E8E1E1;border-radius: 10px;
            padding: 15px;">
                <!-- Left -->
                <table border="0" width="29%" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                    <tr>
                        <td valign="top" align="center" class="center" style="padding-top:10px">
                            <a href="#"><img width="180" src="" alt="" border="0"
                                    style="border-radius: 4px; width: 180px; display: block;" class="deviceWidth" /></a>
                        </td>
                    </tr>
                </table>
                <!-- End Left -->

                <!-- Start Right -->
                <table border="0" width="67%" cellpadding="0" cellspacing="0" align="right" class="deviceWidth">
                    <tr>
                        <td
                            style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 0px 8px">
                            <a href="#"
                                style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">{{PACKAGE_NAME}}
                                to {{ACTIVITY_NAME}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 19px; vertical-align: top; padding:0px 8px 10px 8px"
                            bgcolor="#ffffff">
                            {{UL_LIST_QUANTITY}}
                            <!-- <ul>
                                <li>[Adult] Dragon Package × 2</li>
                                <li>[Child] Dragon Package × 3</li>
                            </ul> -->
                        </td>
                    </tr>
                </table>
                <!-- End Start -->
            </td>
        </tr>
    </table>
    <!-- End  Left Right -->

    <!-- Start hr Line -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed"
        style="margin:0 auto;">
        <tr>
            <td style="height: 1px;"></td>
        </tr>
    </table>
    <!-- End hr Line -->

    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 12px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Please note that this is an automatic email and replies sent to <a
                    href="#">noreply@e.ticketstodo.com</a> are not monitored.
            </td>
        </tr>

    </table>

</body>

</html>