<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Hey {{CUSTOMER_NAME}}, where did you go?</title>

    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ffffff;
        }

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Arial, Times, serif
        }

        table {
            border-collapse: collapse;
        }

        @media only screen and (max-width: 640px) {
            .deviceWidth {
                width: 440px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }

        @media only screen and (max-width: 479px) {
            .deviceWidth {
                width: 280px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Arial, Times, serif">

    <!-- Wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

                <!-- Start Header-->
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
                    style="margin:0 auto;">
                    <tr>
                        <td width="100%" bgcolor="#ffffff">

                            <!-- Logo -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                                <tr>
                                    <td style="padding:10px 20px 10px 10px" class="center">
                                        <a href="#"><img
                                                src="https://stgimgs.ticketstodo.com/imgs/200-200/t/ttdlogo2.png"
                                                width="158" alt="" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Logo -->

                        </td>
                    </tr>
                </table>
                <!-- End Logo -->

            </td>
        </tr>
    </table>
    <!-- End Header -->

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

    <!-- One Column -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff"
        style="margin:0 auto;">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">

                <table>
                    <tr>
                        <td valign="middle" style="padding:0 10px 10px 0">
                            <a href="#"
                                style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">Hi
                                {{CUSTOMER_NAME}}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px;text-align: center; font-weight: 600"
                bgcolor="#ffffff">
                You're one step away from your amazing trip...
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: center; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Looks like you weren't able to complete your order. Continue to payment and enjoy an amazing trip with
                TicketsToDo!
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: 700; text-align: center; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                <a style="color: rgb(0,128,0);" href="https://ticketstodo.com/pay" target="_blank">Check Out Now</a>
            </td>
        </tr>
    </table>
    <!-- End One Column -->
    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

    <!-- Start hr Line -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed"
        style="margin:0 auto;">
        <tr>
            <td style="height: 1px;"></td>
        </tr>
    </table>
    <!-- End hr Line -->
    <br />

    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 16px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px; font-weight: 600;"
                bgcolor="#ffffff">
                Don't Miss Out...
            </td>
        </tr>

    </table>
    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->


    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->





    <!-- Start Left Right -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">

        <!-- Product -->
        <tr>
            <td width="100%" bgcolor="#ffffff" style="padding: 0 8px;">

                <!-- Left -->
                <table border="0" width="29%" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                    <tr>
                        <td valign="top" align="center" class="center" style="padding-top:10px">
                            <a href="#"><img width="180" src="{{IMAGE_URL}}" alt="" border="0"
                                    style="border-radius: 4px; width: 180px; display: block;" class="deviceWidth" /></a>
                        </td>
                    </tr>
                </table>
                <!-- End Left -->

                <!-- Start Right -->
                <table border="0" width="67%" cellpadding="0" cellspacing="0" align="right" class="deviceWidth">
                    <tr>
                        <td
                            style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 0px 8px">
                            <a href="#"
                                style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">{{ACTIVITY_NAME}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 19px; vertical-align: top; padding:0px 8px 10px 8px"
                            bgcolor="#ffffff">
                            Package: {{PACKAGE_NAME}}
                            <br />
                            Participation Date: {{PARTICIPATION_DATE}}
                            <br />
                            Units: {{QUANTITY}}
                            <br />
                            Subtotal: {{SUBTOTAL_AMOUNT}}
                        </td>
                    </tr>
                </table>
                <!-- End Start -->

                <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
            </td>
        </tr>
    </table>
    <br />
    <!-- End  Left Right -->


    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
    
    <!-- Start hr Line -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed"
        style="margin:0 auto;">
        <tr>
            <td style="height: 1px;"></td>
        </tr>
    </table>
    <!-- End hr Line -->

    <!-- Start Left Right -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td width="100%" bgcolor="#ffffff">

                <!-- Right -->
                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="rigth">
                    <tr>
                        <td style="font-size: 15px; font-weight: bold; text-align: right; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 0px 8px"
                            class="center">
                            Total: <b style="color: #ef1223;">{{TOTAL_AMOUNT}}</b>
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; font-weight: normal; text-align: right; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:0px 8px 10px 8px"
                            class="center">
                            <a style="color: rgb(0,128,0); font-size:16px;" href="https://ticketstodo.com/pay" target="_blank"><strong>Proceed to Payment</strong></a>
                        </td>
                    </tr>

                </table>
                <!-- End Right -->
            </td>
        </tr>
    </table>
    <!-- End  Left Right -->


    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->




    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

    <!-- Start Left Right -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;color: rgb(153,153,153);font-size: 12px;text-align: center;" bgcolor="#ffffff">
        <tr>
            <td>
                
            </td>
        </tr>
        <tr>
            <td width="100%" bgcolor="#ffffff">
                The prices listed in this email are subject to change depending on the current exchange rates and may
                not reflect the final payment price.
            </td>
        </tr>
        <tr>
            <td width="100%" bgcolor="#ffffff">
                Please review prices before booking an activity
            </td>
        </tr>
        <tr>
            <td width="100%" bgcolor="#ffffff">
                &nbsp;
            </td>
        </tr>
        <tr>
                <td width="100%" bgcolor="#ffffff">
                    &nbsp;
                </td>
            </tr>
        <tr>
            <td width="100%" bgcolor="#ffffff">
                ©2016-2019 DigitalConversionsMedia DMCC. All Rights Reserved
            </td>
        </tr>
    </table>


</body>

</html>