<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>TicketsToDo Voucher - {{ACTIVITY_NAME}} - {{ACTIVITY_DATE}} - {{CUSTOMER_NAME}}</title>

    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ffffff;
        }

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Arial, Times, serif
        }

        table {
            border-collapse: collapse;
        }

        @media only screen and (max-width: 640px) {
            .deviceWidth {
                width: 440px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }

        @media only screen and (max-width: 479px) {
            .deviceWidth {
                width: 280px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Arial, Times, serif">

    <!-- Wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

                <!-- Start Header-->
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
                    style="margin:0 auto;">
                    <tr>
                        <td width="100%" bgcolor="#ffffff">

                            <!-- Logo -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                                <tr>
                                    <td style="padding: 10px 20px 0px 10px;" class="center">
                                        <a href="#"><img
                                                src="https://stgimgs.ticketstodo.com/imgs/200-200/t/ttdlogo2.png"
                                                width="158" alt="" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Logo -->

                        </td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#ffffff">
                            <span style="font-size: 18px;font-weight: 600;padding: 0 10px;">Voucher Confirmation</span>
                        </td>
                    </tr>
                </table>
                <!-- End Logo -->

            </td>
        </tr>
    </table>
    <!-- End Header -->

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

    <!-- One Column -->
    <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff"
        style="margin:0 auto;">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">

                <table>
                    <tr>
                        <td valign="middle" style="padding:0 10px 10px 0"><strong>Hello</strong>
                            <a href="#"
                                style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">
                                {{CUSTOMER_NAME}},</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Your reservation for {{ACTIVITY_NAME}} - {{PACKAGE_NAME}} is
                confirmed.
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                <table>
                    <tr>
                        <td>
                            <span class="content">Booking Number: {{BOOKING_NUMBER}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="content">Lead Person: {{CUSTOMER_NAME}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="content">Date: {{ACTIVITY_DATE}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="content">Units: {{BOOKING_QUANTITY}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="content">Voucher Number: {{VOUCHER_NUMBER}}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
                <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                    bgcolor="#ffffff">
                    How to use e-voucher: Show on mobile or printout
                </td>
            </tr>
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Just click on the button below to view your voucher. Be sure to check voucher details beforehand!<br/>
                <a href="{{Voucher_Link}}" target="_blank">Show Voucher >></a>
            </td>
        </tr>
        
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                If you are having trouble with the link, please copy the following web address and paste it into your
                browser's address bar.<br/>
                {{Voucher_Link}}
            </td>
        </tr>
        
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Looking forward to have you book with us again for your next adventure! Enjoy!
            </td>
        </tr>
    </table>
    <!-- End One Column -->

    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                Thank you,<br />TicketsToDo Team
            </td>
        </tr>

    </table>
    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
    <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
    <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
        style="margin:0 auto;" bgcolor="#ffffff">
        <tr>
            <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                bgcolor="#ffffff">
                If you have any questions or concerns, please call us or email us at
                <a href="mailto:support@ticketstodo.com" target="_top">support@ticketstodo.com</a>
            </td>
        </tr>

    </table>

</body>

</html>