<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>TicketsToDo Order Summary - {{CUSTOMER_NAME}} - Order Number: {{ORDER_NUMBER}} -  {{CITY}}</title>

    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ffffff;
        }

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Arial, Times, serif
        }

        table {
            border-collapse: collapse;
        }

        @media only screen and (max-width: 640px) {
            .deviceWidth {
                width: 440px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }

        @media only screen and (max-width: 479px) {
            .deviceWidth {
                width: 280px !important;
                padding: 0;
            }

            .center {
                text-align: center !important;
            }
        }
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Arial, Times, serif">

    <!-- Wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

                <!-- Start Header-->
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
                    style="margin:0 auto;">
                    <tr>
                        <td width="100%" bgcolor="#ffffff">

                            <!-- Logo -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                                <tr>
                                    <td style="padding:10px 20px 10px 10px" class="center">
                                        <a href="#"><img src="https://stgimgs.ticketstodo.com/imgs/200-200/t/ttdlogo2.png" width="158" alt="" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Logo -->

                        </td>
                    </tr>
                </table>
                <!-- End Header -->

                <!-- One Column -->
                <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"
                    bgcolor="#ffffff" style="margin:0 auto;">
                    <tr>
                        <td valign="top" style="padding:0" bgcolor="#ffffff">
                            <a href="#"><img class="deviceWidth"
                                    src="https://res.cloudinary.com/dcm/image/upload/v1556533107/prod/o/order_progress.png"
                                   width="580" alt="" border="0" style="display: block; border-radius: 4px;"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                            bgcolor="#ffffff">

                            <table>
                                <tr>
                                    <td valign="middle" style="padding:0 10px 10px 0">
                                        <a href="#"
                                            style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">Hi
                                            {{CUSTOMER_NAME}}</a>
                                    </td>
                                </tr>
                            </table>
                            Thank you for booking with TicketsToDo! While we are processing your booking, Here are
                            details of your order. Your voucher will be sent in separate email once your booking has
                            been confirmed.
                        </td>
                    </tr>
                </table>
                <!-- End One Column -->





                <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

                <!-- Start hr Line -->
                <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"
                    bgcolor="#eeeeed" style="margin:0 auto;">
                    <tr>
                        <td style="height: 1px;"></td>
                    </tr>
                </table>
                <!-- End hr Line -->

                <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->





                <!-- Start Left Right -->
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
                    style="margin:0 auto;" bgcolor="#ffffff">
                    <tr>
                        <td width="100%" bgcolor="#ffffff">

                            <!-- Left -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left">
                                <tr>
                                    <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                                        class="center">
                                        <a href="#"
                                            style="text-decoration: none; color: #272727; font-size: 13px; font-family:Arial, Times, serif;">
                                            Order Number: <span style="color: #959595">{{ORDER_NUMBER}}</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Left -->

                            <!-- Start Right -->
                            <table border="0" cellpadding="0" cellspacing="0" align="right">
                                <tr>
                                    <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                                        class="center">
                                        Booking Date: <span style="color: #959595">{{BOOKING_DATE}}</span>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Start -->
                        </td>
                    </tr>

                    <!-- Product -->
                    <tr>
                        <td width="100%" bgcolor="#ffffff" style="padding: 0 8px;">

                            <!-- Left -->
                            <table border="0" width="29%" cellpadding="0" cellspacing="0" align="left"
                                class="deviceWidth">
                                <tr>
                                    <td valign="top" align="center" class="center" style="padding-top:10px">
                                        <a href="#"><img width="180" src="{{IMAGE_URL}}" alt="" border="0"
                                                style="border-radius: 4px; width: 180px; display: block;"
                                                class="deviceWidth" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Left -->

                            <!-- Start Right -->
                            <table border="0" width="67%" cellpadding="0" cellspacing="0" align="right"
                                class="deviceWidth">
                                <tr>
                                    <td
                                        style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 0px 8px">
                                        <a href="#"
                                            style="text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif ">{{ACTIVITY_NAME}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 19px; vertical-align: top; padding:0px 8px 10px 8px"
                                        bgcolor="#ffffff">
                                        Package: {{PACKAGE_NAME}}
                                        <br />
                                        Booking Reference ID: {{BOOKING_REFERENCE_ID}}
                                        <br />
                                        Participation Date: {{PARTICIPATION_DATE}}
                                        <br />
                                        Units: {{QUANTITY}} * voucher
                                        <br />
                                        Subtotal: {{SUBTOTAL_AMOUNT}}
                                    </td>
                                </tr>
                            </table>
                            <!-- End Start -->
                        </td>
                    </tr>
                </table>
                <!-- End  Left Right -->




                <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

                <!-- Start hr Line -->
                <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"
                    bgcolor="#eeeeed" style="margin:0 auto;">
                    <tr>
                        <td style="height: 1px;"></td>
                    </tr>
                </table>
                <!-- End hr Line -->

                <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->








                <!-- Start Left Right -->
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"
                    style="margin:0 auto;" bgcolor="#ffffff">
                    <tr>
                        <td width="100%" bgcolor="#ffffff">

                            <!-- Right -->
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="rigth">
                                <tr>
                                    <td style="font-size: 16px; font-weight: bold; text-align: right; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 0px 8px"
                                        class="center">
                                        Amount Paid: <b style="color: #ef1223;">{{TOTAL_AMOUNT}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 13px; font-weight: normal; text-align: right; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:0px 8px 10px 8px"
                                        class="center">
                                        (Payment will be settle as {{TOTAL_AMOUNT_IN_USD}})
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;" class="center">

                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align: right;" class="center">
                                        <a href="https://support.ticketstodo.com/hc/en-us"
                                            style="min-width: 100px;text-decoration:none; color: #ef1223; border: 1px solid #ef1223; font-size: 13px; font-weight: normal; text-align: center;display: inline-block; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top;padding: 10px 15px;"
                                            target="_blank"> Ask TTD</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 13px; font-weight: normal; text-align: right; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:0px 8px 10px 8px; color: #a7a0a0;"
                                        class="center">
                                        Questions or concerns? Click the 'Ask TicketsToDo' button and get in touch with
                                        us.
                                    </td>
                                </tr>
                            </table>
                            <!-- End Right -->
                        </td>
                    </tr>
                </table>
                <!-- End  Left Right -->


                <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

                <!-- Start One Column -->
                <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"
                    bgcolor="#ffffff" style="margin:0 auto;">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding:0" bgcolor="#ffffff">
                                <a href="#"><img class="deviceWidth"
                                        src="https://res.cloudinary.com/dcm/image/upload/v1556533194/prod/r/rewards_img.png" width="580"
                                        alt="" border="0" style="display: block; border-radius: 4px;"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 13px; font-weight: normal; text-align: center; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"
                                class="center">
                                <a href="#"
                                    style="display:block; text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif; padding: 20px 10px; ">Travel
                                    Seamlessly With TicketsToDo</a>

                                <p style="padding: 0 40px;margin: 0;color: #a7a0a0;">
                                    Download the TicketsToDo Mobile App to view your e-vouchers and explore more amazing
                                    activities!
                                </p>
                                <p class="text-align: center; padding-top: 30px;margin: 0;">
                                    <a href="#"
                                        style="min-width: 100px;text-decoration:none; color: #ffffff; background: #ef1223; font-size: 13px; font-weight: normal; text-align: left; font-family: Arial, Times, serif; line-height: 24px; vertical-align: top;padding: 10px 15px;">Download
                                        App</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- End On Column -->






                <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->
            </td>
        </tr>
    </table> <!-- End Wrapper -->
    <div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff;">
        - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    </div>
</body>

</html>