<div class="col-xs-12 booking_button_mobile" style="background-color: rgb(51,51,51);color: grey;">
  <div class="col-xs-5 noMargin p-t-0 p-b-0" style="padding: 20px 5px 20px 0px ">
    <div class="form-group">
      <label for="sell"></label>
      <select class="form__field-small f14 pad10 mSelectDropdown" id="sel1">
        <option label="English">English</option>
      </select>
    </div>
  </div>

  <div class="col-xs-7 noMargin p-t-0 p-b-0" style="padding: 20px 0px 20px 5px">
    <div class="form-group">
      <label for="currencyName"></label>
      <select id="currencyName" class="form__field-small f14 pad10 mSelectDropdown" (mouseenter)="loadCurrencies()" [(ngModel)]="requestedCurrency" (change)="updateCurrency($event.target.value)">hgfjgf
        <option [value]="currency?.currency_code" *ngFor="let currency of currencies;let i = index">
          {{currency?.currency_name}} | {{currency?.currency_code}}
        </option>
      </select>
    </div>
  </div>
  <a style="color: lightgrey
  ;text-decoration: none;" target="_blank" rel="noopener noreferrer nofollow" href="{{askTTDUrl}}">
  <button type="button" class="btn btn-block f14" style="background-color:rgb(80,80,80);color:lightgrey;height: 44px;">
  Ask ticketstodo
  </button>
</a>

  <div class="col-xs-12" style="padding: 20px 0px 20px">
    <small [routerLink]="['/about-us']" class="col-xs-4 light-grey" style="padding: 0px" align="center">About Us</small>
    <small [routerLink]="['/terms']" class="col-xs-4 light-grey" style="padding: 0px" align="center">Term of Use</small>
    <a href="https://support.ticketstodo.com/hc/en-us/" rel="nofollow" class="col-xs-4 light-grey" style="padding: 0px" align="center">Help</a>
  </div>
  <div>

    <div class="col-xs-12 text-center">
      <a  rel="noopener noreferrer nofollow" aria-label="redirect to instagram" href="https://www.instagram.com/tickets_todo/" class="fa fa-instagram fa-3x p-r-1" target="_blank"></a>
      <a  rel="noopener noreferrer nofollow" aria-label="redirect to facebook" href=" https://www.facebook.com/TicketsToDo" class="fa fa-facebook-square fa-3x" align="center" target="_blank"></a>
      <a  rel="noopener noreferrer nofollow" aria-label="redirect to twitter" href="https://twitter.com/TicketsToDo" class="fa fa-twitter-square fa-3x  p-l-1" align="left" target="_blank"></a>
    </div>

    <div class="col-xs-12 noMargin noPadding cursor-pointer light-grey" style="margin:15px 0px 15px" align="center" (click)="swithToDesktop()">Visit Desktop Site</div>

    <span class="col-xs-12 noMargin noPadding light-grey">
      <small>©2012 - 2019 Digital Conversions Media DMCC. All Rights Reserved.</small>
    </span>

  </div>
</div>