.pay {
    color: #d84848;
}

.pay:hover {
    color: #2196f3;
}

.paymentFailBlock {
    background-color: hsl(260, 16%, 96%);
}

.bookingFail {
    font-size: x-large;
    color: #d84848;
}

.bookingFailImg {
    max-width: 100%;
    width: 6%;
}