<div class="text-center paymentFailBlock">
  <app-header [text]="text" class="bottomMenu"></app-header>
  <div class="container p-t-5 p-b-5">
    <div class="row p-l-3 p-r-3 bg-white">
      <div class="col-md-9">
        <div class="row p-t-2 p-b-2 text-left">
          <div class="col-sm-12 bookingFail">
            <img src="http://res.cloudinary.com/dcm/image/upload/v1561378506/prod/x/x-mark.png" class="bookingFailImg"
              alt="Booking Failed"> &nbsp; Booking Failed
          </div>
          <div class="col-sm-12 p-t-2" *ngIf="errorMessage">
            <div class="alert alert-danger">
              {{errorMessage}}
            </div>
          </div>
          <div class="col-sm-10 p-t-2">
            <p><strong>Your payment failed.</strong> Please try again.</p>
          </div>
          <div class="col-sm-10 p-t-2 p-l-0">
            <button class="btn btn-primary" routerLink="/">Go to Homepage</button> &nbsp; or &nbsp;<a
              href="/shoppingcart"><strong class="pay"> Pay Now</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer-desktop [text]="text"></app-footer-desktop>
</div>