﻿<alert></alert>
<router-outlet></router-outlet>
<go-top-button [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300" [classNames]="'ttd-icon-top'">
    <i title="Go To Top" class="fa fa-arrow-circle-o-up"></i>
</go-top-button>
