
 <app-header class="bottomMenu" name="Child"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>

<div id="privacypolicy" [innerHTML]="privacyPolicyData" class=""></div>

<app-footer-desktop></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>
