﻿<div class="alertStyle">
    <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
        <!--<a class="close" (click)="removeAlert(alert)">&times;</a>-->
        {{alert.message}}
    </div>
</div>

<style>
    .alert-info {
        border-color: #03a9f4;
        background: #03a9f4;
        color: #fff;
    }

    .alert-danger {
        border-color: #f44336;
        background: #f44336;
        color: #fff;
    }

    .alert-warning {
        border-color: #ff5722;
        background: #ff5722;
        color: #fff;
    }

    .alert-success {
        border-color: #4caf50;
        background: #20A286;
        color: #fff;
    }
</style>