.panel:hover {
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(0px, -4px);
    -webkit-transition: box-shadow 0.3s, transform 0.3s;
    /* Safari */
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .panel:not(:hover) {
    transform: translate(0px, 4px);
    -webkit-transition: box-shadow 0.3s, transform 0.3s;
    /* Safari */
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .text-right {
    text-align: right;
    padding: 5px;
  }
  
  .content-box {
    /* white-space: normal; */
    padding: 5px 10px;
  }
  
  .content-box h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .content-box h6 {
    line-height: 1.5em;
  }
  
  .thumb-image {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 2px 2px 0 0;
  }
  
  