<div class="panel panel-default noPadding noMargin">
  <a class="noPadding noMargin" (click)="RouteLink(aData?.article_id, aData?.city_id)">
    <img class="thumb-image" [src]="aData?.thumb_image" alt="{{aData?.title}}"
      onerror="this.src='./assets/images/altImage.webp';">
    <div class="content-box">
      <div>
        <h6 row="1"><b>{{aData?.title}}</b></h6>
      </div>
      <div class="text-right">{{aData?.updated_at | date: 'dd-MM-yyyy'}}</div>
    </div>
  </a>
</div>