.thankyou-bg {
    background-color: hsl(260, 16%, 96%);
    padding-top: 30px;
}

.fontExtraLarge {
    font-size: x-large;
}

.titleImg {
    max-width: 100%;
    width: 6%;
}

.bgf5f4f7 {
    background-color: #f5f4f7;
}

.errorTitle {
    font-size: x-large;
    color: #d84848;
}

@media (max-width: 767.98px) {    
    .vb_btn {
        text-align: center;
    }
}