<app-header class="bottomMenu"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>
<div class="text-center thankyou-bg">
  <div class="container bg-white" style="width: 90%;" *ngIf="shopperId == orderShopperId">
    <div class="row p-l-3 p-r-3">
      <div class="col-md-9">
        <!-- Success -->
        <div class="row p-t-2 p-b-2 text-left">
          <div class="col-sm-12 fontExtraLarge" [style.color]="pageContent[pageContentIndex].fontColor">
            <img [src]="pageContent[pageContentIndex].imgURL" class="titleImg" alt=""> &nbsp;
            {{pageContent[pageContentIndex].title}}
          </div>
          <div class="col-xs-12 col-md-12 p-t-2">
            <p [innerHtml]="pageContent[pageContentIndex].msg"></p>
          </div>
          <div class="col-xs-12 col-sm-6 p-l-2 p-t-1 p-b-0 bgf5f4f7">
            <p>Booking Number: {{bookingNumber}}</p>
            <p>Booking Date: {{orderCreatedAt}}</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-1 p-t-2 p-l-0 vb_btn">
            <button class="btn btn-primary" routerLink="/home/bookings">View Bookings</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container m-t-5 thankyou-bg" *ngIf="!loading && (shopperId !== orderShopperId || !orderShopperId)">
    <div class="row p-l-3 p-r-3">
      <div class="col-xs-12">
        <div class="row p-t-2 p-b-2 bg-white">
          <div class="col-xs-12 errorTitle">
            <h2 class="errorTitle">
              Something went wrong, Please visit the booking section by clicking below link.
            </h2>
          </div>
          <div class="col-xs-12 p-t-2 p-l-0 vb_btn">
            <button class="btn btn-primary" routerLink="/home/bookings">View Bookings</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 m-t-2" *ngIf="loading">
    <div class="text-center height100vh">
      <app-loading></app-loading>
    </div>
  </div>

  <!-- Offer Conversion: Ticketstodo CPS -->
  <!--<iframe *ngIf="trackingSrcUrl" [src]="domSanitizer.bypassSecurityTrustResourceUrl(trackingSrcUrl)" scrolling="no"
    frameborder="0" width="1" height="1"></iframe>-->
  <!-- // End Offer Conversion -->
</div>

<app-footer-desktop></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>