﻿<app-header class="bottomMenu"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>

<div id="login" class="col-xs-12 col-md-12 greyBackground">
  <div class=" panel panel-default col-xs-12 col-md-4 col-md-offset-4">
    <div class="panel-body">
      <button class="btn btn-primary btn-lg btn-block" (click)="signIn('facebook')">
        <i class="fa fa-facebook"></i> Sign Up with Facebook
      </button>
      <br>
      <button class="btn btn-warning btn-lg btn-block" (click)="signIn('google')">
        <i class="fa fa-google"></i> Sign Up with Google
      </button>
      <br>
      <p class="col-md-12 col-xs-12 text-center">or</p>
      <form [formGroup]="loginForm.getForm()" (ngSubmit)="directLogin()">
        <div class="form-group" [ngClass]="loginForm.hasError('email') ? 'has-error' : ''">
          <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email">
          <span class="help-block" *ngIf="loginForm.hasError('email')">
              {{ loginForm.getError('email') }}
            </span>
        </div>
        <div class="form-group" [ngClass]="loginForm.hasError('title') ? 'has-error': ''">
          <select class="form-control" formControlName="title">
            <option value="MR">MR</option>
            <option value="MRS">MRS</option>
            <option value="MISS">MISS</option>
          </select>
          <span class="help-block" *ngIf="loginForm.hasError('title')">
              {{ loginForm.getError('title') }}
            </span>
        </div>
        <div class="form-group" [ngClass]="loginForm.hasError('firstname') ? 'has-error' : ''">
          <input type="text" class="form-control" name="firstname" formControlName="firstname" placeholder="Firstname">
          <span class="help-block" *ngIf="loginForm.hasError('firstname')">
              {{ loginForm.getError('firstname') }}
            </span>
        </div>
          <div class="form-group" [ngClass]="loginForm.hasError('lastname') ? 'has-error': ''">
            <input type="" class="form-control" id="lastname" formControlName="lastname" placeholder="Lastname">
            <span class="help-block" *ngIf="loginForm.hasError('lastname')">
              {{ loginForm.getError('lastname') }}
            </span>
          </div>
        <div class="form-group" [ngClass]="loginForm.hasError('password') ? 'has-error' : ''">
          <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
          <span class="help-block" *ngIf="loginForm.hasError('password')">
              {{ loginForm.getError('password') }}
            </span>
          <span class="help-block has-error" *ngIf="failMessage">{{failMessage}}</span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger btn-block" #signUpButton>Sign Up</button>
        </div>
      </form>

      <hr>

      <div class="col-md-12">
        <a [routerLink]="['/login']" class="btn btn-default pull-right">Log In</a>
      </div>

    </div>
  </div>
</div>

<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>
