<div class="block_screen" (click)="hideFullCalendar()"></div>
<div class="full_calendar_wrapper">
    
    <input type="text" class="form-control" placeholder="Please select a date" (click)="showFullCalendar(calendarId)" [id]="inputId" readonly />
    
    <div [id]="calendarId" class="full-calendar-container full-calendar-hidden"></div>

</div>