.full_calendar_wrapper {
    position: relative;
}

.full-calendar-container {
    margin-top: 1px;
    position: absolute;
    top: 100%;
    width: 80%;
    min-height: 413px;
    z-index: 91;
    background-color: white;
}

.full-calendar-hidden {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}

.form-control {
    padding: 5px 10px !important;
    font-size: 14px !important;
    width: 200px;
    outline: 0 !important;
    border: 1px solid #dfe3e9 !important;
    box-shadow: none !important;
    background-color: white !important;
}

.block_screen{
    background-color: rgba(0,0,0,0);
    display: none;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    z-index: 9;
  }


.full_calendar_wrapper .fc-day.fc-disabled-day {
    background: none !important;
}

.full_calendar_wrapper .fc-day.fc-disabled-day:hover {
    background: none !important;
    cursor: not-allowed !important;
}

.full_calendar_wrapper .fc-day.disabled-week-day {
    background: none !important;
    cursor: not-allowed !important;
}

.full_calendar_wrapper .fc-day.disabled-week-day:hover {
    background: none !important;
    cursor: not-allowed !important;
    color: #999 !important;
}
td.fc-day-top.disabled-week-day {
    color: #999 !important;
}
   
   .fc-unthemed .fc-disabled-day {
    background: none !important;
}

@media (max-width: 768px) {
    .full-calendar-container {
        position: fixed;
        top: 50%;  
        left: 50%;
        max-width: calc(100vw - 20px);
        transform: translate(-50%,-50%);
    }
}