<div class="col-xs-12 footer-container">
  <div class="container">
    <div class="col-xs-6 col-md-4 p-l-0">
      <div class="col-xs-3 p-b-0">
        <a class="col-xs-offset-1" href="https://www.facebook.com/TicketsToDo"  rel="noopener noreferrer nofollow"
          aria-label="redirect to facebook" target="_blank">
          <i class="fa fa-facebook fa-2x cursor" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-xs-3 p-b-0">
        <a class="col-xs-offset-0" aria-label="redirect to twitter" href="https://twitter.com/TicketsToDo"
           rel="noopener noreferrer nofollow" target="_blank">
          <i class="fa fa-twitter fa-2x cursor" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-xs-3 p-b-0">
        <a class="col-xs-offset-0" aria-label="redirect to instagram" href="https://www.instagram.com/tickets_todo/"
           rel="noopener noreferrer nofollow" target="_blank">
          <i class="fa fa-instagram fa-2x cursor" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-xs-3 p-b-0">
        <a class="col-xs-offset-0" aria-label="redirect to telegram" href="{{'https://telegram.me/' + telegram.number}}"
           rel="noopener noreferrer nofollow" target="_blank">
          <i class="fa fa-telegram fa-2x cursor" aria-hidden="true"></i>
        </a>
      </div>
      <!-- <div>
        <a href="{{'https://telegram.me/' + telegram.number}}" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="30" height="30"
          viewBox="0 0 48 48"
          style=" fill:#000000;"><path fill="#29b6f6" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z"></path><path fill="#fff" d="M33.95,15l-3.746,19.126c0,0-0.161,0.874-1.245,0.874c-0.576,0-0.873-0.274-0.873-0.274l-8.114-6.733 l-3.97-2.001l-5.095-1.355c0,0-0.907-0.262-0.907-1.012c0-0.625,0.933-0.923,0.933-0.923l21.316-8.468 c-0.001-0.001,0.651-0.235,1.126-0.234C33.667,14,34,14.125,34,14.5C34,14.75,33.95,15,33.95,15z"></path><path fill="#b0bec5" d="M23,30.505l-3.426,3.374c0,0-0.149,0.115-0.348,0.12c-0.069,0.002-0.143-0.009-0.219-0.043 l0.964-5.965L23,30.505z"></path><path fill="#cfd8dc" d="M29.897,18.196c-0.169-0.22-0.481-0.26-0.701-0.093L16,26c0,0,2.106,5.892,2.427,6.912 c0.322,1.021,0.58,1.045,0.58,1.045l0.964-5.965l9.832-9.096C30.023,18.729,30.064,18.416,29.897,18.196z"></path></svg>
        </a>
      </div> -->
    </div>
    <div class="col-xs-11 col-md-8 p-r-0">
      <form [formGroup]="subscribeForm.getForm()" (ngSubmit)="onSubscribe()">
        <div class="input-group col-xs-12 col-md-6 col-md-offset-6 pull-right">
          <input class="form__field input-lg" formControlName="email" placeholder="Enter your email address">
          <span class="input-group-addon appBackColor white cursor footer-span" (click)="onSubscribe()"
            #subscribeButton>
            SUBSCRIBE
          </span>
        </div>
        <div class="input-group col-xs-6 pull-right p-0" *ngIf="showSubscribedMsg">
          <span class="input-group-addon subscribedMsg">
            <img src="https://res.cloudinary.com/dcm/image/upload/v1556617557/prod/c/check-mark.png" class="tick_mark">
            You have successfully subscribed to the Tickets to do mailing list
          </span>
        </div>
        <div class="input-group col-xs-6 pull-right p-0" *ngIf="alreadySubscribedMsg">
          <span class="input-group-addon subscribedMsg">
            <img src="https://res.cloudinary.com/dcm/image/upload/v1556617557/prod/c/check-mark.png" class="tick_mark">
            You have already subscribed to the Tickets to do mailing list
          </span>
        </div>
      </form>
    </div>
  </div>
  <hr class="col-xs-12 copyright-border">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-2 p-t-2 p-l-0 p-l-0-xs">
      <p class="copyright">©2012 - 2019 Digital Conversions Media DMCC.<strong>Tickets Online</strong> All Rights Reserved.</p>
      <div class="form-group">
        <select class="form__field-small selectLanguage">
          <option>English</option>
        </select>
      </div>
    </div>

    <div class="col-xs-12 col-lg-8 col-md-8 p-l-4 p-t-1 p-b-1 p-0-xs">
      <table class="col-xs-12 text-center">
        <tr class="white">
          <th class="col-xs-2 fontNormal text-center">ABOUT TICKETSTODO</th>
          <th class="col-xs-1 fontNormal text-center">Top Cities</th>
          <th class="col-xs-3 fontNormal text-center">Top Activities</th>
          <th class="col-xs-2 fontNormal text-center">TERMS OF USE</th>
          <th class="col-xs-2 fontNormal text-center"></th>
        </tr>
        <tr>
          <td class="col-xs-2"><a [routerLink]="['/about-us']">About Us</a></td>
          <td class="col-xs-1"><a [routerLink]="[topCities[0]?.url]"  rel="noopener noreferrer nofollow">{{topCities[0]?.displayname}}</a></td>
          <td class="col-xs-3"><a [routerLink]="[topActivities[0]?.url]"  rel="noopener noreferrer nofollow">{{topActivities[0]?.name}}</a></td>
          <td class="col-xs-2"><a [routerLink]="['/terms']"  rel="noopener noreferrer nofollow">Terms And Condition</a></td>
          <td class="col-xs-2"><a class="darkGrey" [routerLink]=" ['/contact']">Contact Us</a></td>
        </tr>
        <tr>
          <td class="col-xs-2"><a target="_blank" rel="noopener noreferrer" href="{{blogUrl}}">Blog</a></td>
          <td class="col-xs-1"><a [routerLink]="[topCities[1]?.url]"  rel="noopener noreferrer nofollow">{{topCities[1]?.displayname}}</a></td>
          <td class="col-xs-3"><a [routerLink]="[topActivities[1]?.url]"  rel="noopener noreferrer nofollow">{{topActivities[1]?.name}}</a></td>
          <!-- <td class="col-xs-2"><a target="_blank" rel="noopener noreferrer nofollow" href="{{refundUrl}}">Refund And Cancellation</a></td> -->
          <td class="col-xs-2"><a [routerLink]="['/privacy']"  rel="noopener noreferrer nofollow">Privacy Policy</a></td>
          <td class="col-xs-2"><a target="_blank" rel="noopener noreferrer nofollow" href="{{faqUrl}}">FAQs</a></td>
        </tr>
        <tr>
          <!-- <td class="col-xs-2"><a target="_blank" rel="noopener noreferrer nofollow" href="{{paymentMethodUrl}}">Method of payment</a></td> -->
          <td class="col-xs-2"></td>
          <td class="col-xs-1"><a [routerLink]="[topCities[2]?.url]"  rel="noopener noreferrer nofollow">{{topCities[2]?.displayname}}</a></td>
          <td class="col-xs-3"><a [routerLink]="[topActivities[2]?.url]"  rel="noopener noreferrer nofollow">{{topActivities[2]?.name}}</a></td>
          <td class="col-xs-2"></td>
          
        </tr>
        <tr>
          <td class="col-xs-2"></td>
          <td class="col-xs-1"><a [routerLink]="[topCities[3]?.url]"  rel="noopener noreferrer nofollow">{{topCities[3]?.displayname}}</a></td>
          <td class="col-xs-3"><a [routerLink]="[topActivities[3]?.url]"  rel="noopener noreferrer nofollow">{{topActivities[3]?.name}}</a></td>
          <td class="col-xs-2"></td>
        </tr>
        <!-- <tr>
          <td class="col-xs-2 cursor"></td>
          <td class="col-xs-1 cursor"><a [routerLink]="[topCities[4]?.url]"  rel="noopener noreferrer nofollow">{{topCities[4]?.displayname}}</a></td>
          <td class="col-xs-3 cursor"><a [routerLink]="[topActivities[4]?.url]"  rel="noopener noreferrer nofollow">{{topActivities[4]?.name}}</a></td>
          <td class="col-xs-2 cursor"></td>
        </tr> -->
      </table>
    </div>

    <div class="col-xs-12 col-md-2 p-t-2 p-r-0 p-0-xs p-b-1-xs">
      <form>
        <a target="_blank" rel="noopener noreferrer nofollow" href="{{askTTDUrl}}" class="btn btn-block footer-btn">
          Ask TicketsToDo</a>
      </form>
      <br>

      <h6 class="darkGrey">Payment Channel</h6>
      <img [lazyLoad]="cloudinaryImageBaseUrl + 'w_40,h_20/v1/'+ environment.cloudinaryServer + '/v/visalogo.png'"
        class="pad5" alt="visa logo">
      <img [lazyLoad]="cloudinaryImageBaseUrl + 'w_40,h_20/v1/'+ environment.cloudinaryServer + '/p/paypallogo.png'"
        class="pad5" alt="paypal logo">
      <img [lazyLoad]="cloudinaryImageBaseUrl + 'w_40,h_20/v1/'+ environment.cloudinaryServer + '/m/masterlogo.jpg'"
        class="pad5" alt="master logo">
    </div>
  </div>
</div>