font {
  font-size: 10px;
  color: lightgrey;
}

a {
  color: grey !important;
  text-decoration: none;
}

td {
  font-size: 1em;
}


.subscribedMsg {
  color: #ffff;
  padding: 0px;
  text-align: right;
}

.tick_mark {
  height: 13px;
  width: 13px;
  margin: 0 3px;
}


@media (max-width: 768px) {
  .footer-container {
    padding-bottom: 60px;
  }
}

.footer-container {
  background-color: rgb(51, 51, 51);
  color: grey;
  padding: 0px;
  bottom: 0px;
}

.copyright-border {
  border-top: 1px solid grey;
  padding: 0px;
  margin: 0px;
}

.width37 {
  width: 37%;
}

.width26 {
  width: 26%;
}