body {
  background-color: grey;
}

.border-bottom {
  border-bottom: 1px solid lightgrey;
}

.border1px {
  border: 1px solid lightgrey;
  border-radius: 3px;
}


.secure {
  padding: 0px 15px 0px 0px;
}

.showClickable {
  cursor: pointer;
}

.creditPointcolor {
  color: #cb171e;
  font-weight: 600;
}

.creditColor {
  color: black;
}

.verified-badge {
  position: absolute;
  color: green;
  margin: 6px 0px 0px -51px;
}

.unverified-badge {
  position: absolute;
  color: red;
  margin: -32px 0px 0px 212px;
}

.allign-middle {
  text-align: center
}

.terms-condition {
  font-size: smaller;
  padding: 18px 0px 5px 18px;
}

.center_align {
  display: flex;
  align-items: center;
}

.couponLabel {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  display: inline;
  padding-left: 10px;
  position: relative;
}

.removeCoupon {
  position: absolute;
  top: 0;
  right: -5px;
  transform: translate(100%, -50%);
  font-size: 1rem;
  cursor: pointer;
  color: #ef1223;
  font-weight: bold;
}

.couponBtn {
  padding: 9px 18px 8px 18px;
}

.secureImg {
  width: 18px;
  margin-bottom: 4px;
}






@media (max-width: 769px) {

  .mobile{
    padding-top: 20px;
  }
  .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .container .first_div {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .container .second_div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .modal {
    z-index: 10000;
  }
}