
<app-header (currency)="currencyChanged($event)" [text]="text" class='bottomMenu' name="Child"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>

<!-- <app-header [text]="text" class="bottomMenu" (currency)="currencyChanged($event)"></app-header> -->

<div class="greyBackground">
  <div class="container p-t-2">
    <div class="col-xs-12 container">

      <div class="col-xs-12 col-md-7 first_div">
        <!--SHIPPING METHOD-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="m-0 f20">
              User Details
            </span>
          </div>
          <div class="panel-body">
            <form [formGroup]="shopperDataForm.getForm()" (ngSubmit)="editShopperdata()">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="firstname">Firstname
                    <span class="appColor"> *</span>
                  </label>
                  <input type="" class="form__field-small" id="firstname" formControlName="firstname">
                  <span class="help-block has-error" *ngIf="shopperDataForm.getError('firstname')">
                    {{ shopperDataForm.getError('firstname') }}
                  </span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="lastname">Lastname
                    <span class="appColor"> *</span>
                  </label>
                  <input type="" class="form__field-small" id="lastname" formControlName="lastname">
                  <span class="help-block has-error" *ngIf="shopperDataForm.getError('lastname')">
                    {{ shopperDataForm.getError('lastname') }}
                  </span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="lastname">Email
                    <span class="appColor"> *</span>
                  </label>
                  <input type="" class="form__field-small" id="email" formControlName="email" disabled>
                  <span class="help-block has-error" *ngIf="shopperDataForm.getError('email')">
                    {{ shopperDataForm.getError('email') }}
                  </span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group" [ngClass]="shopperDataForm.hasError('phone') ? 'has-error': ''">
                  <label for="phone">Phone <span class="appColor"> *</span></label>
                  <input type="" class="form__field-small" id="phone" formControlName="phone">
                  <span class="help-block has-error" *ngIf="shopperDataForm.getError('phone')">
                    {{ shopperDataForm.getError('phone') }}
                  </span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <button class="btn btn-danger" type="submit"> Update</button>
              </div>
            </form>
          </div>
        </div>


        <!-- Traveler Information start -->
        <div class="panel panel-default">

          <div class="panel-heading">
            <span class="m-0 f20">
              Traveler's Information
            </span>
          </div>

          <div class="panel-body">
            <form [formGroup]="travelerDataForm.getForm()">

              <div class="col-xs-4 col-md-2">
                <div class="form-group">
                  <label for="travelerfirstname">Title
                    <span class="appColor"> *</span>
                  </label>
                  <select class="form-control form__field-small" name="title_select_list">
                    <option>&nbsp;Mr.</option>
                    <option>&nbsp;Ms.</option>
                    <option>&nbsp;Mrs.</option>
                  </select>
                </div>
              </div>

              <div class="col-xs-12 col-md-5">
                <div class="form-group">
                  <label for="travelerfirstname">First Name
                    <span class="appColor"> *</span>
                  </label>
                  <input type="" class="form__field-small" id="traveler_first_name" formControlName="first_name">
                  <span class="help-block has-error">
                  </span>
                </div>
              </div>

              <div class="col-xs-12 col-md-5">
                <div class="form-group">
                  <label for="travelerlastname">Family Name
                    <span class="appColor"> *</span>
                  </label>
                  <input type="" class="form__field-small" id="traveler_family_name" formControlName="family_name">
                  <span class="help-block has-error">
                  </span>
                </div>
              </div>

              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="travelerCountry">Country/Region of Travel Document
                    <span class="appColor"> *</span>
                  </label>
                  <select class="form-control form__field-small" name="traveler_country_list" formControlName="country">
                    <option *ngFor="let country of countries; let i=index" [value]="country.code">{{country.name | titlecase}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-xs-12 col-md-6">
                <div class="form-group" [ngClass]="travelerDataForm.hasError('email') ? 'has-error': ''">
                  <label for="tarelerEmail">Email address
                    <span class="appColor"> *</span>
                  </label>
                  <input type="" class="form__field-small" id="traveler_email" formControlName="email">
                  <span class="help-block has-error" *ngIf="travelerDataForm.getError('email')">
                      {{ travelerDataForm.getError('email') }}
                    </span>
                  <span class="help-block has-error">
                  </span>
                </div>
              </div>

              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="travelerCountryCode">Country Code
                    <span class="appColor"> *</span>
                  </label>
                  <select class="form-control form__field-small" name="traveler_country_code_list" formControlName="country_code">
                    <option *ngFor="let country of countries; let i=index">{{country.code}}</option>
                    <!-- <option *ngFor="let country of countries; let i=index">{{country.code}}
                      ({{country.country_code}}) </option> -->
                  </select>
                </div>
              </div>

              <div class="col-xs-12 col-md-6 verification-container">
                <div class="form-group" [ngClass]="travelerDataForm.hasError('mobile_no') ? 'has-error': ''">
                  <label for="tarelerMobile">Enter Mobile number
                    <span class="appColor"> *</span>
                  </label>
                  <input type="" class="form__field-small" id="traveler_contact" formControlName="mobile_no">
                  <span class="help-block has-error" *ngIf="travelerDataForm.getError('mobile_no')">
                    {{ travelerDataForm.getError('mobile_no') }}
                  </span>
                </div>
              </div>

              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label for="travelerPickUp">Hotel &#38; Address
                  </label>
                  <textarea class="form__field-small" rows="3" name="travelerPickUp" id="travelerPickUp" formControlName="address"></textarea>
                  <span class="help-block has-error">
                  </span>
                </div>
              </div>
            </form>
          </div>

        </div>
        <!-- Traveler Information end -->


        <div class="panel panel-default">

          <div class="panel-heading showClickable" data-toggle="collapse" data-target="#collapseExample">
            <div class="row center_align">
              <div class="col-xs-7">
                <span class="m-0 f20">
                  Redeem coupon
                </span>
              </div>
            </div>
          </div>

          <div class="panel-body collapse" id="collapseExample">

            <div class="col-xs-12 col-md-12">
              <form [formGroup]="couponDetails.getForm()">
                <div class="secure">
                  {{strCouponMsg}}
                  <label for="couponCode" class="couponLabel"
                    *ngIf="hideCouponTextbox">{{couponDetails.getValue('coupon_code')}}
                    <span class="removeCoupon" (click)="removeCoupon()" *ngIf="hideCouponTextbox">X</span>
                  </label>
                </div>
                <div class="col-xs-12 col-md-12 m-0 secure">
                  <!-- <div class="col-xs-12 col-md-12 p-t-0 padLeft7"> -->
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <input type="text" class="form__field-small" autocomplete="off" placeholder="Enter coupon"
                          name="ticketsCoupon" formControlName="coupon_code" *ngIf="!hideCouponTextbox">
                        <!-- <app-loading id="loader"></app-loading> -->

                        <!-- <label for="couponCode" class="couponLabel" *ngIf="hideCouponTextbox">{{couponDetails.getValue('coupon_code')}}</label> -->
                        <span class="help-block has-error" *ngIf="couponDetails.getError('coupon_code')">
                          {{ couponDetails.getError('coupon_code') }}
                        </span>
                      </div>
                      <div class="col-sm-3">
                        <button class="btn btn-danger couponBtn" (click)="validateCoupon()" *ngIf="!hideCouponTextbox"
                          id="redeemBtn">Redeem coupon</button>
                        <!-- <img id="" src="https://res.cloudinary.com/dcm/image/upload/v1562840300/nearlive/l/loader.gif" alt="loader"> -->
                        <img id="loader"
                          src="https://res.cloudinary.com/dcm/image/upload/v1562841560/nearlive/l/loading.gif"
                          width="40" alt="loader">
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="secure">
                Redeem against TicketsToDo Credits Points
              </div>
              <div class="col-xs-12 m-0 secure">
                <!-- <div class="col-md-12 col-xs-12 p-t-0 padLeft7"> -->
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <input type="text" class="form__field-small" [(ngModel)]="ticketsCreditPoints" autocomplete="off"
                        placeholder="Enter Credit Points" name="ticketsCreditPoints">
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-danger couponBtn">&nbsp;Redeem Points&nbsp;</button>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            </div>
          </div>

        </div>

        <form [formGroup]="paymentform.getForm()" class="color:#000;">

          <div>
            <!--CREDIT CART PAYMENT-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="m-0 f20">
                  Payment Type
                </span>
              </div>

              <div class="panel-body">
                <div class="col-md-12 secure padLeft10">
                  <img src="\assets\images\secure.svg" class="secureImg" alt="secure">
                  Your card information is fully encrypted and protected.
                </div>
              </div>

              <div class="panel-body secure">
                <div class="col-md-12 p-t-0">
                  <ul class="list-group col-xs-12 m-0">
                    <li class="list-group-item form-check col-md-12 col-xs-12">
                      <input class="form-check-input" type="radio" id="payfortCredit" formControlName="gid" value="1"
                        name="gid" (change)="paymentTypeChange($event.target.value)">
                      <label class="form-check-label" for="payfortCredit">Credit Card </label>
                      <span class="pull-right">
                        <img class="pad5"
                          src="{{cloudinaryImageBaseUrl + 'w_40,h_20/v1/'+ environment.cloudinaryServer + '/v/visalogo.png'}}"
                          alt="visa logo">
                        <img class="pad5"
                          src="{{cloudinaryImageBaseUrl + 'w_40,h_20/v1/'+ environment.cloudinaryServer + '/m/masterlogo.jpg'}}"
                          alt="master logo">
                      </span>
                    </li>
                    <li class="list-group-item form-check col-md-12 col-xs-12">
                      <input class="form-check-input" type="radio" formControlName="gid" value="2" name="gid"
                        id="paypal" (change)="paymentTypeChange($event.target.value)">
                      <label class="form-check-label" for="paypal">PayPal </label>
                      <span class="pull-right">
                        <img class="pad5"
                          src="{{cloudinaryImageBaseUrl + 'w_40,h_20/v1/'+ environment.cloudinaryServer + '/p/paypallogo.png'}}"
                          alt="paypal logo">
                      </span>
                    </li>
                  </ul>
                </div>
                <div>
                  <div class="form-group">
                    <div class="allign-middle">
                      <button
                        *ngIf="shopperdata && shopperdata.remember_me === 1 && shopperdata.token_name && paymentform.getValue('gid') === '1'"
                        type="submit" class="btn btn-danger btn-lg btn-submit-fix m-r-1"
                        (click)="submitPaymentForm('quickpay')" #payButton>
                        Quick Pay
                      </button>
                      <button type="submit" class="btn btn-danger btn-lg btn-submit-fix" (click)="submitPaymentForm('')"
                        #payButton>
                        Pay Now
                      </button>
                    </div>

                    <div class="terms-condition">
                      By clicking Pay Now, you agree that you have read and understood our <a href="/terms"><u>Terms &
                          Conditions</u> </a>
                      and <a href="/terms"><u>Cancelation policy.</u></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--CREDIT CART PAYMENT END-->
          </div>
        </form>
        <!--SHIPPING METHOD END-->
      </div>

      <!--CART METHOD START-->
      <div class="col-xs-12 col-md-5 second_div" *ngIf="cart?.length!=0 || !cart;else cartEmpty">

        <div *ngFor="let addtocartdata of addtocartdatas?.data; let i=index">
          <div class="panel panel-default">
            <div class="panel-body">
              <h6 class="border-bottom">
                <b>{{addtocartdata?.package_name}}</b>
              </h6>
              <h6>Date
                <span class="pull-right">{{addtocartdata?.booking_activity_date}}</span>
              </h6>
              <h6>Units
                <span class="pull-right" *ngFor="let group of addtocartdata.group_price_details">
                  {{group?.quantity}} x {{group?.age_group_name}},
                </span>
              </h6>
              <h6>Cost
                <span class="pull-right">
                  <strong>{{currency}} {{addtocartdata?.package_cost}}</strong>
                </span>
              </h6>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-12 p-0 pull-right">
              VAT amount
              <div class="pull-right">
                <span>
                  <strong>{{currency}} {{addtocartdatas?.VAT_amount}}</strong>
                </span>
              </div>
            </div>
            <div class="col-xs-12 p-0 pull-right">
              Grand Total
              <div class="pull-right">
                <span>
                  <!-- <strong>{{currency}} {{addtocartdatas?.total_cost}}</strong> -->
                  <strong>{{currency}} {{grand_total}}</strong>
                </span>
              </div>
            </div>

            <div class="col-xs-12 p-0 pull-right">
              Applied coupon amount
              <div class="pull-right">
                <span>
                  <strong *ngIf="addtocartdatas?.discount_amount>0">{{currency}}
                    {{addtocartdatas?.discount_amount}}</strong>
                </span>
              </div>
            </div>

            <div class="col-xs-12 p-0 pull-right">
              Applied credit points
              <div class="pull-right">
                <span>
                  <strong>{{ticketsCreditPoints}}</strong>
                </span>
              </div>
            </div>

            <div class="col-xs-12 p-0 pull-right">
              Order Total (After discount)
              <div class="pull-right">
                <span class="appColor">
                  <strong>{{currency}} {{addtocartdatas?.total_cost}}</strong>
                </span>
              </div>
            </div>

            <div class="col-xs-12 p-0 pull-right p-t-1">
              <div class="col-xs-8 p-0">Your transaction will be made in {{transactionCurrency}}</div>
              <div class="col-xs-4 p-0 text-right">
                <span class="appColor f18 lineHeight0">
                  <strong>{{transactionCurrency}} {{transactionAmount}}</strong>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--CART METHOD END-->
    </div>

  </div>

  <form id='paypalForm' method='post' [action]="paypalFormUrl" rel="nofollow">
    <input type='hidden' name='shopper_id' [value]="shopperId">
    <input type='hidden' name='is_live' [value]="isLive">
    <input type='hidden' name='package_details' [value]="package_details">
    <input type='hidden' name='gid' value="2">
    <input type='hidden' name='currency' [value]="transactionCurrency">
    <input type='hidden' name='user_currency' [value]="currency">
    <input type='hidden' name='coupon_code' [value]="coupon_code">
  </form>

  <!-- <form id='codForm' method='post' [action]="paypalFormUrl" rel="nofollow">
    <input type='hidden' name='shopper_id' [value]="shopperId">
    <input type='hidden' name='package_details' [value]="package_details">
    <input type='hidden' name='gid' value="3">
    <input type='hidden' name='currency' [value]="transactionCurrency">
    <input type='hidden' name='user_currency' [value]="currency">
  </form> -->

  <!-- Modal -->
  <div class="modal fade" id="payfortModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header noPadding">
          <span class="modal-title noMargin text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="rememberMe" [(checked)]="rememberMe"
                  (change)="remember(rememberMe)">Remember
                me?</label>
              <button type="button" class="close marRight5" data-dismiss="modal">&times;</button>
            </div>
          </span>
        </div>
        <div class="modal-body noMargin noPadding">
          <div class="text-center">
            <div *ngIf="payfortLoading" class="text-center">
              <app-loading></app-loading>
              <p class="grey text-center">Loading...</p>
            </div>
            <iframe [hidden]="payfortLoading" name="iframe" src="" height="450" width="100%" align="middle"
              class="payfortiframe" frameBorder=0 (load)="endLoading()">
            </iframe>
            <form id='payfortDataSubmitForm' target='iframe' method='post' action='{{payfortDataSubmitUrl}}'
              rel="nofollow">
              <input type='hidden' name='access_code' value="{{payfortForm?.access_code}}">
              <input type='hidden' name='language' value="{{payfortForm?.language}}">
              <input type='hidden' name='merchant_identifier' value="{{payfortForm?.merchant_identifier}}">
              <input type='hidden' name='merchant_reference' value="{{payfortForm?.merchant_reference}}">
              <input type='hidden' name='service_command' value="{{payfortForm?.service_command}}">
              <input type='hidden' name='signature' value="{{payfortForm?.signature}}">
              <input *ngIf="payfortForm?.token_name" type='hidden' name='token_name'
                value="{{payfortForm?.token_name}}">
              <input *ngIf="payfortForm?.card_security_code" type='hidden' name='card_security_code'
                value="{{payfortForm?.card_security_code}}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #cartEmpty>
  </ng-template>
</div>
<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile (currency)="currencyChanged($event)"></app-footer-mobile>