.header ul {
  list-style-type: none;
}

.header li a {
  display: block;
  text-align: center;
  padding: 0px 20px 0px 0px;
  text-decoration: none;
}

.navbar {
  background-color: white;
  margin-bottom: 0px;
  width: 100%;
  height: 20px;
}


.profileImage {
  height: 35px;
  width: 35px;
  border-radius: 50%
}
