<nav class="navbar mobileHeaderColor">
  <div class="header">
    <ul class="m-0 p-0">
      <li *ngIf="!showKidzappLogo" class="float-left m-1">
        <a [routerLink]="['']">
          <img src="{{cloudinaryImageBaseUrl + 'h_30,w_140/v1/'+ environment.cloudinaryServer + '/t/ttdlogo.png'}}"
            style="cursor: pointer;vertical-align: -webkit-baseline-middle;" alt="Book tickets online with Tickets To Do">
        </a>
      </li>
      <li *ngIf="showKidzappLogo" class="float-left m-1">
        <img src="{{cloudinaryImageBaseUrl + 'h_38,w_132/v1/'+ environment.cloudinaryServer + '/k/kidzapp-logo2.png'}}"
          alt="Kidzapp logo">
      </li>
      <li *ngIf="!user" [routerLink]="['/login'] " class="float-right m-l-0 m-t-1 m-b-1 marRight20">
        <i class="fa fa-user-circle-o white f30"></i>
      </li>

      <li [routerLink]="['/home']" *ngIf="user" class="float-right m-l-0 m-t-1 m-b-1 marRight20">
        <img class="profileImage" *ngIf="user?.image" src="{{user?.image}}" ttd="profile image" alt="{{user?.firstname}}">
        <img class="profileImage" *ngIf="!user?.image && user?.image_url" src="{{user?.image_url}}" ttd="profile image" alt="{{user?.firstname}}">
        <i *ngIf="!user?.image && !user?.image_url" class="fa fa-user-circle-o white f30"
          style="vertical-align: middle;" aria-hidden="true"></i>
      </li>
      <li *ngIf="user" class="float-right m-l-0 m-t-1 m-b-1 m-r-1">
        <a [routerLink]="['/shoppingcart']" class="p-0">
          <i class="fa fa-shopping-cart white f30"></i>
          <span class="badge white" style="vertical-align: top;" *ngIf="cartCount && user">{{cartCount}}</span>
        </a>
      </li>
      <li routerLink="/search" class="float-right m-l-0 m-t-1 m-b-1 m-r-1">
        <i class="fa fa-search white f30"></i>
      </li>
    </ul>
  </div>
</nav>