.image {
  height: 10em;
  width: 100%;
  height: 6em;
}

.cityName {
  position: absolute;
  bottom: 5%;
  width: 87%;
}

.city {
  position: relative;
  outline: none;
  cursor: pointer;
}

p {
  outline: none;
}

* {
  box-sizing: border-box
}

body {
  font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid rgba(204, 204, 204, 0.19);
  width: 25%;
  height: 100%;
  overflow-y: auto;

}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 12px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #EF1223;
  color: white !important;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: green;
  color: white !important;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid rgba(204, 204, 204, 0.19);
  width: 75%;
  border-left: none;
  height: 100%;
  overflow-y: auto;
}

.tablinks {
  padding: 9px 6px 9px 15px !important;
  border-bottom: 1px solid #eeeeee !important;
  min-height: 58px;
  line-height: 1.2;
}

.regionTop {
  font-size: 14px;
  color: #333;
}

.tablinks:hover .regionTop, .tablinks:hover .regionBottom {
  color: white !important;
}

.regionBottom {
  color: #888;
  font-size: 12px;
  margin-top: 5px;
}

.regionBottom .popularCity {
  display: inline-block;
  margin-right: 10px;
}

.wsnowrap{
  display: inline-block;
}