<div class="voucher">
  <div class="voucher-contain">
    <div class="p-r-0 p-l-0">
      <img [routerLink]="['']" class="cursor m-2" src="assets/images/TTDLogo2.png" height="35px" alt="Book tickets online with Tickets To Do">
    </div>

    <div class="p-r-0 p-l-0" *ngIf="voucherDetails;else loading">

      <div class="card-detail clearfix">
        <div class="card-detail-left dashed-right-border">
          <div class="card-detail-left-top bg1 bd1">
            <div class="border-bottom">
              <div class="row">
                <div class="col-sm-3 p-t-0 p-r-0 p-b-0">
                  <img class="voucherActivityImage" src="{{voucherDetails?.activity_image}}"
                    alt="{{voucherDetails?.activity_name}}">
                </div>
                <div class="col-sm-7 p-t-0 p-b-0">
                  <h2 class="marTop14"><b>{{voucherDetails?.activity_name}}</b></h2>
                  <h3>{{voucherDetails?.package_name}}</h3>
                </div>
                <div class="col-sm-2 p-0">
                  <img class="merchantLogo" src="{{voucherDetails?.company_logo}}"
                    alt="{{voucherDetails?.activity_name}}">
                </div>
              </div>
            </div>
          </div>
          <div class="card-detail-left-bottom bd1 row m-0">
            <div class="col-xs-4">
              <h3 class="grey m-t-0">WHO</h3>
              <h3>{{voucherDetails?.firstname}} {{voucherDetails?.lastname}}</h3>
              <h3 *ngFor="let group of voucherDetails.group_price_details">
                {{group?.quantity}} x {{group?.age_group_name}},
              </h3>
            </div>

            <div class="col-xs-4 border-left">
              <h3 class="grey m-t-0">WHEN</h3>
              <h3>{{voucherDetails?.booking_activity_date}}</h3>
              <h3>{{voucherDetails?.booking_activity_time}}</h3>
            </div>

            <div class="col-xs-4 border-left">
              <h3 class="grey m-t-0">WHERE</h3>
              <h3 *ngIf="showMapLink">{{voucherDetails?.venue_location}}

              </h3>
            </div>
          </div>
        </div>

        <div class="card-detail-right">
          <div class="card-detail-right-top bg1 text-center">
            <h3 *ngIf="voucherDetails?.supplierOrders_id"><b> Booking Number:{{voucherDetails?.supplierOrders_id}}</b>
            </h3>
            <div class="text-center p-t-1 p-b-1 width100p">
              <img class="qrcode-img" *ngIf="voucherDetails?.supplierOrders_id" alt="qrCode"
                src="data:image/jpeg;base64,{{this.qrCode}}">
            </div>
            <h3><b>Voucher No:</b></h3>
            <h3><b>{{voucherDetails?.ttd_voucher_code}}</b></h3>
          </div>
        </div>
      </div>

      <div class="panel panel-default m-t-2">
        <div class="panel-body row">
          <div class="col-xs-6 border-right">
            <h2 class="section-heading"><b>LOCATION MAP</b></h2>
            <div class="voucherMap">
              <ng-container *ngIf="!isServer && voucherDetails">
                <agm-map [zoom]="15" [latitude]="voucherDetails?.start_latitude"
                  [longitude]="voucherDetails?.start_longitude">
                  <agm-marker [latitude]="voucherDetails?.start_latitude" [longitude]="voucherDetails?.start_longitude">
                  </agm-marker>
                </agm-map>
              </ng-container>
            </div>
            <h3><a class="blue" href="{{voucherDetails?.google_map_link}}" target="_blank"></a></h3>
            <h3>
              <br /> Click <a class="locationColor" href="{{voucherDetails?.google_map_link}}" target="_blank">here</a>
              for exact location
            </h3>
            <h3 *ngIf="!showMapLink">{{voucherDetails?.venue_location}}
              <br /> Click here for exact location</h3>
          </div>
          <div class="col-xs-6 ">
            <h2 class="section-heading"><b>WAYS TO GET THERE</b></h2>
            <h3 [innerHTML]="voucherDetails?.way_to_get_there"></h3>
          </div>
        </div>
      </div>

      <div class="panel panel-default m-t-2">
        <div class="panel-body">
          <h2 class="section-heading"><b>OPERATING HOURS:</b></h2>
          <h3 class="m-l-2">{{voucherDetails?.operating_hours}}</h3>
          <h2 class="section-heading m-t-1"><b>HOW TO USE</b></h2>
          <h3 [innerHTML]="voucherDetails?.how_to_use"></h3>
          <h2 class="section-heading m-t-1"><b>CONTACT US</b></h2>
          <h3 class="m-l-2"><a>support@ticketstodo.com</a></h3>
          <h3 class="m-l-2">+97144425058</h3>
        </div>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-primary pull-right" (click)="print()">PRINT</button>
      </div>
    </div>
  </div>
</div>
<ng-template class="col-xs-12 m-t-2" #loading>
  <div class="text-center height100vh">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</ng-template>