@import "https://bootswatch.com/3/paper/bootstrap.min.css";


.voucher-contain {
  width: 21cm;
  height: 29.7cm;
  margin: auto;
}

.voucher {
  padding-bottom: 140px;
  background-color: #F5F5F5;
  line-height: 2px;
  font-family: 'Trebuchet MS';
}

.container {
  max-width: 1159px;
}

.card-detail {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-detail:first-child {
  margin-top: 0;
}

.card-detail-left,
.card-detail-right {
  position: relative;
  float: left;
}

.card-detail-left {
  width: 75%;
}

.dashed-right-border {
  border-right: 2px dashed;
  border-right-color: #cacaca;
  height: fit-content;
}

.card-detail-left-top {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 0;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.card-detail-left-top.bg1 {
  background-color: white;
}

.card-detail-left-top.bg2 {
  background-color: #1186D6;
}

.card-detail-left-top.bg3 {
  background-color: #7F7F7F;
}

.card-detail-left-top:before,
.card-detail-left-top:after {
  content: "";
  position: absolute;
  right: -13px;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #F5F5F5;
  border-radius: 50%;
  z-index: 11;
}

.card-detail-left-top:after {
  top: -12px;
}

.card-detail-left-top:before {
  bottom: -12px;
}

.card-detail-left-bottom {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 0 8px;
}

.left-circle {
  position: absolute;
  top: 50%;
  top: 50%;
  left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background-color: #F5F5F5;
  border-radius: 50%;
}

.card-detail-right {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.overdue {
  position: absolute;
  right: 5px;
  bottom: 0;
  width: 140px;
  z-index: 11;
}

.card-detail-right-top {
  position: relative;
  height: 100%;
  border-radius: 0 8px 8px 0;
  padding: 15px;
}

.card-detail-right-top.bg1 {
  background-color: white;
}

.card-detail-right-top.bg2 {
  background-color: #6AB7EC;
}

.card-detail-right-top.bg3 {
  background-color: #9E9E9E;
}

.card-detail-right-bottom {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
  font-size: 14px;
  background-color: #fff;
  border-radius: 0 0 8px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-detail-right-bottom span:nth-child(2) {
  text-align: right;
}

.details {
  font-size: 16px;
}

.voucherActivityImage {
  width: 130px;
  height: 105px;
  object-fit: cover;
  padding: 0;
}

.section-heading {
  font-size: 13pt !important;
}

.voucherMap {
  height: 200px;
  padding-right: 10px;
}

agm-map {
  height: 200px;
}

.border-left {
  border-left: 1px solid lightgrey;
}

.border-right {
  border-right: 1px solid lightgrey;
}

.qrcode {
  margin: auto;
  display: block;
}

.blue {
  color: blue;
}

.voucher h1 {
  font-size: 22pt;
  margin-top: 10px;
}

.voucher h2 {
  font-size: 18pt;
  margin-top: 10px;
}

.voucher h3 {
  font-size: 14px;
  margin-top: 10px;
}

.merchantLogo {
  max-width: 90px;
  max-height: 90px;
  padding: 0;
}

.qrcode-img {
  max-height: 100px;
  max-width: 100px;
  width: 100%;
}

.locationColor {
  color: #2196f3;
}