.navbar {
    z-index: 11;
  }
  
  .bottomMenu {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
  }
  
  .bottomMenu li a {
    color: grey;
  }
  
  
  .panelstyle {
    border-radius: 0px;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .panelstyle img {
    max-width: 150%
  }
  
  font {
    color: grey;
    font-size: 13px;
  }
  
  /*
    Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
    CSS from:       http://codepen.io/transportedman/pen/NPWRGq
    and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
    Inspired from:  http://codepen.io/Rowno/pen/Afykb
  */
  .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
    height: 40em;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  
  /*
    WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
    Need to override the 3.3 new styles for modern browsers & apply opacity
  */
  @media all and (transform-3d),
  (-webkit-transform-3d) {
  
    .carousel-fade .carousel-inner>.item.next,
    .carousel-fade .carousel-inner>.item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-fade .carousel-inner>.item.prev,
    .carousel-fade .carousel-inner>.item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-fade .carousel-inner>.item.next.left,
    .carousel-fade .carousel-inner>.item.prev.right,
    .carousel-fade .carousel-inner>.item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .panelCity {
    position: relative;
  }
  .mobile_slider_arrow{
    display: block;
  }
  
  .citynameCity {
    color: white;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  
  .cityimageCity {
    border-radius: 2px;
    width: 100%;
    height: 15em;
  }
  
  .tile:hover {
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(0px, -4px);
    -webkit-transition: box-shadow 0.3s, transform 0.3s;
    /* Safari */
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .tile:not(:hover) {
    transform: translate(0px, 4px);
    -webkit-transition: box-shadow 0.3s, transform 0.3s;
    /* Safari */
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  [hidden] {
    display: none;
  }
  
  .fifty {
    width: 50%;
    float: left;
  }
  
  * {
    box-sizing: border-box;
  }
  
  section {
    overflow: hidden;
    margin: 5px;
  }
  
  .js-mover {
    position: relative;
    width: 9999px;
  }
  
  figure {
    float: left;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 10px 0 0 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  /* Sidestep Firefox bug*/
  [disabler="disabled"] {
    pointer-events: none;
    opacity: .5;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }
  
  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
  
  .modal {
    width: 800px;
    margin: auto;
  }
  
  #slideshow {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 600px;
  }
  #slideshow>img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 600px;
  }

  .slide-img {
    height: 600px;
  }

  .bannerImage {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url('../../assets/images/lazyloadimg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    margin-top: 0;
  }
  
  #slideshow .bannerImage:first-child {
    display: block;
  }
  
  .exploreAllBtn {
    box-sizing: border-box;
    padding: 4px 68px;
    margin: 0 auto;
    margin-top: 15px;
    color: #EF1223;
    border: 1px solid #EF1223;
    font-size: 18px;
    border-radius: 2px;
    background-color: #ffffff;
  }
  
  .exploreAllBtn:hover {
    color: #ffffff;
    background-color: #EF1223;
  }
  
  .text-content-css {
    text-align: left;
    margin-top: 10px;
    display: block;
  }
  
  .carousel-inner .item img {
    max-width: 100%;
    height: 600px;
  }
  
  .scroll_home_product_slider {
    white-space: nowrap;
      overflow: hidden; 
    }
  
  
  
  .scroll_div{
    padding-left: 0;
  }
  .scroll_div li{
    display: inline-block;
    width: 200px;
  }
  
  .hide_desk{
    display: none;
  }
  
  .yoursToExplore{
    top: 160px !important;
  }
  .yoursToExplore h4 {
    font-size: 24px;
     }
     .hide_mobile{
      display: block;
    }
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (max-width: 768px) { 
    app-header{
      display: none;
    }
  
    .hide_desk{
      display: block;
    }
    .bannerImage {
      height: auto;
      /* margin-top: 50px; */
    }
    .exploreAllBtn{
      padding: 4px 37px;
    }
  .hide_mobile{
    display: none;
  }
  .mobile_slider_arrow{
    display: none;
  }
  #slideshow {
    margin: auto;
    height: 277px;
  }
  #slideshow>img {
    height: 240px;
  }
    
    .scroll_div li img{
      height: 15em !important;
    }
  
    .yoursToExplore{
      top: 140px !important;
    }
  
    .slide-img {
      height: 400px;
    }
      .m-b-23{
        margin-bottom: 23px !important;
      }
      
      .scroll_home_product_slider {
        white-space: nowrap;
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch;
  
      }
      .scroll_home_product_slider::-webkit-scrollbar { display:none !important }
      .yoursToExplore h4 {
        font-size: 14px;
         }
   }
   @media(min-width:769px) and (max-width:1200px)
{

.hide_mobile{
    display: block;
}

.hide_desk{
  display: none;
}
.p-t-100px{
  padding-top: 100px;
}

}

@media(max-width:1200px)
{
 
}
  
  
  