<app-header-mobile-nav>
</app-header-mobile-nav>

<div class="content noPadding" *ngIf="homeData">
  <div id="slideshow">
    <img *ngIf="homeData?.crousel[0]" class="bannerImage"
      src="{{cloudinaryImageBaseUrl +'v1/'+ environment.cloudinaryServer + '/' +homeData?.crousel[0].image_path_name}}"
      onerror="this.src='../assets/images/altImage.webp';" alt="banner image 1">
    <img *ngIf="homeData?.crousel[1]" class="bannerImage"
      src="{{cloudinaryImageBaseUrl +'v1/'+ environment.cloudinaryServer + '/'+homeData?.crousel[1].image_path_name}}"
      onerror="this.src='../assets/images/altImage.webp';" alt="banner image 2">
    <img *ngIf="homeData?.crousel[2]" class="bannerImage"
      src="{{cloudinaryImageBaseUrl +'v1/'+ environment.cloudinaryServer + '/'+homeData?.crousel[2].image_path_name}}"
      onerror="this.src='../assets/images/altImage.webp';" alt="banner image 3">
  </div>

  <div class="col-xs-12 col-lg-12 white yoursToExplore">
    <div class="text-center">
      <h1 class="white f60 f30-xs">
        <b>Book Tickets Online</b>
      </h1>
      <h4 class="white">
        <b>Discover and book amazing things to do at exclusive prices</b>
      </h4>
      <div class="col-xs-12 col-md-7 col-lg-7 col-centered">
        <app-search-desktop [dropDown]="false"></app-search-desktop>
      </div>
    </div>
  </div>

  <app-header [text]="text" [requestedCurrency]="homeData?.popularActivities[0]?.request_currency"
    (currency)="currencyChanged($event)" navFor="home"></app-header>

  <!-- Start Highlights Panels section -->
  <div class="container-fluid hide_mobile">
    <div class="row">
      <div class="main p-0">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 panel panelstyle">
          <div class="row">
            <div class="col-sm-3 p-t-0 text-center">
              <img [defaultImage]="'assets/images/lazyloadimg.webp'"
                [lazyLoad]="cloudinaryImageBaseUrl + 'v1/'+ environment.cloudinaryServer + '/h/hot-air-balloon.png'"
                onerror="this.src='';" alt="Handpicked Experiences">
            </div>
            <div class="col-sm-9 p-t-0 text-content-css">
              <b class="black f14">Handpicked Experiences</b>
              <br />
              <span class="darkGrey f12">Read real user reviews</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 panel panelstyle">
        <div class="row">
          <div class="col-sm-3 p-t-0 text-center">
            <img [defaultImage]="'assets/images/lazyloadimg.webp'"
              [lazyLoad]="cloudinaryImageBaseUrl + 'v1/'+ environment.cloudinaryServer + '/s/suitcase.png'"
              onerror="this.src='';" alt="seamless safe Booking">
          </div>
          <div class="col-sm-9 p-t-0 text-content-css">
            <b class="black f14">Seamless Safe Booking</b>
            <br />
            <span class="darkGrey f12">Hassle free eticket entry</span>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 panel panelstyle">
        <div class="row">
          <div class="col-sm-3 p-t-0 text-center">
            <img [defaultImage]="'assets/images/lazyloadimg.webp'"
              [lazyLoad]="cloudinaryImageBaseUrl + 'v1/'+ environment.cloudinaryServer + '/t/ticket.png'"
              onerror="this.src='';" alt="Best price guaranteed">
          </div>
          <div class="col-sm-9 p-t-0 text-content-css">
            <b class="black f14">Best price guaranteed</b>
            <br />
            <span class="darkGrey f12">Best activities at the best price</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Ends Highlights Panels section -->

  <!-- Start Top Destinations section -->
  <div class="container-fluid">
    <div class="col-xs-12 col-md-12 col-lg-12 m-t-1 m-b-0 p-b-0">
      <div class="text-center">
        <h2 class="text-center">
          Top Destinations
        </h2>
        <h5 class="darkGrey hide_mobile">Discover tours attractions and activities for your next adventure</h5>
      </div>
      <div class="col-sm-1 col-md-1 mobile_slider_arrow">
        <i *ngIf="stateCity=='outCity'" class="fa fa-chevron-left fa-2x p-t-8 pull-right cursor" (click)="slideCity()">
        </i>
      </div>
      <div class="row col-xs-12 col-sm-10 col-md-10 p-0 m-0 overflow-hidden whitespace-nowrap hide_mobile">
        <div class="col-xs-12 display-inline-block" [@slideInOutCity]='stateCity'>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[0]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[1]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[2]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[3]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[4]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[5]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[6]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[7]"></app-city-card>
        </div>

        <div class="display-inline-block" [@slideInOutCity]='stateCity'>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[8]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[9]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[10]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[11]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[5]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[13]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[14]"></app-city-card>
          <app-city-card class="col-xs-5 col-sm-3 col-md-3" [city]="homeData?.popularDestinations[15]"></app-city-card>
        </div>

        <div class="col-xs-12 col-lg-12 text-center m-0 p-0">
          <button type="button" class="btn exploreAllBtn" data-toggle="modal" data-target="#exploreDestination"
            (click)="loadAllDestinations = true">
            <i class="fa fa-map-marker fa-lg m-r-1" area-hidden="true"></i><span>Explore All Destinations</span>
          </button>
        </div>
      </div>
      <div class="row hide_desk">
        <div class="col-xs-12 pad10 p-0-xs">
          <ul class="scroll_div scroll_home_product_slider">
              <li><app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[0]"></app-city-card></li>
              <li><app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[1]"></app-city-card></li>
              <li><app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[2]"></app-city-card></li>
              <li><app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[3]"></app-city-card></li>
              <li><app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[4]"></app-city-card></li>
              <li><app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[5]"></app-city-card></li>
              <li><app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[6]"></app-city-card></li>
              <li><app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[7]"></app-city-card></li>
              <li> <app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[8]"></app-city-card></li>
              <li> <app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[9]"></app-city-card></li>
              <li> <app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[10]"></app-city-card></li>
              <li> <app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[11]"></app-city-card></li>
              <li> <app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[12]"></app-city-card></li>
              <li> <app-city-card class="col-xs-12" [city]="homeData?.popularDestinations[13]"></app-city-card></li>
          </ul>
        </div>
        <div class="col-xs-12 col-lg-12 text-center hide_mobile m-0 p-0">
          <button type="button" class="btn exploreAllBtn" data-toggle="modal" data-target="#exploreDestination"
            (click)="loadAllDestinations = true">
            <i class="fa fa-map-marker fa-lg m-r-1" area-hidden="true"></i><span>Explore All Destinations</span>
          </button>
        </div>
        
        <div class="col-xs-12 col-lg-12 text-center hide_desk m-0 p-0">
            <a [routerLink]=" ['/search']"><button type="button" class="btn exploreAllBtn" >
              <i class="fa fa-map-marker fa-lg m-r-1" area-hidden="true"></i><span>Explore All Destinations</span>
            </button></a>
          </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mobile_slider_arrow">
        <i *ngIf="stateCity=='inCity'" class="fa fa-chevron-right fa-2x p-t-8  cursor" (click)="slideCity()"></i>
      </div>
    </div>
  </div>
  <!-- End Top Destinations section -->

  <!-- Start Popular Activities section -->
  <div class="container-fluid width1600 hide_mobile">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-1 pad10 p-0-xs">
      <div class="text-center">
        <h2 class="text-center">
          Popular Activities
        </h2>
        <h5 class="darkGrey">Favourite <strong>experiences booked by travelers</strong></h5>
      </div>
      <div class="col-sm-1 col-md-1 mobile_slider_arrow">
        <i *ngIf="state=='out'" class="fa fa-chevron-left fa-2x p-t-4 pull-right cursor" (click)="animateMe()"></i>
      </div>
      <div class="row col-xs-12 col-sm-10 col-md-10 m-0 p-0 pad10 p-0-xs overflow-hidden whitespace-nowrap">
        <div class="col-xs-12 display-inline-block pad10 p-0-xs " [@slideInOut]='state'>
          <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[0]">
          </card>
          <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[1]">
          </card>
          <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[2]">
          </card>
          <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[3]"></card>
        </div>

        <div class="display-inline-block pad10 p-0-xs" [@slideInOut]='state'>
          <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[4]"></card>
          <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[5]"></card>
          <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[6]"></card>
          <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[7]"></card>
        </div>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1 mobile_slider_arrow">
        <i *ngIf="state=='in'" class="fa fa-chevron-right fa-2x p-t-4 cursor" (click)="animateMe()"></i>
      </div>
    </div>
  </div>
  <!-- End Popular Activities section -->
  <!-- mobile populer activity -->
  <div class="container-fluid width1600 hide_desk">
      <div class="col-xs-12 col-md-12 col-lg-12 m-t-1 pad10 p-0-xs">
        <div class="text-center">
          <h2 class="text-center">
            Popular Activities
          </h2>
          <h5 class="darkGrey">Favourite <strong>experiences booked by travelers</strong></h5>
        </div>
        <div class="col-md-1 mobile_slider_arrow">
          <i *ngIf="state=='out'" class="fa fa-chevron-left fa-2x p-t-4 pull-right cursor" (click)="animateMe()"></i>
        </div>
        <div class="row col-xs-12 col-sm-12 col-md-10 m-0 p-0 pad10 p-0-xs overflow-hidden whitespace-nowrap">
          <div class="col-xs-12 display-inline-block pad10 p-0-xs " [@slideInOut]='state'>
            <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[0]">
            </card>
            <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[1]">
            </card>
            <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[2]">
            </card>
            <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[3]"></card>
          </div>
  
          <div class="col-xs-12 display-inline-block pad10 p-0-xs" [@slideInOut]='state'>
            <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[4]"></card>
            <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[5]"></card>
            <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[6]"></card>
            <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.popularActivities[7]"></card>
          </div>
        </div>
        <div class="col-md-1 col-lg-1 mobile_slider_arrow">
          <i *ngIf="state=='in'" class="fa fa-chevron-right fa-2x p-t-4 cursor" (click)="animateMe()"></i>
        </div>
      </div>
    </div>
  <!-- end mobile popular activity -->

  <!-- Start Travel Inspiration section -->
  <div class="container-fluid p-0 m-t-1 width1600">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h2 class="text-center">
        Travel Inspiration
      </h2>
      <h5 class="darkGrey text-center">Curated suggestions based on seasons <strong>festivals and interests</strong></h5>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pad10 p-0-xs">
        <img [defaultImage]="'assets/images/lazyloadimg.webp'"
          [lazyLoad]="cloudinaryImageBaseUrl +'w_860,h_340/v1/'+ environment.cloudinaryServer + '/f/final_image_new.png'"
          onerror="this.src='../assets/images/altImage.jpg';" class="travelAltImage" alt="featured experience">
      </div>
      <card class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-b-15px pad10 p-0-xs" [cData]="homeData?.travelInspiration[1]"></card>
      <card class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-b-30px pad10 p-0-xs" [cData]="homeData?.travelInspiration[2]"></card>
      <card class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-b-30px pad10 p-0-xs" [cData]="homeData?.travelInspiration[3]"></card>
      <card class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-b-30px pad10 p-0-xs" [cData]="homeData?.travelInspiration[4]"></card>
    </div>
  </div>
  <!-- Ends Travel Inspiration section -->

  <!-- Start TicketsToDo Recomemded section -->
  <div class="container-fluid p-0 m-t-1 width1600 hide_mobile">
    <h2 class="text-center">
      TicketsToDo Recommended
    </h2>
    <h5 class="text-center darkGrey"><strong>Activities</strong> hand picked by our <strong>travel</strong> customers</h5>
    <div class="col-sm-1 col-md-1 mobile_slider_arrow">
      <i *ngIf="state == 'out'" class="fa fa-chevron-left fa-2x p-t-4 cursor pull-right" (click)="animateMe()"></i>
    </div>
    <div class="row col-xs-12 col-sm-10 col-md-10 overflow-hidden whitespace-nowrap p-0 m-0">
      <div class="col-xs-12 display-inline-block" [@slideInOut]='state'>
        <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[0]">
        </card>
        <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.TicketsToDoRecomended[1]">
        </card>
        <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.TicketsToDoRecomended[2]">
        </card>
        <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.TicketsToDoRecomended[3]"></card>
      </div>

      <div class="display-inline-block" [@slideInOut]='state'>
        <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[4]">
        </card>
        <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[5]">
        </card>
        <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[6]">
        </card>
        <card class="col-xs-12 col-sm-3 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[7]">
        </card>
      </div>
    </div>
    <div class="col-md-1 col-lg-1 mobile_slider_arrow">
      <i *ngIf="state=='in'" class="fa fa-chevron-right fa-2x p-t-4 cursor" (click)="animateMe()"></i>
    </div>
  </div>
 <!-- end TicketsToDo Recomemded section -->

  <!-- mobile Start TicketsToDo Recomemded section -->
  <div class="container-fluid p-0 m-t-1 width1600 hide_desk">
      <h2 class="text-center">
        TicketsToDo Recommended
      </h2>
      <h5 class="text-center darkGrey"><strong>Activities</strong> hand picked by our <strong>travel</strong> customers</h5>
      <div class="col-md-1 mobile_slider_arrow">
        <i *ngIf="state == 'out'" class="fa fa-chevron-left fa-2x p-t-4 cursor pull-right" (click)="animateMe()"></i>
      </div>
      <div class="row col-xs-12 col-sm-12 col-md-10 overflow-hidden whitespace-nowrap p-0 m-0">
        <div class="col-xs-12 display-inline-block" [@slideInOut]='state'>
          <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[0]">
          </card>
          <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.TicketsToDoRecomended[1]">
          </card>
          <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.TicketsToDoRecomended[2]">
          </card>
          <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0 display-inline-block" [cData]="homeData?.TicketsToDoRecomended[3]"></card>
        </div>
  
        <div class=" col-xs-12 display-inline-block" [@slideInOut]='state'>
          <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[4]">
          </card>
          <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[5]">
          </card>
          <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[6]">
          </card>
          <card class="col-xs-12 col-sm-12 col-md-3 m-b-23 p-l-1 p-l-0-xs p-0  display-inline-block" [cData]="homeData?.TicketsToDoRecomended[7]">
          </card>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 mobile_slider_arrow">
        <i *ngIf="state=='in'" class="fa fa-chevron-right fa-2x p-t-4 cursor" (click)="animateMe()"></i>
      </div>
    </div>
   <!-- Start TicketsToDo Recomemded section -->
  <br />

  <!-- EXPLORE ALL DESTINATIONS MODAL STARTS -->
  <div id="exploreDestination" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content col-10 m-0 p-0">
        <div class="modal-header m-0 p-0">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body m-0 p-0">
          <app-search-desktop [dropDown]="true" [loadRegions]="loadAllDestinations"></app-search-desktop>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- EXPLORE ALL DESTINATIONS MODAL ENDS -->

  <!-- End TicketsToDo Recomemded section -->
<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile (currency)="currencyChanged($event)">
</app-footer-mobile>
</div>