.navbar {
  z-index: 11;
}

.bottomMenu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}

.bottomMenu li a {
  color: grey;
}

#slideshow {
  margin: auto;
  position: relative;
}

.panelstyle {
  border-radius: 0px;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

font {
  color: grey;
  font-size: 13px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  height: 40em;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}


@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.panelCity {
  position: relative;
}

.citynameCity {
  color: white;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
}

.cityimageCity {
  border-radius: 2px;
  width: 100%;
  height: 14em;
}

.tile:hover {
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(0px, -4px);
  -webkit-transition: box-shadow 0.3s, transform 0.3s; /* Safari */
  transition: box-shadow 0.3s, transform 0.3s;
}

.tile:not(:hover) {
  transform: translate(0px, 4px);
  -webkit-transition: box-shadow 0.3s, transform 0.3s; /* Safari */
  transition: box-shadow 0.3s, transform 0.3s;
}

[hidden] {
  display: none;
}

.fifty {
  width: 50%;
  float: left;
}


* {
  box-sizing: border-box;
}

section {
  overflow: hidden;
  margin: 5px;
}

.js-mover {
  position: relative;
  width: 9999px;
}

figure {
  float: left;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 10px 0 0 5px;
  padding: 10px 15px;
  cursor: pointer;
}

/* Sidestep Firefox bug*/
[disabler="disabled"] {
  pointer-events: none;
  opacity: .5;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

@media (max-width: 768px) {
  .citynameCity{
    font-size: 16px;
    top: unset;
    left: 0px;
    bottom: -10px;
    text-align: left;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}




