<a class="panel panel-default panelCity col-xs-12 tile p-0 m-0 border0" routerLink="/city/{{city?.city_url}}">
    <img class="cityimageCity" [defaultImage]="'assets/images/lazyloadimg.webp'"
        [lazyLoad]="cloudinaryImageBaseUrl+'w_300,h_300/v1/'+ environment.cloudinaryServer +'/'+city?.image_path_name"
        onerror="this.src='../assets/images/altImage.jpg';" alt="{{city?.name ? city?.name : city?.displayname}}">
    <div>
        <h4 class="col-xs-12 citynameCity text-center">
            <b>{{city?.name ? city?.name : city?.displayname}}</b>
        </h4>
    </div>
</a>