<app-header [text]="text" class="bottomMenu"></app-header>
<app-header-mobile-nav></app-header-mobile-nav>
<div class="panel panel-default col-xs-12 col-md-4 col-md-offset-4 m-t-2">
  <div class="panel-body">
    <div *ngIf="success" class="p-2">
      <div class="col-xs-12 text-center p-2">
        <i class="fa fa-check-circle-o fa-5x appColor"></i>
      </div>
      <div>
        <p class="darkGrey p-1"> An email has been sent to your inbox. Just follow the instructions to replace your
          password.</p>
      </div>
      <a routerLink="" class="btn btn-danger btn-block btn-lg">
        OK
      </a>
    </div>

    <div *ngIf="!success" class="p-2">
      <h4>Reset Password</h4>
      <form [formGroup]="forgetpwdForm.getForm()" (ngSubmit)="submitForetpwdEmail()">

        <div class="form-group" [ngClass]="forgetpwdForm.hasError('email') ? 'has-error' : ''">
          <input type="text" class="form-control lg" name="username" formControlName="email"
                 placeholder="Please enter an email address">
          <span class="help-block has-error">
          <span *ngIf="forgetpwdForm.hasError('email')">
              {{ forgetpwdForm.getError('email') }}
          </span>
          <span class="help-block has-error" *ngIf="errors">
              {{ errors }}
            {{ errors?.to }}
          </span>
          </span>

        </div>
        <p class="col-md-12">Enter your email address and
          we will send you a link to reset your password.</p>
        <div class="form-group">
          <button type="submit" class="btn btn-danger btn-block btn-lg" [disabled]="this.forgetpwdForm.hasError('to')"
                  #submitButton>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer-desktop [text]="text"></app-footer-desktop>
<app-footer-mobile></app-footer-mobile>

