.filter {
  position: fixed;
  bottom: 2em;
  left: 30%;
  z-index: 99;
}

.roundLeft {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.roundRight {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.appplyButton {
  position: relative;
  bottom: 0px;
}
