
<div class="noMargin noPadding" *ngIf="searchData">
  <div class="noMargin noPadding">
    <div *ngFor="let activity of searchData.data.Activities">
      <card class="col-xs-12" [cData]="activity"></card>
    </div>
  </div>
  <div class="filter text-center">
    <div class="btn-group lightGrey dropup">
      <a class="btn btn-default dropdown-toggle roundLeft" data-toggle="dropdown">
        <i class="fa fa-sort"></i> Sort
      </a>
      <ul class="dropdown-menu">
        <li><a (click)="sortBy('recently')">Recently added</a></li>
        <li><a (click)="sortBy('price')">Price</a></li>
      </ul>
      <a class="btn btn-default roundRight" data-toggle="modal" data-target="#filterModal">
        <i class="fa fa-filter"></i> Filter</a>
    </div>
  </div>

  <app-footer-mobile (currency)="currencyChanged($event)"></app-footer-mobile>
</div>


<div *ngIf="!searchData && !loading">
  <div class="text-center m-t-5 m-b-10">
    <i class="fa fa-exclamation-triangle appColor fa-5x"></i>
    <h3><b>No activities available</b></h3>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="filterModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content noMargin">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center noPadding">Filter</h4>
      </div>
      <div class="modal-body noPadding">
        <div class="panel panel-default noPadding noMargin">
          <div class="panel-body noMargin noPadding">
            <div class="form-group col-xs-12 border noMargin text-right">
              <h6 class="control-label text-left">Destinations :</h6>
              <button class="btn btn-link" (click)="clearCityFilter()">Reset</button>
              <button class="btn btn-danger " (click)="filterByCities()">OK</button>
              <angular2-multiselect [data]="itemList"
                                    [(ngModel)]="selectedItems"
                                    [settings]="settings"
                                    (onSelect)="onItemSelect($event.id)"
                                    (onDeSelect)="OnItemDeSelect($event.id)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)">
              </angular2-multiselect>
            </div>
            <hr>
            <div class="form-group col-xs-12 border noMargin text-right">
              <h6 class="control-label text-left">Categories :</h6>
              <button class="btn btn-link" (click)="clearCategoryFilter()">Reset</button>
              <button class="btn btn-danger" (click)="filterByCategories()">OK</button>
              <angular2-multiselect [data]="categoryList"
                                    [(ngModel)]="selectedCategories"
                                    [settings]="categorySettings"
                                    (onSelect)="onCategorySelect($event.id)"
                                    (onDeSelect)="OnCategoryDeSelect($event.id)"
                                    (onSelectAll)="onSelectAllCategory($event)"
                                    (onDeSelectAll)="onDeSelectAllCategory($event)">
              </angular2-multiselect>
            </div>
            <div class="col-xs-12 border m-t-2">
              <p>Price range : <span>{{searchData?.data?.Activities[0]?.request_currency}} {{priceRange[0]}} -
          {{searchData?.data?.Activities[0]?.request_currency}} {{priceRange[1]}}</span></p>
              <div class="text-right noMargin noPadding">
                <button class="btn btn-link" (click)="clearPriceRange()">Reset</button>
                <button class="btn btn-danger" (click)="filterByPrice()">OK</button>
              </div>
              <div class="col-xs-12 border">
                <nouislider [connect]="true" [min]="0" [max]="5000" [step]="1" [(ngModel)]="priceRange"></nouislider>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="appplyButton">
        <a class="btn btn-danger btn-block" (click)="applyFilters()"> APPLY</a>
      </div>
    </div>
  </div>
</div>
